/**
 * Clearfix
 */
@mixin clearfix() {
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}
/**
 * Box Sizing
 * https://github.com/timrogers/sass-box-sizing-mixin
 */
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
/**
 * CSS3 Easing
 */
@mixin easing-transition() {
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
}