.give-donation-history {
  .give-table {
	table-layout: auto;

	.give-security-column {
	  float: left;

	  &.give-security-description-wrap {
		width: 75%;
		padding: 5px 7px;
	  }

	  &.give-security-button-wrap {
		width: 25%;
		padding: 25px 10px;
	  }
	}
  }
}