
.give-filter-component {
    display: flex;
    min-height: 30px;
    padding: 6px 8px;
    border: 1px solid #757575;
    border-radius: 2px;
    cursor: pointer;

    &__options {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 49px;
        padding: 6px 10px;
        gap: 8px;
        background: #CCCCCC;
        border-radius: 2px;

        span, svg {
            flex: 1;
        }
    }

}
