@use 'assets/src/css/Safe-Rem/functions' as *;

.paymentInformation {
    display: flex;
    flex-direction: column;
    gap: var(--givewp-spacing-6);
    padding: var(--givewp-spacing-5) var(--givewp-spacing-6) var(--givewp-spacing-8);
    border: solid 1px var(--givewp-grey-50);
    background-color: var(--givewp-shades-white);
    border-radius: 4px;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }


    .paymentGatewayLink {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: var(--givewp-spacing-5);

        a {
            grid-row: 2;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: var(--givewp-spacing-2);
            color: var(--givewp-blue-500);
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-decoration: none;
        }
    }

}

.actions {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    align-items: start;
    gap: var(--givewp-spacing-16) 0;
}


@media all and (max-width: 585px) {
    .legend {
        flex-direction: column;

        .paymentType {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}
