.paymentInformation {
    display: flex;
    flex-direction: column;
    gap: var(--givewp-spacing-6);
    padding: var(--givewp-spacing-5) var(--givewp-spacing-6) var(--givewp-spacing-8);
    border: solid 1px var(--givewp-grey-50);
    background-color: var(--givewp-shades-white);
    border-radius: 4px;

    .legend {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;


        & > legend {
            padding: 0;
            margin: 0;

            & > h2 {
                padding: 0;
                margin: 0;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: left;
                color: var(--givewp-grey-900);
            }
        }

        .paymentType {
            display: flex;
            gap: var(--givewp-spacing-6);
        }
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .actions {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: start;
        align-items: start;
        gap: var(--givewp-spacing-12) 0;

        .actionContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            cursor: pointer;

            .paymentMethod {
                display: flex;
                align-items: center;
                gap: .75rem;
            }

            .calendarPosition {
                position: absolute;
                top: 130%;
                left: 0;
            }

            .timePickerPosition {
                position: absolute;
                top: 100%;
                display: flex;
                align-items: center;
                gap: var(--givewp-spacing-1);

                input {
                    height: 2.25rem;
                    line-height: 2.25rem;
                    padding-right: 0;
                }

                select {
                    height: 2.25rem;
                    margin-left: .2rem;
                }


                > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    margin: 0 0 0 .65rem;
                    cursor: pointer;

                    > svg:hover {
                        -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
                        filter: invert(100%);
                    }
                }
            }

            > .buttonLabelContainer, .labelContainer {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0;
                background: none;
                border: none;
                cursor: pointer;

                > span:first-child {
                    display: flex;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: var(--givewp-grey-900);
                    margin-bottom: var(--givewp-spacing-3);

                    > svg {
                        margin-left: var(--givewp-spacing-3);
                        cursor: pointer;
                    }
                }

                .amount {
                    display: block;
                    font-size: 2rem;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.25;
                    letter-spacing: normal;
                    text-align: left;
                    color: var(--givewp-green-400);
                }

                .text {
                    font-size: 1rem;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    text-align: left;
                    color: var(--givewp-grey-900);
                }
            }
        }

        .actionContainer:nth-child(3) {
            width: 100%;
        }
    }

    .paymentGatewayLink {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: var(--givewp-spacing-5);

        a {
            grid-row: 2;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: var(--givewp-spacing-2);
            color: var(--givewp-blue-500);
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-decoration: none;
        }
    }

}

.DateInput_input {
    display: none !important;
}

@media (max-width: 700px) {
    .actions {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (max-width: 585px) {
    .legend {
        flex-direction: column;

        .paymentType {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}
