.give-obw-badge {
	position: absolute;
	top: 15px;
	right: 11px;
	display: flex;
	align-items: center;

	padding: 4px 10px;

	color: #18694c;
	background: #cbf4c9;
	border-radius: 2px;

	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 8.55319px;
	line-height: 12px;
	text-align: center;
	text-transform: uppercase;
}
