.give-obw-badge {
	position: absolute;
	top: 15px;
	right: 11px;
	display: flex;
	align-items: center;

	padding: 4px 10px;

	background: #69b868;
	border-radius: 2px;

	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 8.55319px;
	line-height: 12px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
