.givewp-donation-form__errors {
  width: 100%;
  padding: var(--givewp-spacing-3) var(--givewp-spacing-4);
  border-radius: 4px;
  border-color: var(--givewp-red-500);
  border-width: 1px 1px 1px 4px;
  border-style: solid;
  background-color: var(--givewp-shades-white);

  &__description {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: var(--givewp-spacing-4);
  }

  &__messages {
    margin-bottom: 0;
  }

  &__message {
    font-size: 0.875rem;
    color: var(--givewp-red-500);
  }
}
