.givewp-date-picker {
    &_input {
        .components-text-control__input {
            background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 8.333h-15m10.833-6.666V5M6.667 1.667V5M6.5 18.333h7c1.4 0 2.1 0 2.635-.272a2.5 2.5 0 0 0 1.092-1.093c.273-.535.273-1.235.273-2.635v-7c0-1.4 0-2.1-.273-2.635a2.5 2.5 0 0 0-1.092-1.092c-.535-.273-1.235-.273-2.635-.273h-7c-1.4 0-2.1 0-2.635.273a2.5 2.5 0 0 0-1.093 1.092C2.5 5.233 2.5 5.933 2.5 7.333v7c0 1.4 0 2.1.272 2.635a2.5 2.5 0 0 0 1.093 1.093c.535.272 1.235.272 2.635.272z" stroke="%238C8C8C" stroke-width="1.667" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            background-repeat: no-repeat;
            background-position: right 10px center;
        }
    }

    &_popover {
        .components-popover__content {
            position: relative;
            min-width: 320px;
            padding: 16px;

            .components-number-control {
                width: unset;
            }
        }

        .components-input-control__input {
            max-width: 50px;
        }

        &__close-button {
            position: absolute;
            cursor: pointer;
            top: 8px;
            right: 10px;
        }

        &__close-button:focus {
            border: none !important;
            box-shadow: none !important;
        }

        &__buttons {
            padding-top: 20px;
            display: flex;
            gap: 10px;
        }

        label {
            display: block;
            font-size: 13px;
            font-weight: 600;
            color: #0e0e0e;
            padding-bottom: 20px;
        }
    }
}
