.titleIcon {
    margin-top: -5px;
    margin-right: 20px;

    span {
        color: #f49420;
        font-size: 30px;
    }
}

.pagination {
    display: inline-flex;
    width: 100%;
    height: 32px;
    align-items: center;
    justify-content: flex-end;
}

.footerRow {
    padding-top: 20px;
    display: flex;
    width: 100%;
}
