.eventForm {
    .submitButton {
        border-radius: 0;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.43;
        padding: var(--givewp-spacing-2) var(--givewp-spacing-4);
        text-align: center;
    }
}

