.tooltip {
    position: absolute;
    top: 420px; // hacky but I can't think of any other way as the entire list table is wrapped in an element that has the overflow property set
    left: 100px;
    z-index: 9;
    width: 377px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    padding: 16px 24px 24px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
    border: solid 2px #6b7280;
    background-color: #fff;

    .close {
        cursor: pointer;
        position: absolute;
        right: 13px;
        top: 13px;
    }

    h3 {
        padding: 0;
        margin: 0;
        font-size: 16px;
        color: #060c1a;
    }

    .content {
        font-size: 14px;
        color: #1f2937;
        font-weight: normal;
    }
}
