#give-donor-dashboard {
	width: 100% !important;
	max-width: 920px !important;
	font-family: Montserrat, sans-serif !important;
	font-weight: 500;
	position: relative;
	margin: 0 auto;

	a {
		color: var(--give-donor-dashboard-accent-color);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&:visited {
			color: var(--give-donor-dashboard-accent-color);
		}
	}

	@media screen and (max-width: 920px) {
		max-width: 90% !important;
	}
}
