.give-paypal-commerce-cc-field {
	height: 38px;
}

.form-row .give-paypal-commerce-cc-field {
	box-sizing: border-box;
	width: 100%;
	border-radius: 0;
	outline: none;
	color: #333;
	background-color: #fdfdfd;
	border: 1px solid #ccc;
	margin: 0;
	padding: 0.5em;
}

.give-paypal-commerce-cc-field.give-fl-input {
	height: auto;
	min-height: 50px;
	line-height: inherit;
	padding: 14px 10px;
	background-color: #fff;
}

.give-paypal-commerce-cc-field-wrap .give-fl-is-active .give-fl-input {
	padding: 20px 12px 4px;
	transition: padding 0.2s ease-in-out, border 0.2s ease-in-out;
}

.give-paypal-commerce-cc-field-wrap .give-fl-label span {
	display: none;
}

.give-paypal-commerce-single-cc-field-wrap {
	border: 1px solid #ccc;
	background-color: #fdfdfd;
	padding: 10px;
	height: 40px;
	margin: 0 0 15px 0;
}

.give-form .give-paypal-commerce-cc-field.focus,
.give-form .give-paypal-commerce-cc-field:focus {
	background-color: #fff;
}
