/* stylelint-disable selector-class-pattern */
.give-donor-dashboard-card-control {
	margin-top: 10px;

	.give-donor-dashboard-card-control__label {
		font-family: Montserrat, Arial, Helvetica, sans-serif;
		font-weight: 500;
		font-size: 14px;
		line-height: 1;
		color: #555;
	}
}
