.givewp-donation-type-control {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-radius: 2px;
    border: solid 1px #757575;

    &__multi, &__set {
        flex: 1;
        text-align: center;
        padding: 7px 0;
        border-radius: 2px;
        color: #757575;

        &--selected {
            background: var(--givewp-shades-black);
            color: var(--givewp-shades-white);
        }

        &__input, input[type=checkbox] {
            display: none;
            border: 2px solid red;
        }
    }
}
