//TODO: Load variables with give-foundation
:root {
    //Color Palette
    --givewp-givewp-gutenberg-blue: #007cba;
    --givewp-wp-blue-blue-50: #2271b1;
    --givewp-green-25: #f2fff3;
    --givewp-green-50: #e5ffe6;
    --givewp-green-100: #cef2cf;
    --givewp-green-200: #a3d9a4;
    --givewp-green-300: #7cbf7e;
    --givewp-green-400: #62b265;
    --givewp-green-500: #459948;
    --givewp-green-600: #2d802f;
    --givewp-green-700: #19661c;
    --givewp-green-800: #0a400b;
    --givewp-green-900: #022603;
    --givewp-blue-25: #f2f9ff;
    --givewp-blue-50: #d9ecff;
    --givewp-blue-100: #a6d2ff;
    --givewp-blue-200: #73b9ff;
    --givewp-blue-300: #3d97f2;
    --givewp-blue-400: #0c7ff2;
    --givewp-blue-500: #0b72d9;
    --givewp-blue-600: #0857a6;
    --givewp-blue-700: #074a8c;
    --givewp-blue-800: #052f59;
    --givewp-blue-900: #001326;
    --givewp-emerald-25: #f2fff9;
    --givewp-emerald-50: #d9ffec;
    --givewp-emerald-100: #9df2c8;
    --givewp-emerald-200: #6df2b0;
    --givewp-emerald-300: #3df297;
    --givewp-emerald-400: #0cf27f;
    --givewp-emerald-500: #0bd972;
    --givewp-emerald-600: #08a657;
    --givewp-emerald-700: #078c4a;
    --givewp-emerald-800: #05592f;
    --givewp-emerald-900: #002613;
    --givewp-yellow-25: #fffdf2;
    --givewp-yellow-50: #fff9d9;
    --givewp-yellow-100: #fff0a6;
    --givewp-yellow-200: #ffe873;
    --givewp-yellow-300: #ffdf40;
    --givewp-yellow-400: #f2cc0c;
    --givewp-yellow-500: #d9b60b;
    --givewp-yellow-600: #a68c08;
    --givewp-yellow-700: #8c7607;
    --givewp-yellow-800: #594b05;
    --givewp-yellow-900: #262000;
    --givewp-orange-800: #402806;
    --givewp-orange-900: #1a0f00;
    --givewp-orange-700: #73480b;
    --givewp-orange-400: #f29718;
    --givewp-orange-500: #d98715;
    --givewp-orange-300: #f2a63d;
    --givewp-orange-200: #ffc473;
    --givewp-orange-100: #ffdaa6;
    --givewp-orange-600: #a66710;
    --givewp-orange-50: #ffefd9;
    --givewp-red-800: #590f00;
    --givewp-orange-25: #fffaf2;
    --givewp-red-900: #260600;
    --givewp-red-700: #8c1700;
    --givewp-red-500: #d92d0b;
    --givewp-red-400: #f2320c;
    --givewp-red-300: #ff6040;
    --givewp-red-200: #ff8a73;
    --givewp-red-100: #ffb5a6;
    --givewp-red-600: #a62308;
    --givewp-red-50: #ffdfd9;
    --givewp-red-25: #fff4f2;
    --givewp-grey-900: #0e0e0e;
    --givewp-grey-800: #262626;
    --givewp-grey-700: #404040;
    --givewp-grey-500: #737373;
    --givewp-grey-400: #8c8c8c;
    --givewp-grey-300: #a6a6a6;
    --givewp-grey-200: #bfbfbf;
    --givewp-grey-100: #dadada;
    --givewp-grey-600: #595959;
    --givewp-grey-50: #e6e6e6;
    --givewp-grey-25: #f2f2f2;
    --givewp-grey-5: #fafafa;
    --givewp-shades-white: #fff;
    --givewp-shades-black: #000;
    --givewp-purple-700: #120566;
    --givewp-purple-900: #03001a;
    --givewp-purple-800: #090040;
    --givewp-purple-500: #2511a6;
    --givewp-purple-400: #2b13bf;
    --givewp-purple-600: #19078c;
    --givewp-purple-300: #3a21d9;
    --givewp-purple-200: #5f4cd9;
    --givewp-purple-50: #beb6f2;
    --givewp-purple-100: #8c7ee5;
    --givewp-purple-25: #f4f2ff;

    //Spacing and layout
    --givewp-spacing-1: 0.25rem;
    --givewp-spacing-2: 0.5rem;
    --givewp-spacing-3: 0.75rem;
    --givewp-spacing-4: 1rem;
    --givewp-spacing-5: 1.25rem;
    --givewp-spacing-6: 1.5rem;
    --givewp-spacing-7: 1.75rem;
    --givewp-spacing-8: 2rem;
    --givewp-spacing-9: 2.25rem;
    --givewp-spacing-10: 2.5rem;
    --givewp-spacing-11: 2.75rem;
    --givewp-spacing-12: 3rem;
    --givewp-spacing-13: 3.25rem;
    --givewp-spacing-14: 3.5rem;
    --givewp-spacing-15: 3.75rem;
    --givewp-spacing-16: 4rem;
    --givewp-spacing-17: 4.25rem;
    --givewp-spacing-18: 4.5rem;
    --givewp---spacing-19: 4.75rem;
    --givewp-spacing-20: 5rem;

    --givewp-rounded-2: 0.125rem;
    --givewp-rounded-4: 0.125rem;
    --givewp-rounded-6: 0.375rem;
    --givewp-rounded-8: 0.5rem;
    --givewp-rounded-12: 0.75rem;
    --givewp-rounded-16: 1rem;
    --givewp-rounded-24: 1.5rem;
    --givewp-rounded-full: 999px;
    --givewp-rounded-none: 0rem;
}

