.give-obw {
	min-height: 100vh;
	height: auto;
	width: 100%;

	color: #424242;
	font-family: Montserrat, arial, sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;

	background: #e5e5e5;
}
