.givewp-fields-checkbox {
    &__description {
        margin-left: calc(1.25em + 0.375em);
    }
}

.givewp-fields-amount {

}

.givewp-fields {
    legend {
        font-size: var(--givewp-font-size-paragraph-lg);
        font-weight: 500;
        line-height: 1.5;
        color: var(--givewp-grey-900);
    }

    label > span {
        font-size: var(--givewp-font-size-paragraph-lg);
        font-weight: 500;
        line-height: 1.5;
        color: var(--givewp-grey-900);
    }
}

input[type="radio"] {
    appearance: none;
    background-color: transparent;
    margin: 0;

    font: inherit;
    color: var(--givewp-primary-color);
    width: 1.25rem;
    height: 1.25rem;
    border: solid 1px var(--givewp-grey-400);
    border-radius: 50%;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;

    &::before {
        content: "";
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--givewp-primary-color);
    }

    &:checked::before {
        transform: scale(1);
    }

    &:focus {
        border-color: var(--givewp-primary-color);
        box-shadow: 0 0 3px var(--givewp-primary-color);
    }
}
