.givewp-donation-form {
    &__steps {
        padding: 0;
        border-radius: 6px;
        color: #696969;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        overflow: hidden;
        position: relative;

        &-header {
            position: relative;
            display: grid;
            align-items: center;
            grid-template-columns: 10% 1fr 10%;
            width: 100%;
            background: #fbfbfb;
            border-bottom: 1px solid #f2f2f2;
            z-index: 99;

            button,
            p {
                margin-bottom: 0;
            }
        }

        &-header-title {
            position: absolute;
            width: 80%;
            text-align: center;
            z-index: -1;
            text-overflow: ellipsis;
            margin-left: 10%;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        &-header-title-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--givewp-grey-900);
            font-weight: 600;
        }

        &-header-previous-button {
            padding: 0 20px;
            height: 50px;
            background-image: var(--givewp-icon-arrow-left);
            background-color: transparent;
            background-position: center;
            border: none;
            color: transparent;
            font-size: 12px;
            border-radius: 6px 0 0 0;
            overflow: hidden;
            cursor: pointer;

            &:focus {
                box-shadow: none;
            }
        }

        &-progress {
            border-radius: 0;
            height: 0.5rem;
        }

        &-body {
            padding: 2rem 2rem 0 2rem;
        }

        &-footer {
            padding-bottom: var(--givewp-spacing-4);
        }

        &-footer-secure {
            display: flex;
            column-gap: 0.5rem;
            width: 100%;
            padding: var(--givewp-spacing-4);
            font-size: var(--givewp-font-size-paragraph-md);
            color: var(--givewp-grey-900);
            align-items: center;
            justify-content: center;
        }

        &-footer-secure-icon,
        &-footer-secure-text {
            color: var(--givewp-secondary-color);
        }
    }

    &__step {
        &--hidden {
            display: none;
        }

        &--visible {
            visibility: visible;
        }
    }
}

.givewp-layouts-multiStepForm {
    display: flex;
    flex-direction: column;
    gap: var(--givewp-spacing-10);

    &__form {
        display: flex;
        flex-direction: column;
        gap: var(--givewp-spacing-10);
    }
}
