.donationFormsEditAction:not(:has(~ .donationFormsMakeAsDefaultAction)) {
    padding-right: .5rem;
}

.donationFormsEditAction:not(:has(~ .donationFormsMakeAsDefaultAction)) + * {
    padding-right: .25rem;
}

.donationFormsEditAction:has(~ .donationFormsMakeAsDefaultAction) + * {
    padding-right: .75rem;
}

.donationFormsEditAction:has(~ .donationFormsMakeAsDefaultAction) + * + * {
    padding-right: .25rem;
}
