.givewp-loading-notice {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-weight: 500;

	.givewp-loading-notice__card {
		padding: 1.5em 3em;
		box-shadow: 0 3px 6px rgba(68, 68, 68, 0.05), 0 3px 6px rgba(68, 68, 68, 0.05);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		border-radius: 5px;
		overflow: hidden;
		margin-top: 100px;
		margin-bottom: 120px;
		background: #fff;
		width: 18em;
		padding-top: 2.5em;

		h2 {
			font-size: 20px;
			margin-bottom: 18px;
			font-weight: 500;
			line-height: 1.2;
		}

		p {
			font-size: 13px;
			font-weight: 400;
			margin: 0;
		}
	}
}
