.timePickerPosition {
    position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    gap: var(--givewp-spacing-1);

    input {
        height: 2.25rem;
        line-height: 2.25rem;
        padding-right: 0;
    }

    select {
        height: 2.25rem;
        margin-left: .2rem;
    }

}

.timeFieldActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirmSelection, .cancelSelection {
    font-size: .9rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    width: 3rem;
}


.cancelSelection {
    color: var(--givewp-red-500);

}

.confirmSelection {
    text-align: center;
    color: var(--wp-blue-blue-50);
}
