.give-donor-profile-field-row {
	display: flex;
	align-items: center;
	margin: 0;

	> * {
		margin: 0 10px;
		flex: 1;
	}

	> *:first-child {
		margin-left: 0;
	}

	> *:last-child {
		margin-right: 0;
	}
}
