.give-terms-and-conditions {
    display: block;

    &-container {
        justify-content: flex-start;
        align-Items: center;
        gap: .5rem;

        &__form-display {
            margin-top: 1rem;
            line-height: 150%;
            max-height: 17.5rem;
            min-height: 6.5rem;
            overflow-y: scroll;
            border: 1px solid var(--givewp-grey-200, #BFBFBF);
            border-radius: 5px;
            padding: 0 1rem;
            background: var(--givewp-shades-white, #fff);
        }

        &__link-display {
            display: inline-block;
            min-width: fit-content;
            color: var(--givewp-grey-80, #595959);
            font-size: 1rem;
        }
    }

    .components-checkbox-control__label {
        font-size: 1rem;
        font-weight: 500;
        color: #595959;
    }
}


