.give-donor-profile-stripe-inputs {
	margin-top: 10px;

	.give-donor-profile-stripe-inputs__label {
		font-family: Montserrat, Arial, Helvetica, sans-serif;
		font-weight: 500;
		font-size: 14px;
		line-height: 1;
		color: #555;
	}

	.give-donor-profile-stripe-inputs__card {
		margin-top: 8px;
		border: 1px solid #b8b8b8;
		overflow: hidden;
		padding: 14px 14px;
		box-shadow: 0 0 0 0 #4fa651;
		transition: box-shadow 0.1s ease;
		border-radius: 4px;
	}

	.give-donor-profile-stripe-inputs__card--focused {
		box-shadow: 0 0 0 1px #4fa651;
	}
}
