.give-obw-introduction {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.give-obw-introduction__content {
	width: 932px;
	height: 589px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
