.givewp-reports-settings__toggle {
	margin-left: 16px;
	display: flex;
	position: relative;

	.givewp-reports-settings__panel {
		display: block;
		position: absolute;
		padding: 16px;
		width: 160px;
		background: #fff;
		right: 0;
		top: 40px;
		border-radius: 5px;
		box-shadow: 0 3px 6px rgba(68, 68, 68, 0.05), 0 3px 6px rgba(68, 68, 68, 0.05);
		z-index: 99;
	}
}
