{
  "presets": [
    [
      "@babel/preset-env",
      {
		"targets": {
		  "browsers": "last 2 version, > 1%, not dead, ie >= 10"
		}
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-react-jsx",
      {
        "pragma": "wp.element.createElement"
      }
    ],
	"@babel/plugin-transform-runtime"
  ]
}
