{
  "presets": [
    [
      "@babel/preset-env",
      {
		"targets": {
		  "node": "current"
		}
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/transform-react-jsx",
      {
        "pragma": "wp.element.createElement"
      }
    ],
	"@babel/plugin-transform-runtime"
  ]
}
