includes:
    - vendor/timeweb/phpstan-enum/extension.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 0
    paths:
        - src/API/
        - src/ConnectClient/
        - src/Container/
        - src/Donations/
        - src/DonationSummary/
        - src/DonorDashboards/
        - src/Donors/
        - src/Email/
        - src/Exports/
        - src/Form/
        - src/FormAPI/
        - src/Framework/
        - src/Helpers/
        - src/LegacyPaymentGateways/
        - src/License/
        - src/Log/
        - src/MigrationLog/
        - src/MultiFormGoals/
        - src/Onboarding/
        - src/PaymentGateways/
        - src/Promotions/
        - src/Receipt/
        - src/Repositories/
        - src/Revenue/
        - src/Route/
        - src/ServiceProviders/
        - src/Session/
        - src/Subscriptions/
    excludePaths:
        - src/Form/LegacyConsumer/ServiceProvider.php # Needs a closer look
        - src/Framework/FieldsAPI/Concerns/HasType.php
        - src/Framework/Migrations/
        - src/Framework/PaymentGateways/
        - src/PaymentGateways/Actions/CreateSubscriptionAction # phpstan isn't finding inherited constructor for LegacySubscriber
    bootstrapFiles:
      - give.php
    scanDirectories:
      - includes/
      - src/LegacySubscriptions/includes/

services:
  -
    class: Give\PHPStan\Log\LogMethodsReflectionExtension
    tags:
      - phpstan.broker.methodsClassReflectionExtension
