includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 0
    paths:
        - src/Framework/Database
    bootstrapFiles:
      - give.php
    scanDirectories:
      - includes
