<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    syntaxCheck="true"
>
    <testsuites>
        <testsuite name="Legacy Unit Tests">
            <directory prefix="tests-" suffix=".php">./tests/includes/legacy</directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./tests/Unit</directory>
            <directory prefix="Test" suffix=".php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature Tests">
            <directory suffix="Test.php">./tests/Feature</directory>
            <directory prefix="Test" suffix=".php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">./templates/</directory>
            <directory suffix=".php">./tests/</directory>
            <directory suffix=".php">./tmp/</directory>
            <directory suffix=".php">./languages/</directory>
            <directory suffix=".php">./tests/</directory>
            <directory suffix=".php">./templates/</directory>
            <directory suffix=".php">./includes/libraries/</directory>
            <directory suffix=".php">./includes/admin/tools/export</directory>
            <directory suffix=".php">./includes/admin/reporting/tools/</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./tmp/clover.xml" charset="UTF-8"/>
    </logging>
</phpunit>
