<?xml version="1.0" encoding="UTF-8"?>
<phpunit
		bootstrap="tests/bootstrap.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		verbose="true"
		syntaxCheck="true"
>
	<testsuites>
		<testsuite name="Give Test Suite">
			<directory prefix="tests-" suffix=".php">./tests/unit-tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<directory suffix=".php">./templates/</directory>
			<directory suffix=".php">./tests/</directory>
			<directory suffix=".php">./tmp/</directory>
			<directory suffix=".php">./languages/</directory>
			<directory suffix=".php">./tests/</directory>
			<directory suffix=".php">./templates/</directory>
			<directory suffix=".php">./includes/libraries/</directory>
			<directory suffix=".php">./includes/admin/reporting/export</directory>
			<directory suffix=".php">./includes/admin/reporting/tools/</directory>
		</blacklist>
	</filter>
</phpunit>