<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="tests-" suffix=".php">./tests/unit-tests</directory>
		</testsuite>
	</testsuites>
</phpunit>