.givewp-fields-anonymous-donations {
    .components-checkbox-control__label {
        font-size: 1rem;
        font-weight: 500;
        line-height: 24px;
        color: var(--givewp-gray-100);
    }

    .components-base-control__help {
        display: inline-block;
        margin-inline-start: calc(var(--checkbox-input-size, 20px) + 12px);
        font-size: 0.875rem;
        line-height: 1rem;
        color: var(--givewp-grey-700);

        .components-checkbox-control__help {
            margin-inline-start: 0;
        }
    }
}
