.list {
    max-height: 432px;
    overflow: scroll;
}

.list {
    > * {
        background: #DDDDDD;
    }
    > :nth-of-type(even) {
        background: #FFFFFF;
    }
}

.default-item {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}