/*--------------------------------------------------------------
# Review
--------------------------------------------------------------*/

/**
 * Single donor with user image, details, and review text.
 *
 * 1. Card Container wraps the Header, Content & Details. It displays above the tribute message.
 * 2. Header includes the image and donor name.
 * 3. Content includes the donor comment
 * 4. Details include the forms title & amount given.
 */

/*--------------------------------------------------------------
# Spacing
--------------------------------------------------------------*/

$donor-space: 20px;
$donor-color: #00160A;
$donor-space-eighth: $donor-space * 0.125;
$donor-space-quarter: $donor-space * 0.25;
$donor-space-fifth: $donor-space * 0.2;
$donor-space-half: $donor-space * 0.75;
$donor-space-three-quarters: $donor-space * 0.75;
$donor-space-and-quarter: $donor-space * 1.25;
$donor-space-and-half: $donor-space * 1.5;
$donor-space-and-three-quarters: $donor-space * 1.75;
$donor-space-double: $donor-space * 2;
$donor-space-triple: $donor-space * 3;

.give-donor {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    max-height: 100%;
    padding: 5% 0;
    margin-bottom: $donor-space;
    border: 1px solid $give-card-border;
    background: #fff;
    color: $donor-color;
    transition: all 0.2s ease-out;

    &-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
    }

    /* [1] */
    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        align-content: space-between;

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid $give-card-border;
            margin-bottom: 12px;

            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
            }

            &__name_initial {
                position: absolute;
            }

            &[data-anonymous-donation='0'] img[src*='anonymous-user.svg'],
            &[data-anonymous-donation='1'] .give-donor-header__name_initial {
                visibility: hidden;
            }

            &[data-anonymous-donation='0'][data-has-valid-gravatar='0'] {
                border: 1px solid $give-card-border;
            }
        }

        &__name {
            width: 100%;
            margin: 0 0 16px 0;
            font-size: 1.5rem;
            font-weight: 600;
            text-align: center;
            line-height: 20px;
        }
    }

    /* [2] */

    &-wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-content {
        flex: 1;
        width: 100%;
        margin-bottom: 14px;
        padding-left: 14px;
        border-left: 2px solid #219653;
        font-weight: 400;
        letter-spacing: 0;

        p {
            width: 100%;
            color: $donor-color;
            font-size: 1rem;
            font-style: italic;
            margin: 0 !important;
        }

        &__excerpt &__read-more {
            color: #69B86B;
            cursor: pointer;
            white-space: nowrap;
        }

        &__excerpt + &__comment {
            display: none;
        }
    }


    /* [3] */

    &-details {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__wrapper {
            display: flex;
            flex-direction: column;

            span:first-child {
                color: $donor-color;
                font-size: 1.25rem;
                font-weight: 500;
                letter-spacing: 0;
                text-align: left;
            }

            span:last-child {
                color: $donor-color;
                font-size: .875rem;
                font-weight: 400;
                letter-spacing: 0;
                text-align: left;
            }
        }

        &__total {
            color: #219653;
            font-size: 1.55rem;
            font-weight: 700;
            letter-spacing: 0;
            text-align: right;
        }
    }

    /* [4] */

    &-tribute{
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 32px;
        margin-top: 22px;
        background: #DEEAE3;

        span {
            svg {
                display: block;
                height: 22px;
                width: 22px;
                margin-left: 42px;
            }
        }

        &__message {
            margin-left: 12px;
            font-size: .9rem;
            color: $donor-color;


            span:last-child {
                font-weight: 600;
            }
        }
    }
}

.give-donor-wall-modal {
    p:last-child {
        margin-bottom: 0;
    }
}
