/*--------------------------------------------------------------
# Review
--------------------------------------------------------------*/

/**
 * Single donor with user image, details, and review text.
 *
 * 1. Header wraps the user photo and details. It displays above review text.
 * 2. Image is the image of the donor.
 * 3. Details include the donor's name, amount given, and date of the donation.
 */

/*--------------------------------------------------------------
# Spacing
--------------------------------------------------------------*/

$donor-space: 20px;
$donor-color: #333;
$donor-space-eighth: $donor-space * 0.125;
$donor-space-quarter: $donor-space * 0.25;
$donor-space-fifth: $donor-space * 0.2;
$donor-space-half: $donor-space * 0.5;
$donor-space-three-quarters: $donor-space * 0.75;
$donor-space-and-quarter: $donor-space * 1.25;
$donor-space-and-half: $donor-space * 1.5;
$donor-space-and-three-quarters: $donor-space * 1.75;
$donor-space-double: $donor-space * 2;
$donor-space-triple: $donor-space * 3;

.give-donor {
	border: 1px solid $give-card-border;
	background: #FFF;
	font-size: 1em;
	margin-bottom: $donor-space;
	padding: $donor-space;
	position: relative;
	transition: all 0.2s ease-out;
	width: 100%;

	&__header { /* [1] */
		align-items: center;
		display: flex;
	}

	&__image { /* [2] */
		border: 1px solid $give-card-border;
		background: #FFF;
		text-align: center;
		flex-basis: $donor-space * 3;
		flex-shrink: 0;
		line-height: $donor-space * 3;
		height: $donor-space * 3;
		margin-right: $donor-space-half;
		overflow: hidden;
		border-radius: 50%;

		img {
			border-radius: 50%;
			display: block;
			height: $donor-space * 3;
			object-fit: cover;
			width: 100%;
		}
	}

	&__details { /* [3] */
		flex-grow: 1;
		overflow: hidden;
	}

	&__name {
		font-size: 1em;
		font-weight: 400;
		color: $donor-color;
		line-height: 1.3;
		margin: 0;
	}

	&__timestamp {
		color: $donor-color;
		display: block;
		font-size: 75%;
	}

	&__content {
		color: $donor-color;
		margin-top: $donor-space-half;
		position: relative;

		p {
			font-size: 1em;
			margin: 0 0 $donor-space;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

}

.give-donor-wall-modal {
	p:last-child {
		margin-bottom: 0;
	}
}
