/*--------------------------------------------------------------
# Review
--------------------------------------------------------------*/

/**
 * Single donor with user image, details, and review text.
 *
 * 1. Header wraps the user photo and details. It displays above review text.
 * 2. Image is the image of the donor.
 * 3. Details include the donor's name, amount given, and date of the donation.
 */

/*--------------------------------------------------------------
# Spacing
--------------------------------------------------------------*/

$donor-space: 20px;
$donor-color: #00160A;
$donor-space-eighth: $donor-space * 0.125;
$donor-space-quarter: $donor-space * 0.25;
$donor-space-fifth: $donor-space * 0.2;
$donor-space-half: $donor-space * 0.75;
$donor-space-three-quarters: $donor-space * 0.75;
$donor-space-and-quarter: $donor-space * 1.25;
$donor-space-and-half: $donor-space * 1.5;
$donor-space-and-three-quarters: $donor-space * 1.75;
$donor-space-double: $donor-space * 2;
$donor-space-triple: $donor-space * 3;

.give-donor {
    font-family: 'Montserrat' !important;
	border: 1px solid $give-card-border;
	background: #fff;
	color: $donor-color;
	margin-bottom: $donor-space;
	position: relative;
	transition: all 0.2s ease-out;
    width:100%;


    .give-card-container {
        padding: $donor-space $donor-space-and-three-quarters;
    }

    /* [1] */
	&-header {
		display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 198px;
        font-size: 1rem;

        &__image {

            /* [2] */
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            overflow: hidden;
            border-radius: 50%;

            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
            }

            .give-donor-header__name_initial {
                position: absolute;
            }

            &[data-anonymous-donation='0'] img[src*='anonymous-user.svg'],
            &[data-anonymous-donation='1'] .give-donor-header__name_initial {
                visibility: hidden;
            }

            &[data-anonymous-donation='0'][data-has-valid-gravatar='0'] {
                border: 1px solid $give-card-border;
            }
        }

        &__name {
            font-size: 1em;
            font-weight: 700;
            letter-spacing: 0;
            line-height: 0 !important;
            margin: 1.2rem 0 !important;
            text-align: center;
        }

    }


    /* [2] */
    &-content {
        width: 100%;
        border-left: 2px solid #219653;
        margin-bottom: 24px;
        padding-left: 10px;
        font-size: 0.875rem;
        font-weight: 400;
        letter-spacing: 0;
        text-align: left;

        p {
            color: $donor-color;
            font-size: 1em !important;
            line-height: 1.25rem !important;
            width: 100%;
            margin: 0 !important;

        }

        &:first-child {
            margin-top: 0 !important;
        }

        & :last-child {
            margin-bottom: 0 !important;
        }

        &__read-more {
            color: #69B86B;
            font-size: 1rem !important;
            cursor: pointer;
            white-space: nowrap;
        }

        &__excerpt + &__comment {
            display: none;
        }

    }


    /* [3] */
    &-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
		overflow: hidden;

        &__wrapper {
            display: flex;
            flex-direction: column;
            font-size: 1rem;
        }

        &__form_title {
            font-size: 1em;
            font-weight: 500;
            line-height: $donor-space;
            letter-spacing: 0;
            text-align: left;
        }

        &__amount_donated {
            color: #00160A;
            font-size: .75em;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0;
            text-align: left;

        }

        &__total {
            color: #219653;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: $donor-space-and-quarter;
            letter-spacing: 0;
            text-align: right;
        }


    }


    /* [4] */
    &-tribute{
        display: flex;
        align-items: center;
        background: #DEEAE3;
        padding-left: 32px;
        margin-bottom: $donor-space-half;
        font-size: 0.75rem;

        &__message {
            margin-left: 6px;
            line-height: 32px;
            letter-spacing: 0;
            text-align: left;

            & > span {
                font-weight: 600;
                font-size: 1rem !important;
            }
        }

    }


    &__timestamp {
		color: $donor-color !important;
		display: block;
		font-size: 75% !important;
		line-height: 1.3 !important;
	}



}

.give-donor-wall-modal {
	p:last-child {
		margin-bottom: 0;
	}
}
