/**
 * Clearfix
 */
@mixin clearfix() {
	*zoom: 1;

	&::before,
	&::after {
		content: ' ';
		display: table;
	}

	&::after {
		clear: both;
	}
}

.give-clearfix {
	@include clearfix;
}

/**
 * Box Sizing
 * https://github.com/timrogers/sass-box-sizing-mixin
 */
@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model; // Safari <= 5
	-moz-box-sizing: $box-model; // Firefox <= 19
	box-sizing: $box-model;
}

/**
 * CSS3 Easing
 */
@mixin easing-transition() {
	-moz-transition: 0.2s all linear;
	-o-transition: 0.2s all linear;
	transition: 0.2s all linear;
}

//Labels
@mixin give-label() {
	padding: 0.2em 0.4em 0.3em;
	font-size: 11px;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25em;

	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

@mixin give-label-gray() {
	background-color: #929292;
}
@mixin give-label-orange() {
	background-color: #ffba00;
}

.give-item-label {
	@include give-label();
}

.give-item-label-gray {
	@include give-label-gray();
}

.give-item-label-orange {
	@include give-label-orange();
}

.give-item-label {
	@include give-label();
}

//Fields
@mixin give-currency() {
	background-color: lighten($light-gray, 2%);
	border-top: 1px solid $borders;
	border-bottom: 1px solid $borders;
	color: $dark;
	margin: 0;
	padding: 0 12px;
	height: 35px;
	line-height: 35px;
	font-size: $font-size-medium;
	@include box-sizing(border-box);
}

@mixin give-input() {
    border: 1px solid $borders;
    background: #fff;
    border-radius: 0;
    height: 35px;
    line-height: 35px;
    padding: 0 12px;
    margin: 0;
    font-size: $font-size-medium;
    @include box-sizing(border-box);
}

@mixin give-radio() {
    --size: 1.25em;

    position: relative;
    appearance: none;
    margin: 0;
    content: '';
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1em;
    transition: box-shadow 200ms ease-in-out;
    border-radius: 9999px;
    background-color: #fff;

    &::before,
    &::after {
        content: '';
        display: block;
        border-radius: inherit;
    }

    &::before {
        width: var(--size);
        height: var(--size);

        box-shadow: inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.25);
        border: 0.0625em solid #b4b9be;
    }

    &::after {
        width: calc(var(--size) * 0.375);
        height: calc(var(--size) * 0.375);

        position: absolute;
        top: 50%;
        left: calc(var(--size) / 2);
        transform: translate(-50%, -50%);

        background-color: var(--give-primary-color);

        opacity: 0;
        transition: opacity 200ms ease-in-out;
    }

    &:checked::after {
        opacity: 1;
    }
}

@mixin give-img-type-loader {
    background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==') !important;
    background-repeat: no-repeat !important;
    background-position: center 100px !important;
    height: 100%;
}
