/**
 * Give CSS Variables
 */

$green: #7ad03a;
$red: #a00;
$orange: #ffba00;
$blue: #2ea2cc;
$dark: #333;
$borders: #ccc;
$light-gray: #EDEDED;
$give-green: #66BB6A;

//Status
$status-default: #777;
$status-complete: $green;
$status-refunded: $status-default;
$status-subscription: #5bc0de;
$status-revoked: #d9534f;

// Settings
$settings-tabs-bg: #DDDDDD;
$settings-tabs-tg-hover: #ebebeb;
$settings-tabs-tg-active: #f1f1f1;

// Borders.
$give-card-border: #e5e5e5;

//Font sizes
$font-size-medium: 18px;

$primary: #007ba4;
// Primary color for buttons (alt)
$primarytext: desaturate(lighten($primary, 50%), 18%);
// Text on primary color bg

$secondary: desaturate(lighten($primary, 40%), 21%);
// Secondary buttons
$secondarytext: desaturate(darken($secondary, 60%), 21%);
// Text on secondary color bg

$highlight: adjust-hue($primary, 150deg);
// Prices, In stock labels, sales flash
$highlightext: desaturate(lighten($highlight, 50%), 18%);
// Text on highlight color bg

$contentbg: #fff;
// Content BG - Tabs (active state)
$subtext: #777;
// small, breadcrumbs etc

$float-labels: (
	base-height : 30px,
	border-radius : 0,
	margin-bottom : 0,
	color-background : inherit,
	color-background-active : inherit,
	color-background-focus : inherit,
	color-border : #ccc,
	color-border-active : #ccc,
	color-border-focus : #ccc,
	color-text : #333,
	line-height : normal,
	font-weight : 700,
	parent : '[id*="give-form"]',
);
