// @mixin mobile {
// 	@media screen and ( max-width: 480px ) {
// 		@content;
// 	}
// }

// @mixin tablet {
// 	@media screen and ( max-width: 786px ) {
// 		@content;
// 	}
// }

// @mixin tabel-to-desktop {
// 	@media screen and ( min-width: 787px ) and ( max-width: 1024px ) {
// 		@content;
// 	}
// }

// .give-donation-grid-container {
// 	display: flex;
// 	flex-flow: row wrap;

// 	.give-donation-grid-item {
// 		display: flex;
// 		margin-bottom: .5rem;
// 	    padding: 0 .25rem;

// 		.box {
// 			display: flex;
// 			flex-flow: column;
// 			padding: 1rem;
// 			width: 100%;
// 			box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
// 			border-radius: 2px;
// 			overflow: hidden;
// 			transition: box-shadow .15s ease;

// 			&:hover {
// 				box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);

// 				.progress.active .bar {
// 					animation: progress-bar-stripes 2s linear infinite;
// 				}
// 			}

// 		img {
// 				height: 200px;
// 				object-fit: cover;
// 			}
// 		}

// 		.donation-grid-featured-image {
// 			margin: -1rem -1rem 0 -1rem;
// 			padding: .5rem;
// 		}

// 		.donation-grid-title {
// 			margin: 1rem 0 .25rem 0;
// 			font-size: 1.15rem;
// 			font-weight: bold;
// 		}

// 		.give-goal-progress .give-progress-bar {
// 			height: 12px;
// 		}

// 		.raised {
// 			margin-bottom: 4px;
// 			font-size: 0.8rem;
// 			color: #999;
// 		}

// 		.donor-grid-excerpt {
// 			margin-bottom: 1.5rem;
// 			font-size: .90rem;
// 		}

// 		.grid-donate-now {
// 			margin: auto 0 0 0;
// 			padding: .5rem;
// 			background-color: #68bb6c;
// 			color: #fff;
// 			font-weight: bold;
// 			text-align: center;
// 			text-decoration: none;
// 			text-transform: uppercase;
// 			border-radius: 2px;
// 			transition: background-color .15s ease;
// 			cursor: pointer;

// 			&:hover {
// 				background-color: #429446;
// 			}
// 		}
// 	}

// 	.give-grid-col-1 {
// 		width: 100%;
// 	}

// 	.give-grid-col-2 {
// 		width: 50%;

// 		@include mobile {
// 			width: 100%;
// 		}
// 	}

// 	.give-grid-col-3 {
// 		width: calc( 100% / 3 );

// 		@include tablet {
// 			width: 50%;
// 		}

// 		@include mobile {
// 			width: 100%;
// 		}
// 	}

// 	.give-grid-col-4 {
// 		width: 25%;

// 		@include tabel-to-desktop {
// 			width: calc( 100% / 3 );
// 		}

// 		@include tablet {
// 			width: 50%;
// 		}

// 		@include mobile {
// 			width: 100%;
// 		}
// 	}
// }

.give-donation-grid-item-form {
	position: relative;
	margin: 0 auto;
	max-width: 550px;
	background-color: #fff;
	padding: 1rem;
	height: 85vh;
	overflow-y: auto;

	#give-payment-mode-select,
	#give_purchase_form_wrap {
		display: block !important;
	}

	.give-btn-reveal,
	.give-btn-modal {
		display: none !important;
	}
}

// .progress {
// 	overflow: hidden;
// 	background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
// 	background-repeat: repeat-x;
// 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
// 	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

// 	.bar {
// 		background-image: linear-gradient(top, #149bdf, #0480be);
// 		background-repeat: repeat-x;
// 		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
// 		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
// 		box-sizing: border-box;
// 		transition: width 0.6s ease;
// 	}
// }

// .progress-striped .bar {
// 	background-color: #89949B;
// 	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
// 	background-size: 40px 40px;
// }

// .progress-danger .bar {
// 	background-color: #89949B;
// 	background-image: linear-gradient(top, #89949B, #c43c35);
// 	background-repeat: repeat-x;
// 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
// }

// .progress-danger.progress-striped .bar {
// 	background-color: #1ABC9C;
// 	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
// }


// @keyframes progress-bar-stripes {
// 	from {
// 		background-position: 0 0;
// 	}

// 	to {
// 		background-position: 40px 0;
// 	}
// }

.mfp-hide {
	display: none;
}

.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	opacity: 0;
}

.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: opacity 0.25s ease-out;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transform: translateY(-200px);
	transition: all 0.25s ease-out;
}

.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	transform: translateY(0);
}

.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	transform: translateY(-200px);
}

.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.25s ease-out;
}

.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}

.white-popup {
	position: relative;
	background: #fff;
	font-size: 16px;
	width: auto;
	max-width: 600px;
	margin: 20px auto;
	padding: 1rem 2rem;
	margin-top: 60px;
	border-top: 5px solid rgba(0, 0, 0, 0);
	line-height: 1.5;
	box-shadow: 0px 15px 10px -5px rgba(0, 0, 0, .15);
	max-height: 80vh;
	overflow: auto;
}


.my-mfp-zoom-in .zoom-animation {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

.my-mfp-zoom-in.mfp-ready .zoom-animation {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.my-mfp-zoom-in.mfp-removing .zoom-animation {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}

.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

/**
 * Fade-move animation for second dialog
 */
.popup-fade-slide .zoom-animation {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

.popup-fade-slide.mfp-ready .zoom-animation {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

.popup-fade-slide.mfp-removing .zoom-animation {
	opacity: 0;
	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

.popup-fade-slide.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

.popup-fade-slide.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.popup-fade-slide.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-close:hover {
	background-color: rgba(0, 0, 0, 0);
}