/*---------------------------------
Embed Form aka IFrame Form
-----------------------------------*/
.give-embed-form-wrapper {
	width: 100% !important;
	position: relative;

	.iframe-loader {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		pointer-events: none;
		z-index: 99;
	}

	iframe {
		width: 100% !important;
	}

	&.is-hide {
		position: fixed;
		left: -9999px;
	}

	&.modal {
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
		max-width: none !important;
		padding: 0 !important;
		margin: 0 !important;
		overflow: hidden auto;

		.modal-inner-wrap {
			position: absolute;
			top: 0;
			z-index: 1001;
			width: 100%;
		}

		.modal-content {
			position: relative;
			margin: 0 auto;
			max-width: 572px;
			width: 100%;
		}

		iframe {
			margin-top: 15px;
		}

		.close-btn-wrap {
			text-align: center;
			position: absolute;
			width: 100%;
			margin-bottom: 20px;
		}

		.close-btn {
			padding: 4px 12px;

			background: black;
			color: white !important;
			border-radius: 24px;
			line-height: initial;
			text-decoration: none;
			z-index: 1002;
			outline: none;
			font-size: 1em;

			&:hover {
				background: red;
			}
		}

		&::after {
			content: '';
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.8);
			z-index: 1000;
			overflow: hidden;
		}
	}
}

@keyframes spin {
	from {
		transform: rotateZ(0deg);
	}

	to {
		transform: rotateZ(180deg);
	}
}
