@use "sass:string";

$MIN_REM_SIZE: 16px;

/**
 * Safely use rem values in distributed code for unpredictable environments (e.g. for use inside a WordPress plugin).
 *
 * This does not support IE 11 and a few other outdated browser.
 * A Sass mixin could be used to provide a fallback value for this.
 *
 * @param {Number} $value
 * @return {String} e.g. for $value: 3 and $MIN_REM_SIZE: 16px => max(3rem, 48px)
 */
@function safe-rem($value) {
    @return string.unquote("max(#{$value}rem, #{$value * $MIN_REM_SIZE})");
}


.give-form-grid {
    display: flex;
    height: 100%;

    &-media {
        position: relative;
        min-width: 40%;
        border-radius: 2px;

        img {
            min-width: 100%;
            border-radius: 2px;
            object-fit: cover;
        }

        &__tags {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            padding: 10px 16px;
            border-radius: 2px;
            gap: 10px;

            > span {
                padding: 4px 10px;
                border-radius: 5px;
                font-size: safe-rem(.975);
                font-weight: 600;
            }
        }
    }

    &-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        width: 100%;

    }
}

#row-media {
    max-width: 40%;
    min-width: 40%;

    img{
        width: 100%;
        min-height:100%;
        border-radius: 2px;
        object-fit: cover;
    }
}

.give-form-grid-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding:  18px;

    .give-form-grid-media__tags_no_image {
        display: flex;
        background: none;
        margin-bottom: 12px;
        border-radius: 2px;
        gap: 10px;

        > span {
            padding: 4px 10px;
            border-radius: 5px;
            font-size: safe-rem(.975);
            font-weight: 600;
        }

    }

    & > h3 {
        font-size: safe-rem(1.375) !important;
        font-weight: 700 !important;
        margin: 0 !important;
    }

    & > p {
        font-size: 1rem;
        font-weight: 400;
    }

    & > button {
        background-color: transparent!important;
        padding: 0 !important;
        border: none;
        font-size: safe-rem(1);
        font-weight: 400;
        text-decoration: underline;
        text-underline-offset: 5px;
        cursor: pointer;

    }
}

.give-form-grid-btn {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 0.125rem solid var(--give-primary-color);
    border-radius: 0.4rem;
    background-color: var(--give-primary-color);
    color: #fff;
    text-align: center;
    font-family: inherit;
    font-size: safe-rem(1);
    font-weight: 600;
    line-height: 1.2;

    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.give-form-grid-progress {
    background: #F6F6F6;
    padding: 10px 20px;
}

.form-grid-raised {
    display: flex;
    justify-content: space-between;
    background: #F6F6F6;


    &__details {
        display: flex;
        flex-direction: column;
        font-size: 1rem;

        & > span:first-child {
            font-weight: 700 !important;
            font-size: 1rem;
        }

        &  > span:last-child {
            font-size: safe-rem(0.875);
            font-weight: 400;

        }

        &_donations{
            text-align: right;
        }
    }
}

.give-form-grid-progress-bar {
    margin: 12px 0;
    .give-progress-bar {
        position: relative;
        height: 12px;
        border-radius: 25px;
        background: #D9DFDB;
        box-shadow: 0px 2px 2px -1px #0000001C inset;

        > span {
            display: block;
            height: 100%;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
        }
    }
}

