

.give-form-grid {
    display: flex;

    &-media {
        min-width: 38%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.give-form-grid-content {
    flex: 1;
    padding: 24px ;

    & > h3 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 18px;
    }

    & > p {
        font-size: .875rem;
        line-height: 24px;
    }

    & > button {
        background-color: transparent!important;
        padding: 0;
        border: none;
        font-size: 1rem;
        text-decoration: underline;
        text-underline-offset: 5px;
        cursor: pointer;
    }
}

