.sortButton {
    display: flex;
    align-items: center;
    background: none;
    color: #2271b1;
    border: none;
    cursor: pointer;
    transform: translateX(-10px);

    .text {
        white-space: nowrap;
    }

    svg {
        display: block;
        transform: scale(112%);
        margin: 3px 0 3px 8px;

        >path {
            &:hover {
                fill: #0878b0 !important;
            }
        }
    }
}

:global(.list-table-page-container--new-design) {
    .sortButton {
        color: var(--givewp-neutral-900);
        padding: 0;
        transform: none;

        svg {
            &[data-sorting="true"] {
                >path {
                    fill: var(--givewp-neutral-900) !important;
                }
            }

            >path {
                fill: var(--givewp-neutral-200);

                &:hover {
                    fill: var(--givewp-neutral-900) !important;
                }
            }
        }
    }
}
