.give-donation-amount {
    position: relative;
}

.give-cs-mini-dropdown {
    position: absolute !important;
    left: 0.625rem;
    background: none;
    color: rgba(255, 255, 255, 0);
    margin-left: 0.625rem;
    border: 0;
    border-right: 0.125rem dotted #C1C1C1 !important;

    &:focus {
        outline: none;
        padding: 1.25rem !important;
        border-radius: 0.3125rem;
        border: 0.0625rem solid var(--give-primary-color) !important;
    }


    ~ span.give-currency-symbol {
        position: absolute;
        padding-right: 1.875rem !important;
        font-size: 2rem;

        &::after {
            border-color: #6f6f6f transparent transparent;
        }
    }
}

.give-currency-switcher-msg {
    margin-bottom: 1.375rem;
    display: flex;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    padding: 1.25em;
    color: #333;
    text-align: center;
    background: #fff;
    border-radius: 0.3125em;
    border: 0.0625em solid rgba(255, 255, 255, 0);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.12);
}

.give-currency-switcher-msg-wrap.give-hidden{
    display: none;
}
