#give-final-total-wrap {
    display: none;
}

.give-secure-donation-badge-bottom {
    margin-top: 2rem;
    display: inline-flex;
    justify-self: center;
    align-items: center;
    column-gap: 0.5em;
    font-size: 0.8125rem;
    line-height: 1;
}
