.give-donation-summary-table-wrapper {
    background: none;

    thead th:first-of-type {
        font-size: 1.25rem;
        font-weight: 400;

        @media screen and (min-width: $desktopMinWidth) {
            font-size: 1.5rem;
        }
    }
}

.give-donation-summary-section {
    .heading {
        display: none;
    }

    .give-donation-summary-table-wrapper {
        background: none;
    }

    tr {
        padding: 1.25rem;
    }

    td {
        font-weight: 400;
        line-height: 1.2;

        @media screen and (min-width: $desktopMinWidth) {
            font-size: 1.25rem;
        }
    }

    .give-donation-summary-help-text {
        font-size: 0.875rem;
    }
}
