.give-donation-summary-section {
    .heading {
        display: none;
    }

    .give-donation-summary-table-wrapper {
        background: none;
    }

    button {
        flex-shrink: 0;
        display: inline-flex;
        align-items: baseline;
        column-gap: 0.25em;
        appearance: none;
        background: none;
        border: 0;
        padding: 0;
        line-height: inherit;
        text-align: start;
        font-size: inherit;
        color: var(--give-primary-color);
        cursor: pointer;
        white-space: nowrap;

        & svg path {
            fill: var(--give-primary-color);
        }
    }

    table {
        // Shared border properties
        --border: 0.0625rem solid #ddd;

        width: 100%;
        border-collapse: collapse;
        line-height: 1.2;
    }

    // Selects th in thead and tfoot. Selects td in tbody.
    tr > :first-of-type { text-align: start; }
    tr > :last-of-type { text-align: end; }

    thead, tfoot {
        color: #333;
    }

    thead {
        border-bottom: var(--border);

        th {
            padding-bottom: 1.25rem;
            vertical-align: baseline;

            // Donation Summary title
            &:first-of-type {
                font-size: 1.25rem;
                font-weight: 400;

                @media screen and (min-width: $desktopMinWidth) {
                    font-size: 1.5rem;
                }
            }

            &:last-of-type button {
                font-size: 0.875rem;
            }
        }
    }

    tbody {
        tr + tr {
            border-top: var(--border);
        }

        td {
            vertical-align: baseline;
            padding: 1.25rem 0;
        }

        @media screen and (min-width: $desktopMinWidth) {
            font-size: 1.125rem;
        }
    }

    tfoot {
        border-top: var(--border);
        font-size: 1.125rem;
        font-weight: 700;
        color: #333;

        th {
            padding-top: 1.75rem;
        }
    }

    .give-donation-summary-help-text {
        display: inline-flex;
        column-gap: 0.25rem;
        align-items: start;
        margin-top: 0.5rem;
        font-size: 0.875rem;
        color: #8c8c8c;

        > img {
            position: relative;
            top: 0.1em;
        }
    }
}
