.give-amount-heading {
	padding-bottom: 0.75rem;
	margin-bottom: 1rem;
	border-bottom: 0.0625rem solid #ddd;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.3;
	color: #333;
}

.give-total-wrap + .give-donation-levels-wrap {
	margin-top: 1.625rem;
}

.give-donation-amount {
	display: flex;
	align-items: center;
	border: 0.125rem solid #424242;
	border-radius: 0.5rem;

	&:focus-within {
		border-color: var(--give-primary-color);
	}

	& label {
		@include visually-hidden;
	}


	& .give-currency-symbol {
		padding: 1.1875rem;
		font-size: 1.375rem;
		font-weight: 500;
		color: #555;
	}

	& .give-text-input {
		width: 100%;
		padding: 1.1875rem;
		border: 0;
		border-top-right-radius: inherit;
		border-bottom-right-radius: inherit;
		text-align: right;
		font-family: inherit;
		font-size: 2.625rem;
		font-weight: 600;
		line-height: 1;
		color: #333;
		outline: 0;

		@media screen and (min-width: $desktopMinWidth) {
			font-size: 3.125rem;
		}
	}
}

.give-donation-levels-wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	gap: 0.3125rem;
	list-style: none;
}

.give-donation-level-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1rem 0.5rem;
	border: 0.125rem solid var(--give-primary-color);
	border-radius: 0.5rem;
	background-color: var(--give-primary-color);
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
	font-family: inherit;
	font-weight: 600;

	transition-property: background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in;

	&.give-default-level {
		background-color: #fff;
		color: var(--give-primary-color);
	}

	&.give-btn-level-custom {
		font-size: 1rem;
		line-height: 1.25;
	}

	& .give-formatted-currency {
		display: flex;
		gap: 0.15rem;
		align-items: start;
		line-height: 1;

		.give-currency-symbol {
			font-size: 0.875rem;
			font-weight: 500;
			transform: translateY(0.05rem);
		}
	}
}


