.give_errors {
    --error-color: #ff3c3c;
    --error-color-background: #ffeded;

    display: flex;
    flex-direction: column;
    padding: 2rem 4.375rem 0;
    margin-bottom: -1.7rem;
    row-gap: 1rem;

    .give_error {
        position: relative;
        background-color: var(--error-color-background);
        border: solid 2px var(--error-color);
        border-radius: 0.2rem;
        padding: 0.3rem;

        .give-notice-close {
            position: absolute;
            top: 0.1rem;
            right: 0.1rem;
            height: 1.5rem;
            cursor: pointer;
        }
    }
}

