.give-embed-form .give-select-fund-row {
    padding-block-start: 1.875rem !important;
    padding-block-end: 0 !important;
    padding-inline: 0 !important;
}

.give-funds-select {
    margin-block: 0.9375rem;
    @include give-input;
}
