@import '~@givewp/css/plugins/magnific-popup.scss';
@import '~@givewp/css/frontend/modal.scss';

.give-modal {
    p {
        font-size: 1em;
        line-height: 1.6;
        margin: 1em 0;
    }
}
