body {
    display: flex;
    justify-content: center;
    font-family: var(--give-primary-font, inherit), sans-serif;
    color: #444;
}

#give-receipt,
.give-form-wrap {
    width: min(100%, $containerMaxWidth);
}

.give-container-boxed {
    .give-form-wrap {
        background-color: #fff;

        @media screen and (min-width: $desktopMinWidth) {
            border-radius: 0.5rem;
            box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
        }
    }

    @media screen and (min-width: $desktopMinWidth) {
        padding: 1rem;
    }
}

.give-form {
    border-radius: inherit;
}
