.give-payment-details-section {
    & legend:first-of-type {
        width: 100%;
        padding-bottom: 0.75rem;
        margin-bottom: 1rem;
        border-bottom: 0.0625rem solid #ddd;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.3;
        color: #333;

        @media screen and (min-width: $desktopMinWidth) {
            font-size: 1.5rem;
        }
    }
}

#give-gateway-radio-list {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    margin-top: 2rem;
    list-style: none;
}

#give-gateway-radio-list > li {
    --gateway-option-padding: 1.375em;
    --gateway-option-gap: 0.55em;

    display: flex;
    flex-wrap: wrap;
    border: 0.0625em solid #ddd;
    border-radius: 0.25em;
    background-color: #fafafa;
    color: #333;
    // This controls the scale of the radio + label
    font-size: 1rem;

    &.give-gateway-option-selected {
        background-color: #fff;
        border-color: #ddd;

        & .give-gateway-details {
            border-color: #ddd;
        }
    }
}

.give-gateway {
    @include give-radio;

    padding-top: var(--gateway-option-padding);
    padding-bottom: var(--gateway-option-padding);
    padding-left: var(--gateway-option-padding);
    padding-right: calc(var(--gateway-option-gap) / 2);
    border-radius: unset;
    border-top-left-radius: inherit;

    &::before,
    &::after {
        border-radius: 9999px;
    }

    &::after {
        left: calc(var(--size) / 2 + var(--gateway-option-padding));
    }

    &:focus {
        outline: 0.0625rem solid var(--give-primary-color);
    }
}

.give-gateway-option {
    flex-grow: 1;
    padding-top: var(--gateway-option-padding);
    padding-bottom: var(--gateway-option-padding);
    padding-right: var(--gateway-option-padding);
    padding-left: calc(var(--gateway-option-gap) / 2);
    font-weight: 700;
    font-size: 1em;
    line-height: 1.2;
}

.give-gateway-details {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    width: 100%;
    border-top: 0.0625rem solid #ddd;
    padding: 2rem 1.375rem;
    font-size: 0.9375rem;
    line-height: 1.5;

    > * {
        grid-column: span 6;
    }

    > .give-ffm-form-row-half,
    > .give-ffm-form-row-third,
    > .give-ffm-form-row-thirds,
    > .form-row-wide {
        width: revert;
        padding: revert;
        float: revert;
    }

    > .give-ffm-form-row-third {
        grid-column: span 2;
    }

    > .give-ffm-form-row-half {
        grid-column: span 3;
    }

    > .give-ffm-form-row-thirds {
        grid-column: span 4;
    }

    > .form-row-wide {
        grid-column: span 6;
    }
}

#give-purchase-button {
    width: 100%;
    margin-top: 2rem;
}
