.give-payment-details-section {
	& legend:first-of-type {
		width: 100%;
		padding-bottom: 0.75rem;
		margin-bottom: 1rem;
		border-bottom: 0.0625rem solid #ddd;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.3;
		color: #333;
	}
}
