.give-personal-info-section {
    & fieldset {
        display: grid;
        gap: 1.5rem;
        grid-auto-columns: 1fr;
    }

    & legend:first-of-type {
        width: 100%;
        padding-bottom: 0.75rem;
        margin-bottom: 1rem;
        border-bottom: 0.0625rem solid #ddd;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.3;
        color: #333;

        @media screen and (min-width: $desktopMinWidth) {
            font-size: 1.5rem;
        }
    }

    & label {
        @include visually-hidden;
    }

    & .give-input[type='text'],
    & .give-input[type='email'] {
        width: 100%;
        padding: 1.1875rem;
        border: 0.078rem solid #666;
        border-radius: 0.25rem;
        box-shadow: inset 0 0.08em 0.4em rgba(0, 0, 0, 0.15);
        background-color: #fff;
        color: #828382;
        font-size: 1rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
    }
}
