@use 'fn';

.give-receipt-classic {
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.305862);
    border-radius: 8px;

    .give-receipt-title {
        position: relative;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: fn.scaleBetween(1.75rem, 2.1875rem);
        font-weight: 600;
        line-height: 1.2;
        text-shadow: 0 0.07em 0.14em rgba(0, 0, 0, 0.15);
    }

    .social-sharing {
        display: flex;
        flex-direction: column;
        background: #fbfbfb;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        padding: 24px 20px 26px 20px;
        margin-left: 0;
        margin-right: 0;

        .instruction {
            margin: 0 0 14px 0;
            line-height: 1.5;
            grid-column: span 2;
            font-size: 15px;
            color: #555555;
            text-align: center;
        }

        .btn-row {
            margin-top: 9px;
            display: flex;
            align-items: center;
            margin-right: auto;
            margin-left: auto;
        }

        .social-btn {
            display: flex;
            align-items: center;
            font-size: 16px;
            padding: 14px 27px;
            margin: 0 14px;
            border: none !important;

            > i {
                margin-left: 12px;
                font-size: 22px;
            }

            &.facebook-btn {
                background-color: #3b5998 !important;
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: #4668b1 !important;
                }
            }

            &.twitter-btn {
                background-color: #00acee !important;
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: #00b7ff !important;
                }
            }

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .receipt-sections {
        .details {
            .headline {
                color: #333333;
                font-weight: 600;
                font-size: 1.25rem;
                padding: 0.9375rem 0;
                border-bottom: 0.0625rem solid #f2f2f2;
            }
            .details-table {
                display: flex;
                flex-direction: column;
                margin-bottom: 1.25rem;

                .details-row {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    padding: 0.9375rem 0;
                    border-bottom: 0.065rem solid #f2f2f2;
                    font-size: 1.125rem;
                    font-weight: 500;

                    > i {
                        align-self: center;
                        padding-right: 0.625rem;
                        color: #989898;
                    }

                    .detail {
                        white-space: nowrap;
                        color: #6b6b6b;
                        text-align: start;
                    }

                    .value {
                        flex: 1;
                        white-space: pre-wrap;
                        text-align: end;
                    }

                    &.total {
                        font-weight: 700;
                    }
                }

                &.payment-details {
                    border-bottom: 0.125rem solid #f2f2f2;
                }
            }

            .details-table:empty {
                display: none !important;
            }
        }
    }

    .dashboard-link-container {
        display: flex;
        padding-block-end: fn.scaleBetween(1.5rem, 3.625rem);
        padding-inline: fn.scaleBetween(1.5rem, 4.25rem);
        justify-content: space-between;
        align-items: center;

        .dashboard-link {
            // This gets rid of the whitespace between the link and the arrow
            display: inline-flex;
            column-gap: 0.25rem;
            color: var(--give-primary-color);

            &::after {
                content: '\f30b';
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                text-decoration: none;
            }
        }

        .download-btn {
            font-size: inherit;
            padding: 12px 27px;
        }
    }

    #give-pdf-receipt-link,
    #give-pdf-receipt-link:visited {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;

        &::after {
            display: inline-block;
            content: '\f1c1';
            font-family: 'Font Awesome 5 Free', serif;
            font-weight: 900;
            font-size: 26px;
            margin-left: 15px;
            line-height: 1;
        }
    }
}

.give-receipt-classic {
    .receipt-sections {
        padding-block-start: 1.875rem;
        padding-block-end: 0.625rem;
        padding-inline: fn.scaleBetween(1.25rem, 4.25rem);
    }

    .headline {
        display: inline-flex;
        align-items: center;
        column-gap: 0.5rem;

        &::before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 0.875rem;
        }
    }

    // Donor Details
    .details:nth-child(1) .headline::before {
        content: '\f007';
    }

    // Donation Details
    .details:nth-child(2) .headline::before {
        content: '\f004';
    }
}
