@mixin give-input {
    width: 100%;
    padding: 1.1875rem;
    border: 0.078rem solid #666;
    border-radius: 0.25rem;
    box-shadow: inset 0 0.08em 0.4em rgba(0, 0, 0, 0.15);
    background-color: #fff;
    color: #828382;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

.give-label {
    display: flex;
    padding: 10px 0;

    .give-required-indicator {
        margin-left: 5px;
        color: #a00;
    }
}

.give-square-cc-fields,
.give-stripe-cc-field,
.give-stripe-single-cc-field-wrap,
form[id*='give-form'] .form-row textarea,
form[id*='give-form'] .form-row input[type='text'],
form[id*='give-form'] .form-row input[type='tel'],
form[id*='give-form'] .form-row input[type='email'],
form[id*='give-form'] .form-row input[type='password'],
form[id*='give-form'] .form-row input[type='url'],
form[id*='give-form'] .form-row textarea.required,
form[id*='give-form'] .form-row input[type='text'].required,
form[id*='give-form'] .form-row input[type='tel'].required,
form[id*='give-form'] .form-row input[type='email'].required,
form[id*='give-form'] .form-row input[type='password'].required,
form[id*='give-form'] .form-row input[type='url'].required,
#give-recurring-form .form-row textarea,
#give-recurring-form .form-row input[type='text'],
#give-recurring-form .form-row input[type='tel'],
#give-recurring-form .form-row input[type='email'],
#give-recurring-form .form-row input[type='password'],
#give-recurring-form .form-row input[type='url'],
form.give-form .form-row textarea,
form.give-form .form-row input[type='text'],
form.give-form .form-row input[type='tel'],
form.give-form .form-row input[type='email'],
form.give-form .form-row input[type='password'],
form.give-form .form-row input[type='url'],
.give-input-field-wrapper {
    @include give-input;
}

.form-row select,
.give-select {
    @include give-input;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.66016 7.19531C5.90625 7.44141 6.31641 7.44141 6.5625 7.19531L11.8945 1.89062C12.1406 1.61719 12.1406 1.20703 11.8945 0.960938L11.2656 0.332031C11.0195 0.0859375 10.6094 0.0859375 10.3359 0.332031L6.125 4.54297L1.88672 0.332031C1.61328 0.0859375 1.20312 0.0859375 0.957031 0.332031L0.328125 0.960938C0.0820312 1.20703 0.0820312 1.61719 0.328125 1.89062L5.66016 7.19531Z' fill='%23A2A3A2'/%3E%3C/svg%3E"),
        linear-gradient(to bottom, #fff 0%, #fff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
}

.give-repeater-table {
    width: 100%;
}

.give-section-break {
    padding-bottom: 0.75rem;
    border-bottom: 0.0625rem solid #ddd;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.3;
    color: #333;

    @media screen and (min-width: $desktopMinWidth) {
        font-size: 1.5rem;
    }
}

[data-field-type='checkbox'],
[data-field-type='radio'] {
    fieldset {
        display: grid;
        row-gap: 0.75rem;
    }

    label {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        padding: 0;
    }
}

.form-row input[type='radio'] {
    --gateway-option-radio-size: 1.25em;

    position: relative;
    appearance: none;
    margin: 0;
    content: '';
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1em;
    transition: box-shadow 200ms ease-in-out;

    &::before,
    &::after {
        content: '';
        display: block;
        border-radius: 9999px;
    }

    &::before {
        width: var(--gateway-option-radio-size);
        height: var(--gateway-option-radio-size);

        box-shadow: inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.25);
        border: 0.0625em solid #b4b9be;
    }

    &::after {
        width: calc(var(--gateway-option-radio-size) * 0.375);
        height: calc(var(--gateway-option-radio-size) * 0.375);

        position: absolute;
        top: 50%;
        left: calc(var(--gateway-option-radio-size) / 2);
        transform: translate(-50%, -50%);

        background-color: var(--give-primary-color);

        opacity: 0;
        transition: opacity 200ms ease-in-out;
    }

    &:checked::after {
        opacity: 1;
    }
}
