.give-tributes-dedicate-donation {
    margin-block-start: 0.625rem;
    padding-block-end: 0.625rem;

    .give-tributes-show-wrap {
        margin-block-start: 1.25rem;
    }

    legend,
    .give-tributes-legend {
        @extend .give-amount-heading;
        grid-column: span 12;
        margin: 0 !important;
        padding-block: 0.625rem !important;
        padding-inline: 0 !important;
        line-height: 1.2;
        inline-size: 100%;
    }

    .give-tributes-label {
        display: block;
        font-weight: 500;
        padding-block: 0.625rem;
        padding-inline: 0;
    }

    .give_tributes_info_wrap {
        margin-block-start: 1.25rem;
    }

    [type="radio"] {
        margin-inline-end: 0.5rem !important;
    }
}
