.give-tributes-dedicate-donation {
    margin-block-start: 0.625rem;
    padding-block-end: 0.625rem;

    .give-tributes-show-wrap {
        margin-block-start: 1.25rem;
    }

    legend,
    .give-tributes-legend {
        margin: 0 !important;
        padding-block: 0.625rem !important;
        padding-inline: 0 !important;
        font-size: 1.1875rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
    }

    .give-tributes-label {
        display: block;
        padding-block: 0.625rem;
        padding-inline: 0;
    }

    .give_tributes_info_wrap {
        margin-block-start: 1.25rem;
    }

    [type="radio"] {
        margin-inline-end: 0.5rem !important;
    }
}
