.give-tributes-dedicate-donation {
    margin-top: 10px;
    padding-bottom: 10px;

    .give-tributes-show-wrap {
        margin-top: 20px;
    }

    legend,
    .give-tributes-legend {
        margin: 0 !important;
        padding: 10px 0 !important;
        font-size: 1.1875rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
    }

    .give-tributes-label {
        display: block;
        padding: 10px 0;
    }

    .give_tributes_info_wrap {
        margin-top: 20px;
    }
}
