.give-form-header {
	background-color: var(--give-primary-color);
	background-image:
		/* translucent tint colour */
		linear-gradient(to right, var(--give-header-background-tint), var(--give-header-background-tint)),
		/* image */
		var(--give-header-background-image);
	background-size: cover;
	color: #fff;
}
