@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.visually-hidden {
    @include visually-hidden;
}

@import 'variables';
@import 'reset';

// Icons
@import '~@givewp/fontawesome/fontawesome';
@import '~@givewp/fontawesome/regular';
@import '~@givewp/fontawesome/solid';
@import '~@givewp/fontawesome/brands';

// Context
@import 'page';
@import 'section';

// Common (e.g. reusable components)
@import 'button';
@import 'text-input';

// Specifics
@import 'header';
@import 'donation-amount';
@import 'personal-info';
@import 'payment-details';

// Receipt
@import 'receipt';
