.givewp-campaign-donors-block {
    padding: 1.5rem 0;
}

.givewp-campaign-donors-block * {
    font-family: 'Inter', sans-serif;
}

.givewp-campaign-donors-block__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.givewp-campaign-donors-block__title {
    color: var(--givewp-neutral-900);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.56;
    margin: 0;
}

:is(.givewp-campaign-donors-block__donate-button, .givewp-campaign-donors-block__empty-button) button.givewp-donation-form-modal__open {
    background: none;
    border-radius: 0.5rem;
    border: 1px solid var(--givewp-campaign-donors-block__primary-color);
    color: var(--givewp-campaign-donors-block__primary-color) !important;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.43;
    padding: 0.25rem 1rem !important;
}

:is(.givewp-campaign-donors-block__donate-button, .givewp-campaign-donors-block__empty-button) button.givewp-donation-form-modal__open:hover {
    background: var(--givewp-campaign-donors-block__primary-color);
    color: var(--givewp-shades-white) !important;
}

.givewp-campaign-donors-block__donors {
    display: grid;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

.givewp-campaign-donors-block__donor {
    align-items: center;
    background-color: var(--givewp-shades-white);
    border-radius: 0.5rem;
    border: 1px solid var(--givewp-neutral-50);
    display: flex;
    gap: 0.75rem;
    padding: 1rem;
}

.givewp-campaign-donors-block__donor-avatar {
    display: flex;
    align-items: center;
}

.givewp-campaign-donors-block__donor-avatar img {
    border-radius: 100%;
    height: 2.5rem;
    object-fit: cover;
    width: 2.5rem;
}

.givewp-campaign-donors-block__donor-info {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.25rem;
}

.givewp-campaign-donors-block__donor-name {
    color: var(--givewp-neutral-900);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
}

.givewp-campaign-donors-block__donor-date {
    align-items: center;
    color: var(--givewp-neutral-400);
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.43;
}

.givewp-campaign-donors-block__donor-date::before {
    background: var(--givewp-neutral-100);
    border-radius: 100%;
    content: "";
    display: block;
    height: 0.25rem;
    margin: 0 0.5rem;
    width: 0.25rem;
}

.givewp-campaign-donors-block__donor-company {
    color: var(--givewp-neutral-400);
    display: flex;
    flex: 0 0 100%;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.43;
}

.givewp-campaign-donors-block__donor-amount {
    color: var(--givewp-neutral-700);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.56;
    margin-left: auto;
}

.givewp-campaign-donors-block__footer {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.givewp-campaign-donors-block__load-more-button {
    background: none;
    border-radius: 0.5rem;
    border: 1px solid var(--givewp-campaign-donors-block__primary-color);
    color: var(--givewp-campaign-donors-block__primary-color);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.43;
    padding: 0.25rem 1rem;
}

.givewp-campaign-donors-block__load-more-button:hover {
    background: var(--givewp-campaign-donors-block__primary-color);
    color: var(--givewp-shades-white);
}

.givewp-campaign-donors-block__empty-state {
    align-items: center;
    background-color: var(--givewp-shades-white);
    border-radius: 0.5rem;
    border: 1px solid var(--givewp-neutral-50);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.givewp-campaign-donors-block__empty-title {
    color: var(--givewp-neutral-700);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.givewp-campaign-donors-block__empty-description {
    color: var(--givewp-neutral-700);
    font-size: 0.875rem;
    line-height: 1.43;
    margin: 0.25rem 0 0;
}

.givewp-campaign-donors-block__empty-icon {
    color: var(--givewp-campaign-donors-block__secondary-color);
    margin-bottom: 0.875rem;
    order: -1;
}

.givewp-campaign-donors-block__empty-button {
    margin-top: 0.875rem;
}

.givewp-campaign-donors-block__empty-button button.givewp-donation-form-modal__open {
    border-radius: 0.25rem;
    padding: 0.5rem 1rem !important;
}
