.goalProgressChart {
    display: flex;
    gap: 20px;
    align-items: center;
}

/**
 * The size of the chart is relative to the container.
 * To get close to the design,
 * the size is balanced at flex 3/2
 * and the margins use negative values to control padding.
 */
.chartContainer {
    flex: 3;
    margin: 0 -50px;
}

.goalDetails {
    flex: 2;
}

.goal {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 4px;
    color: #1F2937;
}

.amount {
    color: #2D802F;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
    line-height: 28px;
}

.goalType {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #4b5563;
}
