.linkModal {
    :global(.givewp-modal-dialog) {
        width: 100%;
        max-width: 32rem;
    }

    label {
        display: block;
        font-weight: 600;
        margin-block-end: var(--givewp-spacing-2);
    }
}

.select {
    inline-size: 100%;
}

.error {
    color: var(--givewp-red-500);
}

.actions {
    display: flex;
    gap: var(--givewp-spacing-3);
    margin-block-start: var(--givewp-spacing-6);
}
