// This file used for Total styles common to the frontend and editor

.give-multi-form-goal-block {
	background: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.305862);
	border-radius: 8px;
	overflow: hidden;
}

.give-progress-bar-block__goal {
	height: auto;
}

.give-progress-bar-block__progress {
	height: 20px;
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	background: #f1f1f1;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.09487);

	.give-progress-bar-block__progress-bar {
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		border-radius: 20px;
		background: linear-gradient(180deg, #28c77b 0%, #28c77b 100%), linear-gradient(180deg, #fff 0%, #ccc 100%);
		background-blend-mode: multiply;
		overflow: hidden;
	}
}

.give-progress-bar-block__stats {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
