/* stylelint-disable selector-class-pattern */

.give-donor-dashboard-table {
	background: #fff;
	border: 1px solid #e2e6ec;
	border-radius: 6px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-size: 14px;

	.give-donor-dashboard-table__column {
		flex: 1;
		padding: 14px;

		@media screen and (max-width: 920px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 4px 12px;
		}
	}

	.give-donor-dashboard-table__header {
		background: #fbfbfb;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-size: 12px;

		@media screen and (max-width: 920px) {
			display: none;
		}
	}

	.give-donor-dashboard-table__mobile-header {
		color: #555;
		text-transform: uppercase;
		font-size: 12px;
	}

	.give-donor-dashboard-table__rows {
		flex: 1;

		.give-donor-dashboard-table__row {
			display: flex;
			border-top: 1px solid #e2e6ec;
			flex-wrap: wrap;
			line-height: 1.6;

			@media screen and (max-width: 920px) {
				display: flex;
				flex-direction: column;
				padding-top: 12px;
			}
		}

		.give-donor-dashboard-table__pill {
			display: flex;
			background: #fbfbfb;
			border-radius: 50px;
			margin: 0 14px 14px 14px;
			padding: 10px 22px;
			width: 100%;
			border: 1px solid #e2e6ec;
			justify-content: space-between;

			@media screen and (max-width: 920px) {
				border-radius: 8px;
				margin: 12px;
				padding: 12px;
				width: calc(100% - 48px);
			}
		}
	}

	.give-donor-dashboard-table__footer {
		border-top: 1px solid #e2e6ec;
		padding: 14px 18px;
		display: flex;
		align-items: center;

		.give-donor-dashboard-table__footer-text {
			flex: 1;
		}
	}
}
