/* stylelint-disable selector-class-pattern */

.give-donor-dashboard-button {
    margin: 20px 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #0073aa;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    box-shadow: 0 0 0 0 #7ec980, 0 0 0 0 #4fa651;
    transition: box-shadow 0.1s ease, background-color ease-in 0.3s;
    cursor: pointer;

    svg {
        margin-left: 8px;
    }

    &:focus {
        box-shadow: 0 0 0 1px #7ec980, 0 0 0 2px #4fa651;
    }

    &:disabled {
        border: 1px solid #bbb;
        background: #d0d0d0 !important;
    }

    &.give-donor-dashboard-button--primary {
        flex: 1;
        max-width: 240px;
        border: 1px solid #0073aa;
        color: #fff !important;
        background: #0073aa;
        box-shadow: none;
        justify-content: center;
    }

    &.give-donor-dashboard-button--variant {
        flex: 1;
        width: 240px;
        color: #0073aa !important;
        background: var(--givewp-shades-white);
        box-shadow: none;
        border: 1px solid #0073aa;
        margin: 0;
        justify-content: center;

        &:hover {
            background: #0073aa;
            color: #fff !important;
        }
    }
}
