$breakpoint-desktop: 900px;

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--givewp-spacing-4);

    @media (max-width: $breakpoint-desktop) {
        grid-template-columns: 1fr;
        gap: var(--givewp-spacing-6);
    }
}

.leftColumn, .rightColumn {
    display: flex;
    flex-direction: column;
    gap: var(--givewp-spacing-6);
} 