.give-obw-fundraising-needs {
	display: flex;
	flex-direction: column;
	align-items: center;

	> h1 {
		font-weight: 600;
		font-size: 24px;
		line-height: 34px;
		text-align: center;
		color: #333;
		margin: 0 0 8px;
	}

	> p {
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: #333;
		margin: 0;
	}

	.give-obw-card {
		align-items: center;
		box-sizing: border-box;
		width: 17.5rem;
        min-height: 15rem;
        position: relative;
        padding-top: 7.25rem;

        > svg {
            position: absolute;
            top: 2.25rem;
            left: 50%;
            translate: -50%;
        }

        > h2 {
            color: #4a5568;
            display: flex;
            align-items: flex-end;
            height: 2.66em;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.33;
            margin: 0 0 0.25rem;
            text-align: center;
            text-transform: uppercase;
        }

        > p {
            color: #4a5568;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.57;
            margin: 0;
            text-align: center;
        }
	}

	> .give-obw-button {
		margin-top: 52px;
	}
}
