.givewp-campaign-comment-block-card {
    display: flex;
    gap: var(--givewp-spacing-3);
    padding: var(--givewp-spacing-4) 0;

    &__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 8px;
        border-radius: 50%;

        img {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 40px;
            width: 100%;
            height: auto;
            padding: 8px;
            border-radius: 50%;
        }
    }

    &__donor-name {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        text-align: left;
        color: var(--givewp-neutral-700);
    }

    &__details {
        display: flex;
        gap: var(--givewp-spacing-2);
        align-items: center;
        height: auto;
        margin: 2px 0 var(--givewp-spacing-3) 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
        text-align: left;
        color: var(--givewp-neutral-400);
    }

    &__comment {
        min-height: 40px;
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        color: var(--givewp-neutral-700);
    }

    &__read-more {
        font-size: 14px;
        padding: 0;
        background: none;
        color: var(--givewp-blue-500);
        line-height: 1.43;
        border: none;
        outline: none;
        cursor: pointer;
    }
}
