.container {
    text-align: center;
    color: #424242;
    margin: var(--givewp-spacing-2) 0;

    img {
        margin-bottom: 1rem;
    }

    > h3 {
        font-size: 1.125rem;
        line-height: 1.22;
        margin: 0;
        padding: 0;
    }

    > p:last-child {
        margin-bottom: 0;
    }
}
