.field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;

    span {
        font-size: 1rem;
    }

    > .labelContainer {
        display: flex;
        align-items: flex-start;
        padding: 0;
        margin: 0 0 var(--givewp-spacing-2) 0;
        background: none;
        border: none;
        cursor: pointer;


        span:first-child {
            font-size: 0.875rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: left;
            color: var(--givewp-grey-900);
        }

        .button {
            background-color: transparent;
            border: 1px solid transparent;
            cursor: pointer;
        }


    }

    .amount {
        display: block;
        font-size: 2rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: var(--givewp-green-400);
    }
}


