.givewp-next-gen-sidebar {

    min-width: 350px;

    &.givewp-next-gen-sidebar-primary {
        right: 0;
    }

    &.givewp-next-gen-sidebar-secondary {
        left: 0;
    }

    background: white;
    border: 1px solid lightgray;
    bottom: 0;
    //color: slategray;
    height: 100vh;
    //overflow: hidden; // The Inspector Popout needs to be visible.
    position: fixed !important; // !important override added when migrated to WordPress - not sure why this is necessary...
    top: 60px; // Account for header @todo move this to layout, not in the component.
    width: 20%;
    z-index: 99999999;

    > .components-panel {
        border-left: 0;
        border-right: 0;
        margin-bottom: -1px;
        margin-top: -1px;

        > .components-panel__header {
            background: white;
        }
    }

    .block-editor-block-inspector__card {
        margin: 0;
    }
}

.sidebar-panel .active-tab {
    border-top: 3px solid #66bb6a;
}

.givewp-next-gen-inspector-popout {
    box-sizing: border-box;
    padding: 20px;

    position: absolute;
    right: calc(100% + 25px); // Position beside the sidebar.
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;


}

.givewp-next-gen-inspector-popout--container {
    color: black;
    outline: 1px solid lightgray;
    background-color: white;
}
