.givewp-next-gen-sidebar {

    max-width: 100%;

    &.givewp-next-gen-sidebar-primary {
        right: 0;
        width: var(--givewp-sidebar-width);
    }

    &.givewp-next-gen-sidebar-secondary {
        left: 0;
        width: 320px;
    }

    background: white;
    border: 1px solid lightgray;
    bottom: 0;
    //color: slategray;
    height: calc(100vh - 60px); // Account for header height above sidebar
    //overflow: hidden; // The Inspector Popout needs to be visible.
    position: fixed !important; // !important override added when migrated to WordPress - not sure why this is necessary...
    top: 60px; // Account for header @todo move this to layout, not in the component.
    z-index: 99999999;

    overflow-y: scroll;

    .components-panel__row {
        margin-right: 10px; // Account for scrollbar
    }

    > .components-panel {
        border-left: 0;
        border-right: 0;
        margin-bottom: -1px;
        margin-top: -1px;

        > .components-panel__header {
            background: white;
        }
    }

    .block-editor-block-inspector__card {
        margin: 0;
    }
}

.sidebar-panel .active-tab {
    border-bottom: 3px solid #66bb6a;
}

.sidebar-panel .components-button:focus:not(:disabled) {
    box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color), inset 0 -4px 0 0 var(--wp-admin-theme-color);
}

.givewp-next-gen-inspector-popout {
    box-sizing: border-box;
    padding: 20px;

    position: absolute;
    right: calc(100% + 25px); // Position beside the sidebar.
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;


}

.givewp-next-gen-inspector-popout--container {
    color: black;
    outline: 1px solid lightgray;
    background-color: white;
}
