.givewp-next-gen-sidebar {

    &.givewp-next-gen-sidebar-primary {
        right: 0;
    }

    &.givewp-next-gen-sidebar-secondary {
        left: 0;
    }

  background: white;
  border: 1px solid lightgray;
  bottom: 0;
  color: slategray;
  height: 100vh;
  overflow: hidden;
  position: fixed !important; // !important override added when migrated to WordPress - not sure why this is necessary...
  top: 60px; // Account for header @todo move this to layout, not in the component.
  width: 20%;
  z-index: 99999999;

  > .components-panel {
    border-left: 0;
    border-right: 0;
    margin-bottom: -1px;
    margin-top: -1px;

    > .components-panel__header {
      background: white;
    }
  }

  .block-editor-block-inspector__card {
    margin: 0;
  }
}
