.givewp-not-found-notice {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-weight: 500;
	background: rgba(238, 238, 238, 0.7);

	.givewp-not-found-card {
		padding: 22px 36px;
		box-shadow: 0 3px 6px rgba(68, 68, 68, 0.05), 0 3px 6px rgba(68, 68, 68, 0.05);
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		overflow: hidden;
		margin-top: 180px;
		background: #fff;
		position: sticky;
		top: calc(40vh - 1px);

		> button {
			border: 1px solid #ddd;
			background: #f7f7f7;
			height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 3px;
			border-width: 1px 1px 3px 1px;
			padding: 0 16px;
			margin-top: 22px;

			&:focus {
				outline: none;
				box-shadow: none;
				border-color: #ddd;
			}
		}
	}
}
