#root {
    // Gutenberg color mappings
    --wp-admin-theme-color: var(--give-primary-500);
    --wp-admin-theme-color--rgb: var(--give-primary-500--rgb);
    --wp-admin-theme-color-darker-10: var(--give-primary-700);
    --wp-admin-theme-color-darker-10--rgb: var(--give-primary-700--rgb);
    --wp-admin-theme-color-darker-20: var(--give-primary-800);
    --wp-admin-theme-color-darker-20--rgb: var(--give-primary-800--rgb);
    --wp-admin-border-width-focus: 2px;
}

.interface-interface-skeleton__editor {
    //height: 60px;
    background-color: white;
}

.interface-interface-skeleton__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid lightgray;
    background-color: white;
    z-index: 30; // Below the components-popover, which is at index 31.
}

.interface-interface-skeleton__body {
    width: 100%;
    //margin: 0 250px;
    background-color: var(--give-gray-10);
}

.interface-interface-skeleton__content {
    width: 720px;
    margin: auto;
    padding: 120px 0; /* Leave room for toolbar above first block. */

    box-sizing: border-box;

    *, *:before, *:after {
        box-sizing: inherit;
    }

    input,
    select,
    .components-text-control__input,
    .components-select-control__input {
        inline-size: 100%;
        padding: 16px;

        border: 1px solid var(--give-neutral-110) !important;
        border-radius: 5px;

        background-color: #fff;
        color: var(--give-gray-60) !important;
        font-size: 16px !important;
        font-weight: normal;
        line-height: 20px;
    }

    .components-select-control__input {
        height: 55px !important;

        & ~ .components-input-control__suffix {

            & > div {
                padding: 0 10px;
            }

            svg {
                height: 24px;
                width: 24px;
                fill: var(--give-gray-60);
            }
        }
    }

    .components-input-control__backdrop {
        display: none !important;
    }

    .components-base-control__label,
    .components-input-control__label {
        font-size: 16px;
        font-weight: 500;
        color: var(--give-gray-100);
    }

    .give-is-required .components-base-control__label::after {
        content: ' *';
        color: var(--give-alert-100);
    }
}

.is-root-container > .block-list-appender,
.components-popover.block-editor-block-list__insertion-point-popover {
    //display: none; /* CSS Hack to hide root level inserter @todo Move to a JS or config solution. */
}

[data-type="custom-block-editor/section"] > div > .block-editor-inner-blocks > .block-editor-block-list__layout,
[data-type="custom-block-editor/donor-info"] > div > .block-editor-inner-blocks > .block-editor-block-list__layout,
[data-type="custom-block-editor/donation-amount"] > div > .block-editor-inner-blocks > .block-editor-block-list__layout,
[data-type="custom-block-editor/payment-details"] > .block-editor-inner-blocks > .block-editor-block-list__layout,
[data-type="custom-block-editor/custom-fields"] > .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 40px;
}

.block-editor-block-list__block .block-list-appender {
    position: unset !important;
}

.block-editor-list-view-leaf.is-selected,
.block-editor-list-view-leaf.is-selected td {
    background: #66bb6a;
}

.components-toolbar__control.components-button {
    width: 100px;
}

.components-form-toggle.is-checked .components-form-toggle__track {
    background-color: #68BF6B;
}

/**
 * Fixes an issue with inspector select controls covering selected option.
 */
.components-select-control__input {
    padding: 8px;
    font-weight: normal;
}

.components-button {
    &.has-icon {
        padding: 0 6px;

        svg {
            transition: transform .2s cubic-bezier(.165, .84, .44, 1);
        }

        &.is-pressed {
            background-color: var(--give-neutral-100);

            &:hover {
                background-color: var(--give-neutral-110);
            }

            .components-icon--add {
                transform: rotate(45deg);
            }
        }
    }
}
