#root {
    // Gutenberg color mappings
    --wp-admin-theme-color: var(--give-primary-500);
    --wp-admin-theme-color--rgb: var(--give-primary-500--rgb);
    --wp-admin-theme-color-darker-10: var(--give-primary-700);
    --wp-admin-theme-color-darker-10--rgb: var(--give-primary-700--rgb);
    --wp-admin-theme-color-darker-20: var(--give-primary-800);
    --wp-admin-theme-color-darker-20--rgb: var(--give-primary-800--rgb);
    --wp-admin-border-width-focus: 2px;

    // Layout
    --give-sidebar-width: 284px;

    // Primary
    --give-primary-200: #E6FFE6;
    --give-primary-300: #C2F2C3;
    --give-primary-400: #AAF2AC;
    --give-primary-500: #68BF6B;
    --give-primary-700: #5BA65E;
    --give-primary-800: #3F7341;

    // Primary RGB
    --give-primary-500--rgb: 104, 191, 107;
    --give-primary-700--rgb: 91, 166, 94;
    --give-primary-800--rgb: 653, 115, 65;

    // Gray
    --give-gray-10: #F2F2F2;
    --give-gray-20: #E6E6E6;
    --give-gray-30: #D9D9D9;
    --give-gray-40: #BFBFBF;
    --give-gray-60: #8C8C8C;
    --give-gray-80: #595959;
    --give-gray-100: #1E1E1E;

    // Neutral
    --give-neutral-70: #B8C6CC;
    --give-neutral-80: #8FA8B3;
    --give-neutral-90: #6B8B99;
    --give-neutral-100: #3D5A66;
    --give-neutral-110: #233740;
    --give-neutral-120: #0D161A;

    // Alert
    --give-alert-10: #DC1E1E;
    --give-alert-20: #FFE6E6;
    --give-alert-40: #F5BEBE;
    --give-alert-60: #E99090;
    --give-alert-80: #DB5454;
    --give-alert-100: #DC1E1E;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
    max-height: 100%; // Had a wierd issue with excessively large icon SVGs.
}


.interface-interface-skeleton__editor {
    //height: 60px;
    background-color: white;
}

.interface-interface-skeleton__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid lightgray;
    background-color: white;
    z-index: 30; // Below the components-popover, which is at index 31.
}

.interface-interface-skeleton__body {
    width: 100%;
    //margin: 0 250px;
    background-color: var(--give-gray-10);
}

.interface-interface-skeleton__content {
    width: 720px;
    margin: auto;
    padding: 120px 0; /* Leave room for toolbar above first block. */

    box-sizing: border-box;

    *, *:before, *:after {
        box-sizing: inherit;
    }

    input,
    select,
    .components-text-control__input,
    .components-select-control__input {
        inline-size: 100%;
        padding: 16px;

        border: 1px solid var(--give-neutral-110) !important;
        border-radius: 5px;

        background-color: #fff;
        color: var(--give-gray-60) !important;
        font-size: 16px !important;
        font-weight: normal;
        line-height: 20px;
    }

    .components-select-control__input {
        height: 52px !important;

        & ~ .components-input-control__suffix {

            & > div {
                padding: 0 10px;
            }

            svg {
                height: 24px;
                width: 24px;
                fill: var(--give-gray-60);
            }
        }
    }

    .components-input-control__backdrop {
        display: none !important;
    }

    .components-base-control__label,
    .components-input-control__label {
        font-size: 16px;
        font-weight: 500;
        color: var(--give-gray-100);
    }

    .give-is-required .components-base-control__label::after {
        content: ' *';
        color: var(--give-alert-100);
    }
}

.is-root-container > .block-list-appender,
.components-popover.block-editor-block-list__insertion-point-popover {
    //display: none; /* CSS Hack to hide root level inserter @todo Move to a JS or config solution. */
}

[data-type="custom-block-editor/section"],
[data-type="custom-block-editor/donor-info"],
[data-type="custom-block-editor/donation-amount"],
[data-type="custom-block-editor/payment-details"] {
    & > div > .block-editor-inner-blocks > .block-editor-block-list__layout {
        display: flex;
        gap: 24px;
        flex-direction: column;
        margin-bottom: 40px;
    }
}

[data-type="custom-block-editor/paragraph"] .rich-text {
    font-size: 1.1rem;
    line-height: 1.5;
}

.block-editor-block-list__block .block-list-appender {
    bottom: -40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.block-editor-list-view-leaf.is-selected,
.block-editor-list-view-leaf.is-selected td {
    background: #66bb6a;
}

.components-toolbar__control.components-button {
    width: 100px;
}

.components-form-toggle.is-checked .components-form-toggle__track {
    background-color: #68BF6B;
}

/**
 * Fixes an issue with inspector select controls covering selected option.
 */
.components-select-control__input {
    //padding: 8px;
    font-weight: normal;
}

.components-button {
    &.has-icon {
        padding: 0 6px;

        svg {
            transition: transform .2s cubic-bezier(.165, .84, .44, 1);
        }

        &.is-pressed {
            background-color: var(--give-neutral-100);

            &:hover {
                background-color: var(--give-neutral-110);
            }

            .components-icon--add {
                transform: rotate(45deg);
            }
        }
    }
}

/**
 * Remove outline from popover
 */

.components-popover__content {
    outline: 0 !important;
}

/** ------------------------------- */

/**
 * Adjust inserter alignment
 */

.components-popover__content {
    margin-top: -25px;
}

/** ------------------------------- */

/**
 * Set spacing between field sub-components, ie label and input
 */
.components-base-control:not(.components-search-control) {
    width: 100%;
}

.components-select-control, // Select control has a different structure, apparently.
.components-base-control:not(.components-toggle-control) .components-base-control__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/** ------------------------------- */

/**
 * @todo The suffix isn't being displayed properly.
 */

.components-input-control__suffix {
    display: none;
}

/** ------------------------------- */

/**
 * Add box-sizing so that input do not expand outside of the container
 */

.givewp-next-gen-sidebar.givewp-next-gen-sidebar-primary {

    input,
    textarea,
    .components-form-token-field__input-container {
        width: 100%;
        box-sizing: border-box;
    }
}

/** ------------------------------- */

/**
 * Force full width on textareas
 */

.givewp-next-gen-sidebar.givewp-next-gen-sidebar-primary textarea {
    min-width: 100%;
    max-width: 100%;
}

/** ------------------------------- */

.components-panel__row:first-of-type {
    margin-top: 0.5rem;
}

/** ------------------------------- */

// Add border around template color setting popovers.
.block-editor-panel-color-gradient-settings__dropdown-content,
.components-color-palette__custom-color-dropdown-content {
    .components-popover__content,
    .components-color-picker {
        border: 1px solid var(--give-gray-40);
    }
}

.block-editor-panel-color-gradient-settings__dropdown-content .components-popover__content {

    // Move popover color panel out from underneath custom sidebar.
    margin-right: var(--give-sidebar-width) !important;

    // Remove fieldset border.
    .block-editor-color-gradient-control__fieldset { border: 0; }
}


.components-color-palette__custom-color-dropdown-content .components-popover__content {

    // Move popover color picker to not cover popover color panel.
    margin-left: -115%;

    // Prevent scrollbar in popover color picker.
    .components-color-picker .components-h-stack { width: auto; }
}
