@import '~@wordpress/components/build-style/style.css';
@import '~@wordpress/block-editor/build-style/style.css';
@import './styles/onboarding.scss';

#root {
    --wp-blue-blue-50: #2271b1;

    // Gutenberg color mappings
    --wp-admin-border-width-focus: 2px;

    // Layout
    --givewp-sidebar-width: 284px;

    // Primary
    --givewp-primary-200: #E6FFE6;
    --givewp-primary-300: #C2F2C3;
    --givewp-primary-400: #AAF2AC;
    --givewp-primary-500: #68BF6B;
    --givewp-primary-600: #15AE56;
    --givewp-primary-700: #5BA65E;
    --givewp-primary-800: #3F7341;

    // Primary RGB
    --givewp-primary-500--rgb: 104, 191, 107;
    --givewp-primary-700--rgb: 91, 166, 94;
    --givewp-primary-800--rgb: 653, 115, 65;

    // Gray
    --givewp-gray-10: #F2F2F2;
    --givewp-gray-20: #E6E6E6;
    --givewp-gray-30: #D9D9D9;
    --givewp-gray-40: #BFBFBF;
    --givewp-gray-60: #8C8C8C;
    --givewp-gray-80: #595959;
    --givewp-gray-100: #1E1E1E;

    // Neutral
    --givewp-neutral-70: #B8C6CC;
    --givewp-neutral-80: #8FA8B3;
    --givewp-neutral-90: #6B8B99;
    --givewp-neutral-100: #3D5A66;
    --givewp-neutral-110: #233740;
    --givewp-neutral-120: #0D161A;

    // Alert
    --givewp-alert-10: #DC1E1E;
    --givewp-alert-20: #FFE6E6;
    --givewp-alert-40: #F5BEBE;
    --givewp-alert-60: #E99090;
    --givewp-alert-80: #DB5454;
    --givewp-alert-100: #DC1E1E;
}

body {
    font-size: 16px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// remove default browser outline when selecting elements
:focus-visible {
    outline: 0;
}

.interface-interface-skeleton__editor {
    background-color: white;
}

.interface-interface-skeleton__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid lightgray;
    background-color: white;
    z-index: 30; // Below the components-popover, which is at index 31.
}

.interface-interface-skeleton__body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--givewp-gray-10);
}

.interface-interface-skeleton__content {
    width: 720px;
    margin: auto;
    padding: 120px 0; /* Leave room for toolbar above first block. */

    box-sizing: border-box;

    *, *:before, *:after {
        box-sizing: inherit;
    }

    input,
    select,
    .components-text-control__input,
    .components-select-control__input {
        inline-size: 100%;
        padding: 16px;

        border: 1px solid var(--givewp-neutral-110) !important;
        border-radius: 5px;

        background-color: #fff;
        color: var(--givewp-gray-60) !important;
        font-size: 16px !important;
        font-weight: normal;
        line-height: 20px;
    }

    .components-select-control__input {
        height: 52px !important;

        & ~ .components-input-control__suffix {

            & > div {
                padding: 0 10px;
            }

            svg {
                height: 24px;
                width: 24px;
                fill: var(--givewp-gray-60);
            }
        }
    }

    .components-input-control__backdrop {
        display: none !important;
    }

    .components-base-control__label,
    .components-input-control__label {
        font-size: 1rem !important;
        font-weight: 500 !important;
        color: var(--givewp-gray-100);
        text-transform: none !important;
    }

    .give-is-required .components-base-control__label::after {
        content: ' *';
        color: var(--givewp-alert-100);
    }
}

[data-type="custom-block-editor/section"],
[data-type="custom-block-editor/donor-info"],
[data-type="custom-block-editor/donation-amount"],
[data-type="custom-block-editor/payment-details"] {
    & > div > .block-editor-inner-blocks > .block-editor-block-list__layout {
        display: flex;
        gap: 24px;
        flex-direction: column;
    }
}

[data-type="custom-block-editor/paragraph"] .rich-text {
    font-size: 1.1rem;
    line-height: 1.5;
}

.block-editor-list-view-leaf.is-selected,
.block-editor-list-view-leaf.is-selected td {
    background: var(--wp-admin-theme-color);
}

.components-toolbar__control.components-button {
    width: 100px;
}

.components-form-toggle.is-checked .components-form-toggle__track {
    background-color: var(--wp-admin-theme-color);
}

/**
 * Fixes an issue with inspector select controls covering selected option.
 */
.components-select-control__input {
    font-weight: normal;
}

.components-button {
    &.has-icon {
        padding: 0 6px;

        svg {
            transition: transform .2s cubic-bezier(.165, .84, .44, 1);
        }

        &.is-pressed {

            &.rotate-icon {
                svg {
                    transform: rotate(45deg);
                }
            }
        }
    }
}

/**
 * Remove outline from popover
 */

.components-popover__content {
    outline: 0 !important;
}

/**
 * Set spacing between field sub-components, ie label and input
 */
.components-base-control:not(.components-search-control) {
    width: 100%;
}

/** ------------------------------- */

/**
 * @todo The suffix isn't being displayed properly.
 */

.components-input-control__suffix {
    display: none;
}

/** ------------------------------- */

/**
 * Add box-sizing so that input do not expand outside of the container
 */

.givewp-next-gen-sidebar.givewp-next-gen-sidebar-primary {

    input,
    textarea,
    .components-form-token-field__input-container {
        width: 100%;
        box-sizing: border-box;
    }
}

/** ------------------------------- */

/**
 * Force full width on textareas
 */

.givewp-next-gen-sidebar.givewp-next-gen-sidebar-primary textarea {
    min-width: 100%;
    max-width: 100%;
}

/** ------------------------------- */

.components-panel__row:first-of-type {
    margin-top: 0.5rem;
}

/** ------------------------------- */

// Add border around template color setting popovers.
.block-editor-panel-color-gradient-settings__dropdown-content,
.components-color-palette__custom-color-dropdown-content {
    .components-popover__content,
    .components-color-picker {
        border: 1px solid var(--givewp-gray-40);
    }
}

.block-editor-panel-color-gradient-settings__dropdown-content .components-popover__content {

    // Move popover color panel out from underneath custom sidebar.
    margin-right: var(--givewp-sidebar-width) !important;

    // Remove fieldset border.
    .block-editor-color-gradient-control__fieldset { border: 0; }
}


.components-color-palette__custom-color-dropdown-content .components-popover__content {

    // Move popover color picker to not cover popover color panel.
    margin-left: -115%;

    // Prevent scrollbar in popover color picker.
    .components-color-picker .components-h-stack { width: auto; }
}

/** ------------------------------- */

/**
 * Add space to avoid overlap with elements fixed to the bottom right of the editor.
 */

.sidebar-panel {
    padding-bottom: 80px;
}

/** ------------------------------- */

.components-modal__screen-overlay {
    z-index: 9999999999;

    &--givewpwp-custom-css {
        background-color: transparent;
    }
}

/*
Add border bottom to tabs, while removing body top border.
This creates a consistent separator between the tabs and the rest of the sidebar.
*/
.components-tab-panel__tabs {
    border-bottom: 1px solid #e0e0e0;
}

/** ------------------------------- */

.givewp-sidebar-dropdown-content .components-popover__content {
    border: 1px solid var(--givewp-gray-40);
}

.components-popover.components-dropdown__content {
    z-index: 99999999;
}

.givewp-panel-body--summary .components-base-control__field .components-select-control,
.givewp-panel-body--summary .components-base-control__field {
    display: grid;
    grid-template-columns: 85px 1fr;

    input {
        background-color: var(--givewp-gray-10);

        &[aria-expanded="true"] {
            background-color: var(--givewp-primary-200);
        }
    }

    label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-right: 0;
        font-weight: 400;
    }

    .components-input-control__container {
        width: 158px;
    }

    .components-flex.components-select-control > .components-flex-item {
        &,
        label {
            height: 100%;
        }
    }
}

.components-editor-notices__snackbar {
    position: fixed;
    right: 0;
    bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

.block-editor-block-list__block {
    position: relative;

    &:not(.is-selected) {
        .block-list-appender {
            display: none;
        }
    }

    .block-list-appender {
        position: absolute;
        bottom: 5px;
        width: 100%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .components-base-control__field {
        margin-bottom: 0;
    }
}

.popover-slot {
    position: fixed;
}

.givewp-donation-level-control .components-base-control,
.givewp-donation-level-control .components-base-control__field {
    margin-bottom: 0;
}

.givewp-next-gen-sidebar {
    max-width: 100%;
    width: var(--givewp-sidebar-width);
    background: white;
    border: 1px solid lightgray;
    bottom: 0;
    //color: slategray;
    height: calc(100vh - 60px); // Account for header height above sidebar
    //overflow: hidden; // The Inspector Popout needs to be visible.
    position: fixed !important; // !important override added when migrated to WordPress - not sure why this is necessary...
    top: 60px; // Account for header @todo move this to layout, not in the component.
    overflow-y: scroll;

    &.givewp-next-gen-sidebar-primary {
        right: 0;
    }

    &.givewp-next-gen-sidebar-secondary {
        left: 0;
    }

    &__inner {
        padding: 1rem;
    }

    &__heading {
        color: var(--givewp-gray-50);
        padding: 1rem 0;
        margin: 0;
        text-transform: uppercase;
        font-size: .8em;
        font-weight: 500;
    }

    .components-panel__row {
        margin-right: 10px; // Account for scrollbar
    }

    > .components-panel {
        border-left: 0;
        border-right: 0;
        margin-bottom: -1px;
        margin-top: -1px;

        > .components-panel__header {
            background: white;
        }
    }

    .block-editor-block-inspector__card {
        margin: 0;
    }
}

.givewp-next-gen-inspector-popout {
    box-sizing: border-box;
    padding: 20px;

    position: absolute;
    right: calc(100% + 25px); // Position beside the sidebar.
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;


}

.givewp-next-gen-inspector-popout--container {
    color: black;
    outline: 1px solid lightgray;
    background-color: white;
}

