#root {
    // Primary
    --give-primary-200: #E6FFE6;
    --give-primary-300: #C2F2C3;
    --give-primary-400: #AAF2AC;
    --give-primary-500: #68BF6B;
    --give-primary-700: #5BA65E;
    --give-primary-800: #3F7341;

    // Primary RGB
    --give-primary-500--rgb: 104, 191, 107;
    --give-primary-700--rgb: 91, 166, 94;
    --give-primary-800--rgb: 653, 115, 65;

    // Gray
    --give-gray-10: #F2F2F2;
    --give-gray-20: #E6E6E6;
    --give-gray-30: #D9D9D9;
    --give-gray-40: #BFBFBF;
    --give-gray-60: #8C8C8C;
    --give-gray-80: #595959;
    --give-gray-100: #1E1E1E;

    // Neutral
    --give-neutral-70: #B8C6CC;
    --give-neutral-80: #8FA8B3;
    --give-neutral-90: #6B8B99;
    --give-neutral-100: #3D5A66;
    --give-neutral-110: #233740;
    --give-neutral-120: #0D161A;

    // Alert
    --give-alert-10: #DC1E1E;
    --give-alert-20: #FFE6E6;
    --give-alert-40: #F5BEBE;
    --give-alert-60: #E99090;
    --give-alert-80: #DB5454;
    --give-alert-100: #DC1E1E;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
    max-height: 100%; // Had a wierd issue with excessively large icon SVGs.
}
