$breakpoint-desktop: 900px;

.overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--givewp-spacing-4);

    @media (max-width: $breakpoint-desktop) {
        grid-template-columns: 1fr;
        gap: var(--givewp-spacing-6);
    }
}

.left, .right {
    display: flex;
    flex-direction: column;
    gap: var(--givewp-spacing-6);
    margin-top: var(--givewp-spacing-2);
}

.left{
    grid-column: span 2;

    @media (max-width: $breakpoint-desktop) {
        grid-column: span 1;
    }
}

.right {
    grid-column: span 1;
}