:global(#give-admin-donations-root) .button {
    background-color: #f7f7f7;
    border-radius: 0.25rem;
    border: 0.0625rem solid #ccc;
    border-block-end-width: 0.125rem;
    color: #555;
    font-family: inherit;
    font-size: 0.8125rem;
    line-height: 1.36;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
}
