$black: #222;
$dark: #f7b733;
$light: rgba(254, 243, 224, 0.52);

.wp-block-jsforwp-static {

  background: $light;
  border: 5px $dark solid;
  padding: 1rem;

  h2 {
    color: $black;
    font-size: 2rem;
    margin: 1rem 0;
  }

  p {
    font-size: 1.4rem;
  }

}
