.container {
    text-align: center;
    color: #424242;

    > img {
        margin-bottom: 1rem;
    }

    > h4 {
        font-size: 1.125rem;
    }

    .helpMessage {
        font-weight: 400;

        > a {
            color: #0073AA
        }
    }
}
