.container {
    text-align: center;
    color: #424242;
    margin: 4.75rem 0 3.5rem;

    > h4 {
        font-size: 1.125rem;
    }

    .helpMessage {
        font-weight: 400;

        > a {
            color: #0073AA
        }
    }
}
