:global(.post-type-give_forms #wpbody) {
    box-sizing: border-box;
    padding-left: 0;
}

:global(.post-type-give_forms #wpbody-content) {
    box-sizing: border-box;
}

:global(.post-type-give_forms #wpbody::after) {
    all: revert;
}

:global(#give-admin-donation-forms-root) {
    box-sizing: border-box;
    color: #333;
    font-family: Open Sans, system-ui, sans-serif;
    font-size: 1rem;

    *, ::before, ::after {
        all: revert;
        box-sizing: inherit;
    }

    :where(a, button, input):focus {
        transition: outline 80ms ease-in;
        outline-width: 0.125rem;
        outline-color: #0878b0;
        outline-offset: 0.1em;
    }

    :where(button, input):focus {
        outline-style: solid;
    }

    .visuallyHidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    .tableContainer {
        background-color: #fff;
        border: 0.0625em solid #ddd;
        border-radius: 0.3125em;
        overflow: auto;
        position: relative;
        max-inline-size: 100%;
    }

    .table {
        border-radius: inherit;
        border-spacing: 0;
        box-shadow: 0 0 0.5625em rgb(68 68 68 / 0.05);
        inline-size: 100%;

        & th {
            border-bottom: 0.0625em solid #ddd;
            color: #0878b0;
            font-weight: 700;
            padding: 1em;
            text-align: start;
        }

        & tbody {
            overflow: auto;

            & tr {
                &:nth-child(even) {
                    background-color: #fff;
                }

                &:nth-child(odd) {
                    background-color: #f6f7f7;
                }

                &:hover td:first-child > .rowActions,
                &:focus-within td:first-child > .rowActions {
                    opacity: 1;
                }
            }

            & td {
                padding-block-start: 1em;
                padding-block-end: 2.5em;
                padding-inline: 1em;
                text-align: start;
            }

            & td:first-child {
                position: relative;

                & > .rowActions {
                    position: absolute;
                    inset-inline-start: calc(100% + 1em);
                    inset-block-end: 0.6875rem;
                    display: flex;
                    column-gap: 1em;
                    opacity: 0;
                    transition: opacity 180ms ease-in;

                    &:focus {
                        opacity: 1;
                    }

                    & > a {
                        color: #0878b0;
                        text-decoration: none;
                        font-size: 0.8125rem;

                        &[href="#delete"] {
                            color: #d75a4b;
                        }
                    }
                }
            }

        }
    }

    .pageHeader {
        background-color: #fff;
        padding-block: 1em;
        padding-inline: 1.5em;
    }

    .pageTitle {
        color: #424242;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .pageContent {
        padding: 1.5em;
    }

}
