.give-obw-features {
	display: flex;
	flex-direction: column;
	align-items: center;

	> h1 {
		font-family: Montserrat, Arial, Helvetica, sans-serif;
		font-weight: 600;
		font-size: 24px;
		line-height: 34px;
		text-align: center;
		color: #333;
		margin: 0 0 8px 0;
	}

	> p {
		font-family: Montserrat, Arial, Helvetica, sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: #333;
		margin: 0 0 52px 0;
	}

	.give-obw-card {
		box-sizing: border-box;
		height: 218px;
		width: 242px;
		align-items: center;
		justify-content: center;

        > h2 {
            color: #4a5568;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.33;
            margin: 0 0 0.25rem;
            text-align: center;
            text-transform: uppercase;
        }

        > p {
            color: #4a5568;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.57;
            margin: 0;
            text-align: center;
        }
	}

	> .give-obw-button {
		margin-top: 52px;
	}
}
