.give-obw-features {
	display: flex;
	flex-direction: column;
	align-items: center;

	> h1 {
		font-family: Montserrat, Arial, Helvetica, sans-serif;
		font-weight: 600;
		font-size: 24px;
		line-height: 34px;
		text-align: center;
		color: #333;
		margin: 0 0 8px 0;
	}

	> p {
		font-family: Montserrat, Arial, Helvetica, sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: #333;
		margin: 0 0 52px 0;
	}

	.give-obw-card {
		box-sizing: border-box;
		height: 218px;
		width: 242px;
		align-items: center;
		justify-content: center;

		> strong {
			font-family: Montserrat, Arial, Helvetica, sans-serif;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 3.5px;
			color: #4a5568;
		}
	}

	> .give-obw-button {
		margin-top: 52px;
	}
}
