.dateField {
    :global {
        .react-datepicker-wrapper {
            width: 100%;
        }

        .react-datepicker-popper[data-placement^=bottom] {
            .react-datepicker__triangle {
                left: 50% !important;
                transform: translate(-50%, 0) !important;
            }
        }

        .react-datepicker__day {
            &--selected {

                &,
                &:hover {
                    background-color: var(--givewp-primary-color);
                }
            }

            &--keyboard-selected {
                background-color: var(--givewp-grey-100);

                &:hover {
                    background-color: var(--givewp-primary-color);
                }
            }
        }
    }
}

.multiSelectField {
    &:hover {
        :global {
            .givewp-fields-multiSelect__option--is-focused {
                box-shadow: none;
            }
        }
    }

    :global {
        .givewp-fields-multiSelect {
            &__input {
                padding-bottom: 8px;
                margin-bottom: -8px;
            }

            &__control {
                border-color: rgb(102, 102, 102);
                box-shadow: none;

                &:hover {
                    border-color: var(--givewp-primary-color);
                }

                &--is-focused {
                    border-color: transparent;
                    box-shadow: 0 0 0 var(--outline-width) var(--form-element-focus-color);
                }
            }

            &__multi-value {
                align-items: center;
                gap: var(--givewp-spacing-2);
                background: var(--givewp-grey-25);
                padding: var(--givewp-spacing-2);
                color: var(--givewp-grey-900);

                &__label {
                    font-size: 0.875rem;
                    line-height: 1rem;
                    font-weight: 500;
                    padding: 0;
                }

                &__remove {
                    background: none;
                    border: 0;
                    color: currentColor;
                    padding: 0;

                    svg {
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }

            &__indicator {
                color: rgb(102, 102, 102);

                &:hover {
                    color: var(--givewp-primary-color);
                    cursor: pointer;
                }
            }

            &__indicator-separator {
                background-color: rgb(102, 102, 102);
            }

            &__menu {
                margin-top: 0;
            }

            &__menu-list {
                padding: 0;
            }

            &__option {
                color: var(--givewp-grey-700);

                &--is-focused {
                    background-color: var(--givewp-grey-25);
                    box-shadow: inset 0 0 0 var(--outline-width) var(--form-element-focus-color);
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
    }
}

.authentication {
    &__login-notice {
        background-color: transparent;
        border: 0;
        color: var(--primary);
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        width: auto;

        &:focus {
            border-color: transparent;
            box-shadow: 0 0 0 0.125rem var(--givewp-primary-color);
        }
    }

    &__login-form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &__fields-wrapper {
            display: flex;
            flex-direction: row;
            gap: 15px;
        }

        &__buttons-wrapper {
            display: flex;
            gap: 15px;
            justify-content: space-between;
            align-items: baseline;
        }

        &__login-button {
            border-radius: 5px;
            color: var(--givewp-grey-5);
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5;
            margin: 0;
            min-width: 154px;
            padding: var(--givewp-spacing-2) var(--givewp-spacing-6);
            width: auto;

            @supports (background-color: color-mix(in lab, var(--givewp-primary-color) 90%, black)) {
                &:hover {
                    background-color: color-mix(in lab, var(--givewp-primary-color) 90%, black);
                }
            }

            &:focus {
                outline: thick double var(--givewp-primary-color);
            }
        }

        &__reset-wrapper {
            display: flex;
            gap: 5px;
        }

        &__reset-button {
            background: none;
            border: none;
            width: fit-content;
            color: var(--givewp-grey-500);
            cursor: pointer;
            font-size: 14px;
            line-height: 1.43;
            padding: 2px;

            span {
                color: var(--primary);
                font-weight: 500;
            }

            &:focus {
                border-color: transparent;
                box-shadow: 0 0 0 0.125rem var(--givewp-primary-color);
            }
        }
    }
}

.htmlField {
    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }

        &:focus {
            border-radius: 2px;
            outline: 2px solid var(--givewp-primary-color);
            text-decoration: none;
        }
    }
}
