.formPageNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--givewp-shades-white);
    padding: var(--givewp-spacing-4);
    margin-bottom: var(--givewp-spacing-2);
    box-shadow: 0 2px 4px 0 rgba(14, 14, 14, 0.15);

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: var(--givewp-spacing-2);
            padding: 0;
            background: none;
            border: none;
            cursor: pointer;

            & > h1 {
                font-size: 1.25rem;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: var(--givewp-grey-900);
            }
        }
    }

    .actions {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: var(--givewp-spacing-3);

        .relativeContainer {
            position: relative;
            display: flex;
            gap: var(--givewp-spacing-3);

            > button > svg > path {
                stroke: var(--wp-blue-blue-50) !important;
            }
        }

        .pageDetails {
            flex-wrap: wrap;
            font-size: 0.875rem;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: right;

            & > span:first-child {
                color: var(--givewp-grey-500);
                margin-right: var(--givewp-spacing-2);
            }
        }
    }
}

@media (max-width: 645px) {
    .formPageNavigation, .actions {
        flex-direction: column;
    }
}
