/* stylelint-disable selector-class-pattern */

.give-donor-profile-tab-menu {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.give-donor-profile-logout {
	margin-top: auto;
	padding: 32px 0 !important;
	border-top: 1px solid #e2e6ec;

	.give-donor-profile-tab-link {
		display: inline-flex;
		color: var(--give-donor-profile-accent-color) !important;
		cursor: pointer;
	}
}
