/* stylelint-disable selector-class-pattern */

.give-donor-dashboard-dashboard__stats {
    display: grid;
    background: #fbfbfb;
    border: 0.908065px solid #e2e6ec;
    padding: 20px 28px;
    grid-gap: 24px;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 920px) {
        grid-template-columns: 1fr;
    }

    .give-donor-dashboard-dashboard__stat {
        background: #fff;
        border: 0.920968px solid #e2e6ec;
        border-radius: 5.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 22px 16px;
    }

    .give-donor-dashboard-dashboard__figure {
        color: #68bb6c;
        font-size: 34px;
        text-align: center;
        display: flex;
        align-items: flex-start;
        line-height: 1;
        margin-bottom: 8px;

        .give-donor-dashboard-dashboard__figure-currency {
            font-size: 16px;
            padding: 4px 2px 0 0;
        }
    }

    .give-donor-dashboard-dashboard__detail {
        color: #555;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.3;
        text-align: center;
    }
}
