.gravatar {
    border-radius: 9999px;
    max-height: 6rem;
    flex-shrink: 2;
    position:absolute;
    z-index: 2;
}

.gravatarWrapper {
    width: 6rem;
    height: 6rem;
    padding: 6px;
    background: linear-gradient(rgba(255 255 255), rgba(122, 122, 122));
    border-radius: 9999px;
    filter: blur(5px);
}

.nameCell {
    display: inline-flex;
    justify-content: stretch;
    align-items: stretch;
    height: 100%;
    column-gap: 1.5rem;
}

.name {
    font-size: 1.125rem;
}

.email {
    word-break: break-all;
}

.id {
    position: absolute;
    z-index: 3;
    bottom: 0.75rem;
}
