:global {
    td:first-child {
        padding-block: 0;

        & > input {
            margin-block-end: 2px;
        }
    }
}

.action > * + ::before {
    position: absolute;
    content: "";
    inset-block: auto;
    inset-inline-start: calc(-1.0625rem);
    block-size: 110%;
    inline-size: 0.125rem;
    background-color: #dedede;
}

.container {
    position: absolute;
    bottom: 0.125rem;
    left: 4.6125rem;
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
    word-break: keep-all;

    > * + ::before {
        position: absolute;
        content: "";
        inset-block: auto;
        inset-inline-start: calc(2.1925rem);
        block-size: 100%;
        inline-size: 0.125rem;
        background-color: #dedede;
    }
}
