/* stylelint-disable selector-class-pattern */

.give-donor-dashboard-desktop-layout {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: auto 1fr;
    min-height: 900px;

    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.give-donor-dashboard-desktop-layout__donor-info {
    grid-row: 1;
    grid-column: span 2;
}

.give-donor-dashboard-desktop-layout__tab-menu {
    grid-row: 2;
    background: #fbfbfb;
    border-right: 1px solid #e2e6ec;
    border-radius: 0 0 0 8px;

    .give-donor-dashboard-tab-link {
        font-size: 15px;
        padding: 12px 16px;
        border-left: 4px solid #fbfbfb;
        text-decoration: none !important;
        border-bottom: none !important;

        transition: border-left 0.2s ease;

        &.give-donor-dashboard-tab-link--is-active {
            border-left: 4px solid var(--give-donor-dashboard-accent-color);
            background: #fff;
        }
    }
}

.give-donor-dashboard-desktop-layout__tab-content {
    grid-row: 2;
    padding: 30px;
}
