.givewp-elements-donationSummary {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > strong {
        font-size: clamp(1.25rem, 0.8rem + 1.3vw, 1.5rem);
        font-weight: 400;
    }

    &__list {
        list-style-type: none;

        &-item {
            display: flex;
            padding: 1rem 0;
            justify-content: space-between;

            &:not(:first-child) {
                border-top: 0.0625rem solid #ccc;
            }

            &:last-child {
                font-weight: bold;
            }
        }
    }
}
