@use 'fn';

.givewp-layouts {
    &-header {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        box-shadow: rgb(0 0 0 / 30%) 0 0.125rem 0.3125rem;
        background-color: var(--givewp-primary-color);
        max-width: min(100%, 51.5rem);
        margin: 0 auto;
        display: grid;
        justify-items: center;
        row-gap: 1.5rem;
        padding: 3rem;
        color: #fff;
        text-align: center;

        @media screen and (min-width: $desktopMinWidth) {
            padding: 3rem;
        }

        + .givewp-layouts-form {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
    }

    &-headerTitle h2 {
        position: relative;
        margin-block-end: 1rem;
        font-size: fn.scaleBetween(1.75rem, 2.1875rem);
        font-weight: 600;
        line-height: 1.2;
        text-shadow: 0 0.07em 0.14em rgba(0, 0, 0, 0.15);

        &::after {
            position: absolute;
            content: '';
            display: block;
            border-radius: 9999px;
            inline-size: 4.375rem;
            block-size: 0.3125rem;
            background-color: #fff;
            inset-inline-start: 50%;
            inset-block-start: calc(100% + 1.25rem);
            transform: translate(-50%);
        }
    }

    &-headerDescription p {
        font-size: fn.scaleBetween(1.125rem, 1.25rem);
        line-height: 1.45;
        margin: 0 auto;
        max-inline-size: 42ch;
    }
}

.givewp-form-secure-badge {
    display: inline-flex;
    column-gap: 0.75em;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 0.9rem;
    border-radius: 9999px;
    background-color: #fff;
    box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.25);
    color: #333;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1;
}

.givewp-form-secure-icon {
    position: relative;
    inset-block-start: -0.04em;
    color: var(--givewp-secondary-color);
    block-size: 1em;
    aspect-ratio: 1;
    @supports not (aspect-ratio: 1) {
        inline-size: 1em;
    }
}
