.givewp-donation-form {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.givewp-layouts-form {
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 30%) 0 0.125rem 0.3125rem;
    background-color: #fff;
    max-width: min(100%,51.5rem);
    margin: 0 auto;
}
