.givewp-layouts-section {
    padding-block: clamp(1.75rem, -0.916667rem + 8.33333vw, 3.375rem);
    padding-inline: clamp(1rem, -4.53846rem + 17.3077vw, 4.375rem);
    margin-bottom: 0;

    &:nth-of-type(2n+1) {
        background-color: rgb(255, 255, 255);
        border-radius: 0.5rem;
    }

    &:nth-of-type(2n) {
        background-color: rgb(249, 249, 249);
    }

    &:last-child {
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    &__fieldset {
        border: 0;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: clamp(1.5rem, 0.782051rem + 2.24359vw, 1.9375rem) clamp(1.5rem, 1.19231rem + 0.961538vw, 1.6875rem);

        &--legend {
            width: 100%;
            padding-block-end: 0.75rem;
            margin-block-end: 1rem;
            border-block-end: 0.0625rem solid rgb(221, 221, 221);
            font-size: clamp(1.25rem, 0.839744rem + 1.28205vw, 1.5rem);
            font-weight: 500;
            line-height: 1.3;
            color: rgb(51, 51, 51);
        }
    }
}

.givewp-section-nodes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
