.link {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: right;
    color: #2271b1;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
