.header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: fit-content;
    width: 100%;
    margin-bottom: var(--givewp-spacing-6);
    background-color: var(--givewp-shades-white);

    div {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }
}

.headerText {
    margin: 0;
    color: #060c1a;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.subHeaderText {
    margin: 0;
    color: #6b7280;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 0.5rem 1rem;
    height: 2.25rem;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.43;
    color: #060c1a;
    border-radius: 4px;
    background-color: #e5e7eb;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(--givewp-neutral-200);
        color: inherit;
    }
}
