/* stylelint-disable  function-url-quotes */

.give-donor-profile-select-control {
	.give-donor-profile-select-control__label {
		font-family: Montserrat, Arial, Helvetica, sans-serif;
		font-weight: 500;
		font-size: 14px;
		line-height: 1;
		color: #555;
	}
}
