.gateway-authorize-echeck {
    .give-check-sample {
        img {
            max-width: 100%;
        }
    }

    input[type='text'] {
        @include text-field;
        width: 100%;
    }

    select {
        @include select-field;
    }

    .ga-column-wrap {
        p {
            margin-top: 0;
        }
    }
}
