/* stylelint-disable */
.give-fee-total-wrap.fee-coverage-required.give-fee-message,
.give-fee-recovery-donors-choice.give-fee-message,
.fee-break-down-message {
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.121203);
    border-radius: 5px;
    margin: 20px 30px 10px 30px !important;
    padding: 0 !important;
    position: relative;
    width: auto !important;

    @media screen and (max-width: $break-phone) {
        margin: 20px 20px 0 20px !important;
    }
}

#give_purchase_form_wrap {
    .give-fee-total-wrap.fee-coverage-required.give-fee-message,
    .give-fee-recovery-donors-choice.give-fee-message,
    .fee-break-down-message {
        margin: 20px 0 20px 0 !important;
    }
}

.give-section.payment {
    .give-fee-total-wrap.fee-coverage-required.give-fee-message,
    .give-fee-recovery-donors-choice.give-fee-message,
    .fee-break-down-message {
        margin: 20px 20px 10px 20px !important;
    }
}

.give-fee-total-wrap.fee-coverage-required.give-fee-message,
.give-fee-recovery-donors-choice.give-fee-message {
    .give-fee-message-label-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        padding: 17px 20px 17px 22px !important;
        color: #333;
        display: inline-block;
        cursor: pointer;

        @media screen and (max-width: $break-phone) {
            font-size: 14px;
            padding: 14px 20px 14px 22px !important;
        }
    }
}

.fee-break-down-message {
    margin: 20px 0 0 0 !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    padding: 20px 20px 20px 22px !important;
    color: #333;
    display: inline-block;
    text-align: center;

    @media screen and (max-width: $break-phone) {
        font-size: 14px;
    }
}

.give-fee-total-wrap.fee-coverage-required.give-fee-message {
    .give-fee-message-label-text {
        text-align: center;
        width: calc(100% - 40px);
    }
}

.give-fee-recovery-donors-choice.give-fee-message {
    .give-fee-message-label {
        margin: 0;
    }

    .give-fee-message-label-text {
        width: calc(100% - 82px);
        margin-left: 40px !important;
        display: inline-block;
    }

    .give-fee-message-label-text::before {
        content: ' ';
        position: absolute;
        top: calc(50% - 12px);
        left: 22px;
        width: 20px;
        height: 20px;
        border: 1px solid #b4b9be;
        background-color: #fff;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    }

    &:hover {
        border: 1px solid #3398db;

        .give-fee-message-label-text::before {
            background-color: rgba(245, 245, 245, 0.815);
        }
    }

    &.active {
        border: 1px solid #3398db;
    }

    input[type='checkbox']:checked + .give-fee-message-label-text::after {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    input[type='checkbox'] + .give-fee-message-label-text::after {
        transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
        border-radius: 11px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: calc(50% - 12px);
        left: 22px;
        content: ' ';
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.73047 10.7812C6.00391 11.0547 6.46875 11.0547 6.74219 10.7812L14.7812 2.74219C15.0547 2.46875 15.0547 2.00391 14.7812 1.73047L13.7969 0.746094C13.5234 0.472656 13.0859 0.472656 12.8125 0.746094L6.25 7.30859L3.16016 4.24609C2.88672 3.97266 2.44922 3.97266 2.17578 4.24609L1.19141 5.23047C0.917969 5.50391 0.917969 5.96875 1.19141 6.24219L5.73047 10.7812Z' fill='%231E8CBE'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        clip-path: polygon(0 0, 11% 0, 0 100%, 0 55%);
        -webkit-clip-path: polygon(0 0, 11% 0, 0 100%, 0 55%);
    }
}

/*---------------------------------
RTL styles
-----------------------------------*/
html[dir='rtl'] {
    .give-fee-recovery-donors-choice.give-fee-message {
        .give-fee-message-label-text {
            margin-left: 0 !important;
            margin-right: 40px !important;
        }

        .give-fee-message-label-text::before {
            right: 22px;
        }
    }

    input[type='checkbox'] + .give-fee-message-label-text::after {
        right: 22px;
        margin-right: 1px;
        top: calc(50% - 11px);
    }
}
