/* stylelint-disable */
.ffm-field-container {
	fieldset{
		padding: 0 !important;
	}

	.give-label {
		display: block !important;
		font-size: 14px;
	}
}

/*---------------------------------
RTL styles
-----------------------------------*/

html[dir='rtl'] {
	.ffm-field-container[data-field-type="checkbox"] {
		label {
			top: 6px;

			&::before {
				right: 0;
			}

			&::after {
				top: -3px;
				right: 0;
				margin-right: 1px;
			}
		}
	}

	.ffm-field-container[data-field-type="radio"] {
		label {
			padding-right: 32px !important;

			&::before {
				right: 0;
			}

			&::after {
				right: 6px;
			}
		}
	}
}
