/* stylelint-disable */
@import 'mixins';
@import 'util';

// Icons
@import './icons/fontawesome';
@import './icons/regular';
@import './icons/solid';
@import './icons/brands';

// Structure

html {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	margin: 10px;
	font-family: 'Montserrat', sans-serif;
	color: #555;
}

form {
	margin: 0 !important;
	position: relative;
}

// Typography

h2 {
	font-weight: 600;
	font-size: 26px;
	line-height: 30px;
	color: #333;
}

p {
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #6f6f6f;
}

// Container

.give-embed-form {
	max-width: 552px;
	margin: auto;
	border-radius: 6px;
	color: #696969;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
		0 1px 5px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	overflow: hidden;
}

// Buttons

.give-btn {
	background-color: #28c77b;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: 500;
	text-align: center;
	border-radius: 4px;
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	&:focus {
		outline: none;
	}
}

.advance-btn,
.give-submit {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 28px !important;
	border-radius: 4px;
	border: none;
	font-size: 22px;
	line-height: 20px;
	margin-top: 48px;
	margin-bottom: 16px;
	min-width: 236px;

	> i {
		font-size: 15px;
		margin-left: 15px;
	}
}

// Notices

.give_error,
.give_success,
.give_warning {
	@include before-after-content-none;
	position: relative;
	margin: 20px 20px 0 20px;
	padding: 10px 15px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-width: 0 0 0 5px;

	> p {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #555 !important;

		> strong {
			font-weight: 500 !important;
		}
	}
}

// Images

.image {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	padding: 55.4% 0 0 0;
	margin: 0;

	img {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

// Navigator Styles

.give-form-navigator {
	display: flex;
	align-items: center;
	background: #fbfbfb;
	border-bottom: 1px solid #f2f2f2;
	height: 50px;
	position: relative;

	> .back-btn {
		padding: 0 20px;
		height: 100%;
		background: none;
		border: none;
		color: #424242;
		font-size: 12px;
		position: absolute;
		border-radius: 6px 0 0 0;
		overflow: hidden;

		&:focus {
			outline: none;
			background: rgba(0, 0, 0, 0.04);
			box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.09487);
		}
	}

	> .title {
		flex: 1;
		text-align: center;
		font-size: 15px;
		font-weight: 500;
		color: #424242;
	}
}

// Footer Styles

.form-footer {
	display: flex;
	flex-direction: column;

	.navigator-tracker {
		display: flex;
		align-items: center;
		margin: 5px auto 15px auto;

		.step-tracker {
			background-color: #e4e4e4;
			border-radius: 50%;
			overflow: hidden;
			height: 12px;
			width: 12px;
			margin: 7.5px;
			cursor: pointer;
			transition: background-color 0.2s ease;

			&.current {
				background-color: #959595;
			}
		}
	}

	.secure-notice {
		margin-top: 15px;
		color: #989898;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
		justify-content: center;
		background: #fbfbfb;
		border-top: 1px solid #f2f2f2;
		font-size: 12px;

		> i {
			padding: 8px;
			font-size: 12px;
		}
	}
}

// Section Styles

.give-section {
	display: flex;
	flex-direction: column;

	> * {
		margin-right: auto;
		margin-left: auto;
	}
}

// Introduction Styles

.introduction {
	display: flex;
	flex-direction: column;
	text-align: center;

	.headline {
		max-width: 75%;
		margin-bottom: 18px;
		margin-top: 30px;
	}

	.seperator {
		width: 90px;
		height: 4px;
		background: #28c77b;
		border-radius: 4px;
	}

	.description {
		font-size: 16px;
		font-weight: 500;
		margin: 18px 70px 29px 70px;
	}

	.income-stats {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		background-color: #fbfbfb;
		color: #767676;
		font-weight: 500;
		font-size: 14px;

		.number {
			color: #4c4c4c;
			font-size: 18px;
		}

		> div {
			display: flex;
			flex: 1 1 0%;
			flex-direction: column;
			align-items: center;
			border: 1px solid #f2f2f2;
			padding: 10px;

			&:first-of-type {
				border-left: 0;
			}

			&:last-of-type {
				border-right: 0;
			}
		}
	}

	.progress-bar {
		width: 100%;
		border-bottom: 1px solid #f2f2f2;

		> div {
			margin: 20px;
		}
	}
}

// Progress Bar Styles

.give-progress-bar {
	height: 20px;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	background: #f1f1f1;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.09487);

	> span {
		border-radius: 20px;
		background: linear-gradient(180deg, #28c77b 0%, #28c77b 100%), linear-gradient(180deg, #fff 0%, #ccc 100%);
		background-blend-mode: multiply;
		position: relative;
		overflow: hidden;
	}
}

// Choose Amount Styles

.choose-amount {
	.content {
		text-align: center;
		margin: 24px 30px 22px 30px;
		font-size: 15px;
	}

	// Amount Total
	.give-total-wrap {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5px;
		margin-bottom: 15px;

		.give-donation-amount {
			@include before-after-content-none;
			display: flex;
			width: 207px;
			align-items: center;
			background-color: #fff;
			box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.22);
			border: 1px solid #979797;
			border-radius: 4px !important;
			overflow: hidden;
			padding: 18px 24px;
			margin: 0;

			input {
				height: auto !important;
				width: auto !important;
				text-align: center;
				font-weight: 500 !important;
				font-size: 42px !important;
				line-height: 1 !important;
				color: #333;
				border: 0 !important;

				&:focus {
					outline: none;
				}
			}
		}

		span.give-currency-symbol {
			background-color: transparent !important;
			border: 0 !important;
			position: relative;
			z-index: 3;
			padding: 0 !important;
		}
	}

	// Amount Buttons
	.give-donation-levels-wrap {
		@include before-after-content-none;
		display: grid !important;
		grid-gap: 10px;
		grid-template-columns: repeat(3, 1fr);
		padding: 0;
		margin: 24px 30px 0 30px !important;

		li {
			margin: 0 !important;
		}

		.give-donation-level-btn {
			display: inline-flex !important;
			align-items: center;
			justify-content: center;
			width: 100%;
			background: #28c77b;
			border: 2px solid #28c77b;
			line-height: 1;
			text-align: center;
			color: #fff;
			padding-top: 24px;
			padding-bottom: 24px;

			> .currency {
				font-size: 14px;
				margin: 0 6px 11px 0;
			}

			&.give-btn-level-custom {
				height: 100%;
				font-size: 18px;
				line-height: 1.2;
				padding: 10px;
			}

			&.give-default-level {
				background: #fff;
				border: 2px solid #28c77b;
				color: #28c77b;
			}
		}
	}
}

// Payment Section

.payment {
	.heading {
		padding: 39px 3px 0;
		font-size: 16px;
		font-weight: 500;
		color: #6b6b6b;
		text-align: center;
	}
	.subheading {
		padding: 5px 0 34px 0;
		font-style: italic;
		font-size: 12px;
		color: #767676;
		text-align: center;
	}

	fieldset {
		padding: 0 20px;
	}

	#give_checkout_user_info {
		legend {
			display: none;
		}
	}
	#give-payment-mode-select {
		legend {
			display: none;
		}
		ul {
			@include before-after-content-none;
			display: grid;
			grid-gap: 10px;
			grid-template-rows: 1fr;
			margin: 0;

			> li:not(.give_purchase_form_wrap-clone) {
				@include background-lightgray;
				margin: 0 !important;
				padding: 14px 20px !important;
				border-radius: 4px;

				position: relative;

				display: flex;
				justify-content: flex-start;
				align-items: center;

				label {
					font-size: 14px;
					text-align: left;
					padding-left: 10px;
					font-weight: 600;
					color: #333;
					flex-grow: 1;
				}
			}

			> li.give_purchase_form_wrap-clone {
				background-color: transparent;
			}
		}
	}
	#give_purchase_submit {
		display: flex;
		flex-direction: column;

		> *:not(.give-donation-submit) {
			display: none;
		}

		.give-submit-button-wrap {
			display: flex;
			justify-content: center;
			position: relative;

			.sequoia-loader {
				height: 30px;
				width: 30px;
				top: 64px;
				position: absolute;
				font-size: 4px;
			}
		}
	}
}

// Payment Gateway Icons

.gateway-icon {
	height: 20px;

	&.paypal {
		width: 70px;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("data:image/svg+xml,%3Csvg width='68' height='18' viewBox='0 0 68 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M67.1609 0H65.1713C65.1701 0 65.169 0.000364074 65.1683 0.000364074L65.1672 0C64.7117 0 64.2495 0.339672 64.1205 0.771816C64.1153 0.789291 64.1063 0.806038 64.1022 0.824241C64.1022 0.824241 64.0547 1.03503 63.9725 1.39946L61.2395 13.4609C61.1763 13.7336 61.134 13.9112 61.1213 13.9575L61.1265 13.964C61.0319 14.3856 61.2922 14.7344 61.7196 14.7734L61.7252 14.7814H63.7904C64.2428 14.7814 64.702 14.445 64.8351 14.0183C64.8415 13.9975 64.8516 13.9782 64.8564 13.9575L67.8377 0.823513L67.8332 0.822057C67.9346 0.372802 67.6373 0 67.1609 0ZM56.9555 11.8542C56.6795 12.0235 56.3879 12.1684 56.0824 12.2918C55.6718 12.4531 55.2826 12.5375 54.9225 12.5375C54.3698 12.5375 53.945 12.4614 53.6579 12.2987C53.3703 12.1443 53.2196 11.876 53.2245 11.4919C53.2245 11.0485 53.3296 10.7045 53.5472 10.4347C53.7663 10.1751 54.092 9.96614 54.4958 9.81032C54.8974 9.6778 55.3914 9.56859 55.9616 9.49031C56.4686 9.42806 57.4711 9.31556 57.5994 9.31483C57.7276 9.31374 57.8129 9.24493 57.7557 9.57769C57.7303 9.72222 57.4408 10.8792 57.3081 11.4053C57.2696 11.5629 57.0542 11.7927 56.9555 11.8542C57.0542 11.7927 56.9555 11.8542 56.9555 11.8542ZM60.8899 3.72245C60.0456 3.26373 58.7249 3.03182 56.9177 3.03182C56.0241 3.03182 55.1259 3.10172 54.2247 3.23788C53.5633 3.33654 53.4952 3.35292 53.0843 3.43993C52.2388 3.61905 52.1083 4.44329 52.1083 4.44329L51.8368 5.53039C51.6828 6.22575 52.0896 6.19699 52.271 6.14311C52.64 6.03462 52.8401 5.92685 53.5932 5.76084C54.313 5.60174 55.0735 5.4827 55.6804 5.48743C56.5704 5.48743 57.2472 5.58245 57.697 5.76521C58.1472 5.95634 58.3701 6.28182 58.3701 6.74745C58.3715 6.85813 58.3745 6.96262 58.3334 7.054C58.2964 7.13919 58.2253 7.22147 58.0126 7.2495C56.7424 7.32304 55.8307 7.4359 54.7329 7.59172C53.6496 7.74026 52.7017 7.99474 51.9094 8.34715C51.0647 8.71194 50.4328 9.20015 49.9971 9.8187C49.5731 10.4402 49.36 11.1927 49.3589 12.0792C49.3589 12.9169 49.6681 13.6002 50.2664 14.1307C50.8718 14.6542 51.6592 14.9134 52.612 14.9134C53.2073 14.9094 53.6732 14.8675 54.0071 14.7864C54.3377 14.7052 54.6981 14.5898 55.0788 14.4292C55.3633 14.3134 55.6703 14.146 55.9945 13.9359C56.3191 13.7251 56.5438 13.5755 56.8321 13.3916L56.8426 13.4091L56.7614 13.7575C56.7611 13.7608 56.7562 13.7626 56.7562 13.7659L56.7588 13.7724C56.6661 14.1922 56.9252 14.5413 57.3522 14.5825L57.3575 14.5898H57.3952L57.3967 14.5916C57.6802 14.5916 58.6531 14.5912 59.1078 14.5898H59.4253C59.4462 14.5898 59.4484 14.5836 59.4567 14.5788C59.8927 14.5268 60.3107 14.1809 60.4091 13.7659L62.033 6.9415C62.0704 6.78095 62.0999 6.59564 62.1175 6.3823C62.1377 6.16677 62.1616 5.98947 62.1545 5.86132C62.1583 4.89546 61.732 4.18153 60.8899 3.72245ZM51.111 2.168C50.8339 1.64302 50.4155 1.22034 49.8864 0.891229C49.3438 0.562843 48.6992 0.333847 47.9528 0.200235C47.2147 0.0742691 46.3371 0.00218439 45.3372 0L40.6848 0.00218439C40.2058 0.0101938 39.7358 0.376442 39.6251 0.827518L36.4973 14.0802C36.3832 14.5305 36.6943 14.9059 37.1647 14.9033L39.397 14.8993C39.8704 14.9033 40.3528 14.5305 40.4646 14.0802L41.2192 10.864C41.325 10.4133 41.8062 10.0358 42.2875 10.0423H42.922C45.6449 10.0423 47.7561 9.4977 49.2679 8.41352C50.7759 7.32388 51.535 5.89456 51.535 4.11684C51.5301 3.34065 51.3944 2.68679 51.111 2.168ZM46.3113 6.50255C45.6449 6.97437 44.7098 7.21102 43.5065 7.21102H42.9531C42.4744 7.21648 42.1652 6.83967 42.2789 6.38787L42.946 3.57511C43.0454 3.13022 43.5311 2.7516 44.003 2.75524L44.7341 2.7516C45.5874 2.75524 46.2256 2.89431 46.6665 3.17063C47.0999 3.45023 47.31 3.88383 47.3134 4.4616C47.3153 5.34228 46.9806 6.0198 46.3113 6.50255Z' fill='%23306FC5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35.65 3.03188C35.2264 3.03188 34.6707 3.36768 34.4077 3.7735C34.4077 3.7735 31.574 8.53202 31.2957 9.00755C31.1444 9.26322 30.9911 9.1007 30.9655 9.00559C30.9449 8.88997 30.0874 3.80477 30.0874 3.80477C29.9909 3.39536 29.5543 3.04393 29.0084 3.04556L27.2414 3.04816C26.8154 3.04816 26.5497 3.38233 26.6445 3.7862C26.6445 3.7862 27.9952 11.2852 28.2585 13.0489C28.3899 14.0243 28.2449 14.1973 28.2449 14.1973L26.4939 17.1879C26.2375 17.5934 26.3778 17.9256 26.8018 17.9256L28.8494 17.924C29.2734 17.924 29.835 17.5934 30.0874 17.1872L37.9646 4.13731C37.9646 4.13731 38.7181 3.02243 38.0231 3.03188C37.5493 3.03839 35.65 3.03188 35.65 3.03188ZM20.8608 11.8542C20.5849 12.0235 20.2936 12.1676 19.9881 12.2914C19.5775 12.452 19.1864 12.5372 18.8274 12.5372C18.2763 12.5372 17.8504 12.4607 17.5628 12.2987C17.2757 12.144 17.1242 11.8757 17.1291 11.4912C17.1291 11.0489 17.2353 10.7037 17.4525 10.4343C17.672 10.1744 17.9962 9.96505 18.4 9.8096C18.8028 9.67635 19.2982 9.56859 19.8666 9.49031C20.3736 9.42806 21.3772 9.31593 21.5051 9.31411C21.6322 9.31374 21.7179 9.2442 21.6607 9.57696C21.636 9.72149 21.3462 10.8792 21.2134 11.4049C21.1734 11.5633 20.9581 11.793 20.8608 11.8542C20.9581 11.793 20.8608 11.8542 20.8608 11.8542ZM24.7953 3.72208C23.9509 3.26336 22.6306 3.03182 20.8234 3.03182C19.9294 3.03182 19.0316 3.10099 18.1301 3.23751C17.4675 3.33545 17.4009 3.35219 16.9896 3.4392C16.1438 3.61905 16.0137 4.44256 16.0137 4.44256L15.7422 5.53039C15.5885 6.22539 15.9957 6.19663 16.1763 6.14274C16.5446 6.03425 16.7458 5.92685 17.4989 5.76011C18.2176 5.60174 18.9793 5.48306 19.5854 5.48706C20.4761 5.48706 21.1521 5.58172 21.602 5.76448C22.0525 5.95561 22.2743 6.28182 22.2743 6.74709C22.2773 6.85777 22.2795 6.96262 22.2395 7.05327C22.2017 7.13919 22.1299 7.2211 21.9172 7.24877C20.6485 7.3234 19.7372 7.4359 18.6375 7.59172C17.5542 7.74026 16.6067 7.99474 15.814 8.34679C14.9693 8.71158 14.3381 9.20052 13.9032 9.8187C13.4777 10.4398 13.2649 11.1923 13.2642 12.0792C13.2642 12.9165 13.5738 13.6002 14.1713 14.1303C14.7771 14.6538 15.5638 14.9134 16.5166 14.9134C17.1123 14.9094 17.5778 14.8668 17.9128 14.7864C18.243 14.7044 18.6038 14.5898 18.983 14.4292C19.2687 14.3134 19.5749 14.1452 19.8995 13.9355C20.2233 13.7251 20.4492 13.5755 20.7386 13.3916L20.7475 13.4087L20.6664 13.7568C20.6657 13.7601 20.6612 13.7622 20.6612 13.7662L20.6645 13.7717C20.5718 14.1926 20.8302 14.5413 21.2576 14.5817L21.2628 14.5898H21.3002L21.3013 14.5923C21.5855 14.5923 22.5588 14.5908 23.0124 14.5898H23.3302C23.3515 14.5898 23.3545 14.5828 23.3613 14.5785C23.7984 14.525 24.2149 14.1798 24.3144 13.7662L25.9384 6.94114C25.975 6.78095 26.0049 6.59564 26.0214 6.38266C26.0431 6.16604 26.0666 5.98947 26.0603 5.86169C26.064 4.8951 25.637 4.18117 24.7953 3.72208ZM14.6373 2.168C14.3603 1.64302 13.9418 1.22034 13.4127 0.891229C12.8702 0.562843 12.2255 0.333847 11.4792 0.200235C10.741 0.0742691 9.86344 0.00218439 8.86357 0L4.21121 0.00218439C3.73221 0.0101938 3.26219 0.376442 3.15151 0.827518L0.0236304 14.0802C-0.0904165 14.5305 0.220688 14.9059 0.691085 14.9033L2.92341 14.8993C3.3968 14.9033 3.87916 14.5305 3.99096 14.0802L4.74554 10.864C4.85136 10.4133 5.3326 10.0358 5.81384 10.0423H6.44839C9.17131 10.0423 11.2825 9.4977 12.7943 8.41352C14.3023 7.32388 15.0614 5.89456 15.0614 4.11684C15.0565 3.34065 14.9208 2.68679 14.6373 2.168ZM9.83764 6.50255C9.17131 6.97437 8.23612 7.21102 7.03284 7.21102H6.47943C6.00081 7.21648 5.69157 6.83967 5.80524 6.38787L6.47232 3.57511C6.57179 3.13022 7.05752 2.7516 7.52941 2.75524L8.26043 2.7516C9.11372 2.75524 9.75201 2.89431 10.1929 3.17063C10.6262 3.45023 10.8364 3.88383 10.8398 4.4616C10.8416 5.34228 10.507 6.0198 9.83764 6.50255Z' fill='%23265697'/%3E%3C/svg%3E%0A");
	}
}

// Fieldsets and Inputs

fieldset {
	legend {
		display: none;
	}
	p {
		position: relative;

		> i {
			position: absolute;
			top: 18px;
			left: 16px;
			font-size: 12px;
			color: #989898;
		}
	}
	.give_error,
	.give_success,
	.give_warning {
		margin: 20px 0;
	}
}

.give-label {
	display: none !important;
}

.give-input {
	font-family: 'Montserrat', sans-serif;
	background: #fff;
	border: 1px solid #b8b8b8;
	box-sizing: border-box;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.152289);
	border-radius: 4px !important;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	color: #8d8e8e;
	padding: 14px !important;
}

.give-select {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	line-height: 1;
	padding: 12px !important;
	margin: 0;
	border: 1px solid #b8b8b8;
	border-radius: 4px !important;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.152289), 0 1px 0 1px rgba(0, 0, 0, 0.04);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.66016 7.19531C5.90625 7.44141 6.31641 7.44141 6.5625 7.19531L11.8945 1.89062C12.1406 1.61719 12.1406 1.20703 11.8945 0.960938L11.2656 0.332031C11.0195 0.0859375 10.6094 0.0859375 10.3359 0.332031L6.125 4.54297L1.88672 0.332031C1.61328 0.0859375 1.20312 0.0859375 0.957031 0.332031L0.328125 0.960938C0.0820312 1.20703 0.0820312 1.61719 0.328125 1.89062L5.66016 7.19531Z' fill='%23A2A3A2'/%3E%3C/svg%3E"),
		linear-gradient(to bottom, #fff 0%, #fff 100%);
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 0.65em auto, 100%;
}

.give-input:hover,
.give-select:hover {
	border: 1px solid rgb(54, 54, 54);
}

// Tooltip Styles

.give-tooltip {
	margin: 0 !important;

	&::after {
		background: #383838;
		color: #fff;
		padding: 12px 18px;
		font-size: 16px;
		font-family: 'Montserrat', sans-serif;
		border-radius: 4px;
		line-height: 12px;
		text-align: center;
		white-space: nowrap;
		text-shadow: 0 -1px 0 #000;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	}
}

// Loader
.sequoia-loader {
	background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 24.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 349 348' style='enable-background:new 0 0 349 348;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{fill:%23FFFFFF;} %3C/style%3E%3Cpath class='st0' d='M25.1,204.57c-13.38,0-24.47-10.6-24.97-24.08C0.04,178.09,0,175.97,0,174C0,77.78,78.28-0.5,174.5-0.5 c13.81,0,25,11.19,25,25s-11.19,25-25,25C105.85,49.5,50,105.35,50,174c0,1.37,0.03,2.85,0.1,4.65c0.51,13.8-10.27,25.39-24.07,25.9 C25.72,204.56,25.41,204.57,25.1,204.57z'/%3E%3Cpath class='st0' d='M174.5,348.5c-13.81,0-25-11.19-25-25c0-13.81,11.19-25,25-25c68.65,0,124.5-55.85,124.5-124.5 c0-1.38-0.03-2.85-0.1-4.65c-0.51-13.8,10.26-25.4,24.06-25.91c13.83-0.53,25.4,10.26,25.91,24.06c0.09,2.39,0.13,4.51,0.13,6.49 C349,270.22,270.72,348.5,174.5,348.5z'/%3E%3C/svg%3E");
	pointer-events: none;
	opacity: 0;

	&.spinning {
		opacity: 1;
		transition: opacity 0.2s ease;
		animation: load 0.6s linear infinite;
	}
}

@keyframes load {
	from {
		transform: rotateZ(0deg);
	}

	to {
		transform: rotateZ(180deg);
	}
}

// Slide Animation Styles

.slide-in-right,
.slide-in-left,
.slide-out-right,
.slide-out-left {
	position: absolute;
	width: 100%;
}

.slide-in-right {
	animation-name: slideInRight;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.slide-out-right {
	animation-name: slideOutRight;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.slide-in-left {
	animation-name: slideInLeft;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.slide-out-left {
	animation-name: slideOutLeft;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

@keyframes slideInRight {
	from {
		transform: translate3d(100%, 0, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideOutRight {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes slideInLeft {
	from {
		transform: translate3d(-100%, 0, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideOutLeft {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(-100%, 0, 0);
	}
}
