.give-embed-form {
    .paypal-commerce_billing_fields_section_label p {
        font-weight: 600;
        color: #333;
    }

    .give-paypal-commerce-cc-field {
        height: 48px;
    }

    .separator-with-text {
        .label {
            font-size: 12px;
        }
    }
}
