/* stylelint-disable */
.give-recurring-multi-level-message {
	display: none;
}

.give-recurring-donors-choice {
	background: #fff;
	border: 1px solid rgba(255, 255, 255, 0);
	box-sizing: border-box;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.121203);
	border-radius: 5px;
	margin: 20px 30px 0 30px !important;
	padding: 0;
	position: relative;

	@media screen and (max-width: $break-phone) {
		margin: 20px 20px 0 20px !important;
	}

	label {
		font-weight: 400 !important;
		font-size: 16px;
		line-height: 1.4;
		padding: 14px 22px 14px 22px !important;
		width: calc(100% - 62px);
		margin-left: 40px !important;
		color: #333;
		display: inline-block;
		cursor: pointer;

		@media screen and (max-width: $break-phone) {
			font-size: 14px !important;
			padding: 14px 20px 14px 22px !important;
		}
	}

	label::before {
		content: ' ';
		position: absolute;
		top: calc(50% - 12px);
		left: 22px !important;
		width: 20px;
		height: 20px;
		border: 1px solid #b4b9be;
		background-color: #fff;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	}

	&:hover,
	&:focus-within {
		border: 1px solid #3398db;

		label::before {
			background-color: rgba(245, 245, 245, 0.815);
		}
	}

	&.active {
		border: 1px solid #3398db;
	}

	input[type='checkbox']:checked + label::after {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	input[type='checkbox'] + label::after {
		transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
		border-radius: 11px;
		width: 20px;
		height: 20px;
		position: absolute;
		top: calc(50% - 12px);
		left: 22px;
		content: ' ';
		display: block;
		background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.73047 10.7812C6.00391 11.0547 6.46875 11.0547 6.74219 10.7812L14.7812 2.74219C15.0547 2.46875 15.0547 2.00391 14.7812 1.73047L13.7969 0.746094C13.5234 0.472656 13.0859 0.472656 12.8125 0.746094L6.25 7.30859L3.16016 4.24609C2.88672 3.97266 2.44922 3.97266 2.17578 4.24609L1.19141 5.23047C0.917969 5.50391 0.917969 5.96875 1.19141 6.24219L5.73047 10.7812Z' fill='%231E8CBE'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: center;
		clip-path: polygon(0 0, 11% 0, 0 100%, 0 55%);
		-webkit-clip-path: polygon(0 0, 11% 0, 0 100%, 0 55%);
	}

	.give-recurring-donors-choice-period {
		font-family: Montserrat, sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 1;
		display: inline;
		margin: 0;
		color: #333;
		padding: 0 20px 0 0 !important;
		border: none;
		border-bottom: 1px solid #a2a3a2;
		border-radius: 0;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.66016 7.19531C5.90625 7.44141 6.31641 7.44141 6.5625 7.19531L11.8945 1.89062C12.1406 1.61719 12.1406 1.20703 11.8945 0.960938L11.2656 0.332031C11.0195 0.0859375 10.6094 0.0859375 10.3359 0.332031L6.125 4.54297L1.88672 0.332031C1.61328 0.0859375 1.20312 0.0859375 0.957031 0.332031L0.328125 0.960938C0.0820312 1.20703 0.0820312 1.61719 0.328125 1.89062L5.66016 7.19531Z' fill='%23A2A3A2'/%3E%3C/svg%3E"),
			linear-gradient(to bottom, #fff 0%, #fff 100%);
		background-repeat: no-repeat, repeat;
		background-position: right 4px top 50%, 0 0;
		background-size: 0.65em auto, 100%;

		@media screen and (max-width: $break-phone) {
			font-size: 14px;
		}

		&::-ms-expand {
			display: none;
		}

		&:hover {
			border-color: #888;
		}

		&:focus {
			box-shadow: none;
			outline: none;
		}

		option {
			font-weight: normal;
		}
	}
}

/*---------------------------------
RTL styles
-----------------------------------*/

html[dir='rtl'] {
	.give-recurring-donors-choice {
		label {
			margin-right: 40px !important;
			margin-left: 0 !important;
		}

		label::before {
			right: 22px !important;
		}

		input[type='checkbox'] + label::after {
			right: 22px;
			margin-right: 1px;
		}
	}
}
