.give-tributes-dedicate-donation {
    .give_tributes_mail_card_country > label,
    .give_tributes_mail_card_state > label {
        display: none !important;
    }

    #give_tributes_address_state {
        min-height: 48px !important;
    }

    .give-tributes-grab-info {
        @media screen and (max-width: $break-phone) {
            display: flex;
            flex-direction: column;
        }
    }

    .give-tributes-legend,
    .give-tributes-label {
        display: block !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        border-bottom: none !important;
        padding: 0 !important;
        margin: 0 0 5px !important;
        line-height: 1.7;
    }

    legend {
        color: var(--global-palette3);
        display: block !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        margin-bottom: 5px !important;
    }

    .give_tributes_send_ecard_fields > .give-tributes-legend {
        width: auto !important;
    }

    .give-tributes-add-recipient {
        margin-left: 8px;
        float: none;
        display: inline-block;
        margin-top: 0;
    }

    input[type='radio'] {
        opacity: 0 !important;
        position: absolute !important;
    }

    input[type='radio'] + label:not(.give-tribute-type-button) {
        padding: 0 10px 0 28px;
        width: 100%;
        color: #696969;
        font-size: 14px !important;
        font-weight: 400 !important;
        display: inline-block;
        position: relative;
        margin: 0 0 5px;
        line-height: 1.7;

        &::before {
            content: ' ';
            position: absolute;
            top: calc(50% - 9px);
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #b4b9be;
            background-color: #fff;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
        }

        &::after {
            transform: scale3d(0, 0, 0);
            transition: transform 0.2s ease;
            border-radius: 8px;
            width: 8px;
            height: 8px;
            position: absolute;
            top: calc(50% - 4px);
            left: 5px;
            content: ' ';
            display: block;
            background: #333;
        }
    }

    // Adjust layout to avoid overlapping text.
    .give-tributes-type-button-list {
        margin-top: 20px;
        margin-bottom: 70px;
    }

    .give-tribute-type-button {
        // Match style of payment level buttons.
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;

        // Support overflow for multiple buttons or long text labels
        display: flex;
        flex-wrap: wrap;
        & li {
            height: 60px;
        }
    }

    input[type='radio']:checked + label:not(.give-tribute-type-button)::after {
        transform: scale3d(1, 1, 1);
    }

    .give-tributes-ecard-personalized-message-left,
    .give-tributes-mail-card-personalized-message-left {
        padding-bottom: 8px;
    }
}

/*---------------------------------
RTL styles
-----------------------------------*/

html[dir='rtl'] {
    .give-tributes-dedicate-donation {
        .give-tributes-add-recipient {
            margin-right: 8px;
        }

        input[type='radio'] + label {
            padding-right: 32px;

            &::before {
                right: 0;
            }

            &::after {
                right: 5px;
            }
        }
    }
}

.give-section.choose-amount .give-tributes-dedicate-donation {
    margin: 24px 30px 0 30px;
}
