.givewp-layouts {
    &-header {
        max-width: var(--two-panel-header-width);
        text-align: center;
        width: 100%;

        @media screen and (min-width: 71.5rem) {
            border: solid 1px var(--givewp-grey-25);
            border-radius: var(--givewp-rounded-8);
            box-shadow: var(--givewp-shadow-sm);
        }
    }

    &-headerTitle {
        margin-bottom: var(--givewp-spacing-3);
    }

    &-headerDescription {
        margin-bottom: var(--givewp-spacing-10);
    }
}

