.givewp-donation-form__steps {
    @media screen and (max-width: 71.5rem) {
        border-radius: 0;
        box-shadow: none;
    }
}

.givewp-layouts-section {
    margin-bottom: 0;

    &__fieldset {
        display: flex;
        flex-direction: column;
        gap: var(--givewp-spacing-6);
    }
}

