@mixin responsive-styles {
    border-radius: 0;
    box-shadow: none;
}

.givewp-donation-form {
    &:not(&--preview) .givewp-donation-form__steps {
        @media screen and (max-width: 79rem) {
            @include responsive-styles;
        }
    }

    &:is(&--preview) .givewp-donation-form__steps {
        @media screen and (max-width: 71.5rem) {
            @include responsive-styles;
        }
    }
}

.givewp-layouts-section {
    margin-bottom: 0;

    &__fieldset {
        display: flex;
        flex-direction: column;
        gap: var(--givewp-spacing-6);
    }
}

