.givewp-donation-form-selector {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 4rem;
    background: #f6f6f6;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    &__logo {
        align-self: center;
    }

    &__open {
        color: #fff;
        background: #2271b1;
        padding: .5rem 1rem;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }

    &__submit {
        width: 100%;
        background-color: #27ae60;
        color: #fff;
        padding: 1rem;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        outline: none;
        border: 0;
        transition: 0.2s;

        &:disabled {
            background-color: #e0e0e0;
        }

        &:hover:not(:disabled) {
            cursor: pointer;
            filter: brightness(1.2);
        }
    }
}

.givewp-donation-form-link, .givewp-donation-form-modal__open {
    color: var(--givewp-secondary-color, #ffffff);
    background: var(--givewp-primary-color, #2271b1);
    padding: .5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-decoration: none !important;
}

.components-input-control__label {
    width: 100%;
}
