/* stylelint-disable selector-class-pattern */
.givewp-modal-wrapper.give-donor-dashboard-logout-modal {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.5) !important;

    .givewp-modal-dialog {
        border-radius: 8px;

        .givewp-modal-header {
            border-radius: 8px 8px 0 0;
            background-color: #fafafa;
            padding: 1rem 1.5rem;
        }

        .givewp-modal-close {
            right: 1rem;
        }

        .givewp-modal-content {
            padding: 1.5rem 1.5rem 2rem 1.5rem;

            .give-donor-dashboard-logout-modal__buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;

                .give-donor-dashboard-logout-modal__cancel {
                    flex: 1;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 240px;
                    padding: 12px 20px;
                    font-size: 16px;
                    font-weight: 600;
                    border-radius: 3px;
                    color: var(--give-donor-dashboard-accent-color) !important;
                    background: var(--givewp-shades-white);
                    box-shadow: none;
                    border: 1px solid var(--give-donor-dashboard-accent-color);
                    margin: 0;
                    cursor: pointer;
                }
            }
        }
    }
}
