.productRecommendation {
    align-items: center;
    background: var(--givewp-neutral-50);
    color: var(--givewp-neutral-900);
    display: flex;
    font-size: 0.875rem;
    gap: var(--givewp-spacing-3);
    padding: var(--givewp-spacing-4);
    width: 100%;


    p {
        margin: 0;
        padding: 0;
        font-weight: 500;

        span {
            margin-right: var(--givewp-spacing-4);
        }
    }

    a {
        display: inline-flex;
        gap: var(--givewp-spacing-2);
        font-size: 0.875rem;
        font-weight: 600;
    }

    button {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-left: auto;
        margin-right: 1.375rem;

        img {
            transform: scale(140%);
        }
    }
}


@media (max-width: 1100px) {
    .productRecommendation {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
        text-align: center;

        a {
            justify-content: center;
            width: 100%;
            text-align: center;
        }

        button {
            position: absolute;
            top: 1rem;
            right: 0;
        }
    }
}

.wp-die-message, p {
    font-size: .875rem;
}
