/* stylelint-disable selector-class-pattern */

.give-donor-dashboard__subscription-manager-spinner {
	animation: spin infinite 1s linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
