.givewp-campaign-stats-block {
    font-family: Inter;

    span {
        display: block;
        margin-bottom: 2px;
        height: 18px;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.48px;
        text-align: left;
        color: var(--giewp-neutral-500);
    }

    strong {
        height: 32px;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.6;
        letter-spacing: normal;
        color: var(--givewp-neutral-900);
    }
}
