.give-donor-profile-button {
	padding: 12px 20px;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid #68bb6c;
	border-radius: 3px;
	display: inline-flex;
	align-items: center;

	svg {
		margin-left: 8px;
	}

	&.give-donor-profile-button--primary {
		color: #fff;
		background: #68bb6c;
	}
}
