.statusBadge {
    align-items: center;
    background-color: var(--statusBadgeBgColor);
    border-radius: var(--givewp-rounded-full);
    border: 1px solid var(--statusBadgeBorderColor);
    color: var(--statusBadgeTextColor);
    display: flex;
    font-size: 0.75rem;
    font-weight: 600;
    gap: var(--givewp-spacing-1);
    justify-content: center;
    padding: var(--givewp-spacing-1) var(--givewp-spacing-3);
    text-align: center;

    &.statusBadge--pending {
        --statusBadgeIconColor: var(--givewp-orange-600);
        --statusBadgeBgColor: var(--givewp-orange-25);
        --statusBadgeTextColor: var(--givewp-orange-900);
    }

    &.statusBadge--processing {
        --statusBadgeIconColor: var(--givewp-blue-600);
        --statusBadgeBgColor: var(--givewp-blue-25);
        --statusBadgeTextColor: var(--givewp-blue-900);
    }

    &.statusBadge--publish {
        --statusBadgeIconColor: var(--givewp-green-600);
        --statusBadgeBgColor: var(--givewp-green-25);
        --statusBadgeTextColor: var(--givewp-green-900);
    }

    &.statusBadge--refunded {
        --statusBadgeIconColor: var(--givewp-purple-500);
        --statusBadgeBgColor: var(--givewp-purple-25);
        --statusBadgeTextColor: var(--givewp-purple-900);
    }

    &.statusBadge--failed {
        --statusBadgeIconColor: var(--givewp-red-600);
        --statusBadgeBgColor: var(--givewp-red-25);
        --statusBadgeTextColor: var(--givewp-red-900);
    }

    &.statusBadge--cancelled {
        --statusBadgeIconColor: var(--givewp-red-600);
        --statusBadgeBgColor: var(--givewp-red-25);
        --statusBadgeTextColor: var(--givewp-red-900);
    }

    &.statusBadge--abandoned {
        --statusBadgeIconColor: var(--givewp-yellow-600);
        --statusBadgeBgColor: var(--givewp-yellow-25);
        --statusBadgeTextColor: var(--givewp-yellow-900);
    }

    &.statusBadge--preapproval {
        --statusBadgeIconColor: var(--givewp-esmerald-600);
        --statusBadgeBgColor: var(--givewp-esmerald-25);
        --statusBadgeTextColor: var(--givewp-esmerald-900);
    }

    &.statusBadge--revoked {
        --statusBadgeIconColor: var(--givewp-red-600);
        --statusBadgeBgColor: var(--givewp-red-25);
        --statusBadgeTextColor: var(--givewp-red-900);
    }
}

.archive {
    --contextMenuItemColor: var(--givewp-red-600);
}

.sectionFieldInputWrapper {
    display: flex;
    gap: var(--givewp-spacing-2);
}
