.givewp-layouts {
    &-goal {
        width: 100%;
        background-color: var(--givewp-shades-white);
        border-radius: 0.25rem;

        &__container {
            width: 100%;
        }
    }

    &-goalAchieved {
        border: 1px solid var(--givewp-primary-color);
        max-width: min(100%, 51.5rem);
        margin: 0 auto 1px auto;
        display: flex;
        justify-content: center;
        padding: 4rem 2rem;
        font-size: 1.5rem;
        text-align: center;
    }
}


.givewp-form-goal-progress {
    padding: 1.25rem;
    border-block-start: 1px solid #ddd;

    &-description {
        display: none;
    }

    /**
     * We are not using the `<meter>` element because in order to style it in
     * Safari, we’d have to break the accessibility for VoiceOver.
     */
    &-meter {
        position: relative;
        block-size: 1.375em;
        border-radius: var(--givewp-rounded-full);
        background-color: #f1f1f1;
        box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.09);
        margin-bottom: 0;

        /** Add a vertical linear gradient to apply a slight shade over the accent color */
        &[value]::-webkit-progress-value {
            position: absolute;
            border-radius: var(--givewp-rounded-full);
            background-image: linear-gradient(
                            to bottom,
                            rgba(0, 0, 0, 0),
                            rgba(0, 0, 0, 0.1)
            );
        }
    }
}
