.givewp-groups-name {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.givewp-fields-select-honorific {
    flex-basis: 35%;
}

.givewp-fields-hidden {
    display: none;
}

select:not(.givewp-fields-amount__currency-select) {
    border: 0.078rem solid #666;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #4d4d4d;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    padding: 0.9rem var(--givewp-spacing-8) 0.9rem 1.1875rem;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.66016 7.19531C5.90625 7.44141 6.31641 7.44141 6.5625 7.19531L11.8945 1.89062C12.1406 1.61719 12.1406 1.20703 11.8945 0.960938L11.2656 0.332031C11.0195 0.0859375 10.6094 0.0859375 10.3359 0.332031L6.125 4.54297L1.88672 0.332031C1.61328 0.0859375 1.20312 0.0859375 0.957031 0.332031L0.328125 0.960938C0.0820312 1.20703 0.0820312 1.61719 0.328125 1.89062L5.66016 7.19531Z' fill='%23A2A3A2'/%3E%3C/svg%3E"),
    linear-gradient(to bottom, #fff 0%, #fff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right var(--givewp-spacing-4) top 50%, 0 0;
    background-size: 0.65em auto, 100%;

    &[aria-invalid="true"],
    &:invalid {
        border-color: red;
    }
}

input[type="text"]:not([name="amount"], [name="amount-custom"]),
input[type="password"],
input[type="email"],
textarea {
    border-width: 0.078rem;
    border-style: solid;
    border-radius: 0.25rem;
    padding: 1.1875rem;
    width: 100%;
    box-sizing: inherit;
    inline-size: 100%;
    background-color: rgb(255, 255, 255);
    color: #4d4d4d;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;

    &::placeholder {
        opacity: 0.6;
    }

    &:focus {
        border-color: transparent;
    }
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border: 0.125rem solid var(--givewp-primary-color);
    border-radius: 0.5rem;
    background-color: var(--givewp-primary-color);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: inherit;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.2;
    cursor: pointer;
    inline-size: 100%;
    width: 100%;
    margin: 1rem 0;

    @supports (background-color: color-mix(in lab, var(--givewp-primary-color) 90%, black)) {
        &:hover {
            background-color: color-mix(in lab, var(--givewp-primary-color) 90%, black);
        }
    }
}

.error-message {
    font-size: 1rem;
    height: 1rem;
    text-align: right;
}
