.givewp-donation-form {
    max-width: min(100%, 51.5rem);
    margin: 0 auto;

    &--preview {
        background-color: #f2f2f2;
    }
}

.givewp-layouts-form {
    border-radius: 0.5rem;
    box-shadow: var(--givewp-shadow-xs);
    background-color: #fff;
    border: 1px solid var(--givewp-grey-25);
    border-top: none;
}

.givewp-layouts-header {
    border: 1px solid var(--givewp-grey-25);
    border-bottom: none;
}
