.gutenberg__editor .give-blank-slate__image {
	max-width: 96px;
}

.give-chosen-base-control {
	a.chosen-single {
		box-shadow: none !important;
	}

	ul.chosen-results {
		margin: 0 !important;
		text-align: left !important;
	}
}
