.float-right {
	float: right ;
}

.gutenberg__editor .give-blank-slate__image {
	max-width: 96px;
}

.components-button {
	margin: 15px 0 0 0;
}

.give-chosen-base-control {
	a.chosen-single {
		box-shadow: none !important;
	}

	ul.chosen-results {
		margin: 0 !important;
		text-align: left !important;
	}
}

