.test {
    display: inline;
    text-transform: uppercase;
    font-size: 0.6875rem;
    color: white;
    padding: 0.25rem 0.5rem;
    background: linear-gradient(221.56deg, #FF7F7F -61.17%, #F49420 101.24%);
    border-radius: 0.1875rem;
    vertical-align: middle;
}
