.test {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.625rem;
    line-height: 0.625rem;
    color: white;
    padding: 0.25rem 0.25rem;
    background: #F49420;
    border-radius: 0.1875rem;
    vertical-align: middle;
}
