.container {
    position: relative;
    font-family: Open Sans;
    background-color: white;
    border: 0;
    border-radius: 0.1875rem;
    box-shadow: inset 0 0 0 1px rgba(203, 203, 203, 1);
    inline-size: -moz-fit-content;
    max-inline-size: fit-content;
    block-size: 2rem;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    & > * {
        flex: 0 0 auto;
    }
}

.badge {
    display: inline;
    border-top-left-radius: 0.1875rem;
    border-bottom-left-radius: 0.1875rem;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0;
    color: white;

    &.oneTime {
        background-color: rgba(85 110 121);
    }

    &.repeat {
        background: rgba(244 148 32);
        block-size: 1.125rem;
        inline-size: 1.375rem;
        padding-block: 0.4375rem;
        padding-inline: 0.3125rem;
    }

    &.subscriber {
        background-image: linear-gradient(45deg, rgba(46 187 187), rgba(89 173 112));
        block-size: 1rem;
        inline-size: 1.375rem;
        padding-block: 0.5rem;
        padding-inline: 0.3125rem;
    }

    &.new {
        background: black;
    }
}

div.badge {
    inline-size: 2rem;
    block-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

svg.badge {
    padding: 0.375em;
    box-sizing: content-box !important;
}

.label {
    margin: 0;
    padding: 0.6125rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: default;
    flex-basis: fit-content;
}

.star {
    display: inline;
    color: rgba(255, 215, 0, 1);
    position: absolute;
    z-index: 2;
    top: -0.5rem;
    right: -0.5rem;
}

.relative {
    position: relative;
}
