.givewp-welcome-banner-video {
    flex: 1;
    display: flex;

    &-container {
        flex: 1;
        height: 100%;
        position: relative;
        text-align: center;
        background-color: rgb(45, 48, 53);

        button {
            position: absolute;
            bottom: .5rem;
            left: .5rem;
            padding: 0;
            border: none;
            background: transparent;
            cursor: pointer;
        }

        video {
            min-height: 100%;
            width: 100%;
            object-fit: cover;
            transform: scale(-1, 1);
            margin: 0;
            padding: 0;
        }
    }

    &-fallback {
        margin: 0;
        padding: 0;
        min-height: 100%;
        min-width: 100%;

        &__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transform: scale(-1, 1);
        }
    }


}
