.givewp-welcome-banner-video {
    flex: 1;
    display: flex;

    &-container {
        flex: 1;
        position: relative;
        height: 18rem;
        max-height: 18rem;
        text-align: center;
        background-color: #FFF;

        button {
            position: absolute;
            bottom: .5rem;
            left: .5rem;
            padding: 0;
            border: none;
            background: transparent;
            cursor: pointer;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: contain;

        }
    }

    &-fallback {
        margin: 0;
        padding: 0;
        min-height: 100%;
        min-width: 100%;
        width: 18.375rem;
        height: 14.625rem;

        &__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 1325px) {
    .givewp-welcome-banner-video-container {
        max-height: 12rem;
        min-height: 12rem;
    }
}
