.givewp-elements-donationSummary {
    &__list {
        list-style-type: none;

        &-item {
            display: flex;
            padding: 15px 0;
            justify-content: space-between;
            border-block-start: 0.0625rem solid #ddd;

            &:last-child {
                font-weight: bold;
            }
        }
    }
}
