.givewp-export-button {
	padding: 8px 12px;
	background: #f7f7f7;
	text-decoration: none;
	border: 1px solid #ddd;
	border-radius: 3px;
	border-width: 1px 1px 3px 1px;
	color: #333;
	font-weight: 500;
	font-size: 12px;
}
