.givewp-campaign-donate-button-block {
    .givewp-donation-form-modal__open {
        line-height: 1.5;
        width: 100%;
        
        &:hover {
            background-color: color-mix(in srgb, var(--givewp-primary-color), black 20%);
        }
    }
}
