.givewp-dashboard-subscription-status {
    position: absolute;
    right: 30px;
    color: #000;
    padding: .25rem .75rem;
    width: fit-content;
    border-radius: 50px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;

    &--paused {
        background-color: #e6e6e6;
    }

    &--active {
        background-color: #cef2cf;
    }

    &--cancelled {
        background-color: #FFB5A6;

    }
}
