.givewp-donation-form {
    .givewp-layouts {
        &-header {
            position: relative;
            padding: 0 !important;

            &__templates, &__templates--background, &__templates--center {
                display: flex;
                flex-direction: column;
                padding: var(--givewp-spacing-6);
                gap: var(--givewp-spacing-6);
                width: 100%;

                @media screen and (min-width: 32.5rem) {
                    padding: var(--givewp-spacing-10) var(--givewp-spacing-20);
                }
            }

            &__templates {
                &--background {
                    display: flex;
                    flex-direction: column;
                    gap: var(--givewp-spacing-6);
                    width: 100%;

                    .givewp-layouts-headerImage {
                        margin-top: -1.5rem;
                    }

                    .givewp-layouts-headerImage > img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-top-left-radius: 0.5rem;
                        border-top-right-radius: 0.5rem;
                    }

                    div:not(.givewp-layouts-headerImage), aside {
                        position: relative;
                        z-index: 999;
                    }
                }

                &--above {
                    width: 100%;

                    @supports (background-color: color-mix(in lab, var(--givewp-primary-color) 15%, white)) {
                        background-color: color-mix(in lab, var(--givewp-primary-color) 15%, white);
                    }

                    .givewp-layouts-headerTitle h2, .givewp-layouts-headerDescription p {
                        color: var(--givewp-grey-900);
                    }

                    .givewp-layouts-headerImage {
                        width: 100%;

                        img {
                            object-fit: cover;
                            min-width: 100%;
                            height: 320px;
                            border-top-left-radius: 0.5rem;
                            border-top-right-radius: 0.5rem;
                        }
                    }

                    .givewp-layouts-headerContent {
                        display: flex;
                        flex-direction: column;
                        gap: var(--givewp-spacing-6);
                        padding: var(--givewp-spacing-6);

                        @media screen and (min-width: 32.5rem) {
                            padding: var(--givewp-spacing-10) var(--givewp-spacing-20);
                        }
                    }
                }

                &--center {
                    @supports (background-color: color-mix(in lab, var(--givewp-primary-color) 15%, white)) {
                        background-color: color-mix(in lab, var(--givewp-primary-color) 15%, white);
                    }

                    .givewp-layouts-headerTitle h2, .givewp-layouts-headerDescription p {
                        color: var(--givewp-grey-900);
                    }

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: var(--givewp-spacing-6);

                    .givewp-layouts-headerImage {
                        width: 100%;

                        img {
                            object-fit: cover;
                            min-width: 100%;
                            height: 311px;
                            border-radius: var(--givewp-rounded-4);
                        }
                    }

                    .givewp-layouts-goal {
                        margin-top: -1.35rem;
                    }
                }
            }
        }
    }
}
