.givewp-design-settings--image-style {
    &__background {
        .givewp-layouts-header {
            --tint-color: rgba(0, 0, 0, 0.3); /* Note: Color needs to be converted to RGB values. */
            --tint: linear-gradient(90deg, var(--tint-color), var(--tint-color));
            background-color: rgb(30, 140, 190);
            background-image: var(--tint, linear-gradient(transparent, transparent)), var(--givewp-design-settings-background-image);
            background-position: 50%;
            background-size: cover;

            img {
                display: none;
            }

            .givewp-layouts {
                &-headerTitle > h2, &-headerDescription p {
                    color: var(--givewp-shades-white);
                }

                &-headerDescription {
                    padding: 0 2rem;
                }
            }
        }

        .givewp-donation-form__steps-body {
            .givewp-layouts-header {
                background: none;
            }

            .givewp-multistep-header-background {
                position: relative;
                top: -2rem;
                left: -2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: 204px;
                height: 100%;
                width: calc(100% + 4rem);
                --tint-color: rgba(0, 0, 0, 0.3); /* Note: Color needs to be converted to RGB values. */
                --tint: linear-gradient(90deg, var(--tint-color), var(--tint-color));
                background-color: rgb(30, 140, 190);
                background-image: var(--tint, linear-gradient(transparent, transparent)), var(--givewp-design-settings-background-image);
                background-position: 50%;
                background-size: cover;
            }
        }
    }

    &__center {
        .givewp-form-secure-badge + .givewp-layouts-headerImage {
            margin-bottom: -1.25rem;
        }

        .givewp-layouts-headerImage {
            width: 100%;
            min-width: 100%;
            margin-bottom: .25rem;
        }

        .givewp-design-settings-image--center {
            display: block;
            border-radius: .5rem;
            min-width: 100%;
            height: 311px;

            img {
                width: 100%;
                height: 100%;
                border-radius: var(--givewp-rounded-4);
                object-fit: cover;
            }
        }

        .givewp-layouts {
            &-headerTitle > h2, &-headerDescription p {
                color: var(--givewp-grey-900) !important;
            }
        }
    }

    &__above {
        position: relative;

        .givewp-layouts-header {
            margin-top: 310px;
            color: var(--givewp-grey-900);
            border-radius: 0;
        }

        .givewp-design-settings-image--above {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0 var(--givewp-spacing-2);
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;

            img {
                height: 320px;
                width: 100%;
                object-fit: cover;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                box-shadow: var(--givewp-shadow-xs);
            }
        }

        .givewp-layouts-headerDescription + .givewp-layouts-headerImage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-width: var(--two-panel-header-width);
            padding: 0;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;

            .givewp-design-settings-image--above {
                position: relative;
                min-width: 100%;
                padding: 0;

                img {
                    height: 320px;
                    width: 100%;
                    padding: 0;
                    object-fit: cover;
                    border-top-left-radius: 0.5rem;
                    border-top-right-radius: 0.5rem;
                    box-shadow: var(--givewp-shadow-xs);
                }
            }
        }


        .givewp-donation-form__steps-body {
            .givewp-design-settings-image--above {
                padding: 0;
            }
        }

        .givewp-layouts {
            &-headerTitle > h2, &-headerDescription p {
                color: var(--givewp-grey-900) !important;
            }
        }
    }
}


