.givewp-mini-chart {
    width: calc(100% - 32px);
    padding: 16px 0 16px 16px;
    display: flex;
    flex-direction: column;

    > .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 8px;

        > .title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            color: #82878C;
        }

        > .percentage {
            font-size: 14px;
            font-weight: bold;
        }
    }

    > .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > .amount {
            font-weight: bold;
            font-size: 25px;
        }

        > .chart {
            width: 35%;
        }
    }
}