.form {
    display: grid;
    gap: var(--givewp-spacing-6);
    padding: var(--givewp-spacing-4);
}

.fieldLabel {
    font-size: 0.875rem;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    font-weight: 500;
    color: var(--givewp-grey-600);

    > * {
        margin-top: .45rem;
    }
}

.textFieldContainer {
    display: flex;
    border-radius: var(--givewp-rounded-4);
    background-color: var(--givewp-shades-white);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--givewp-grey-600);

    > input {
        flex: 1;
        padding: var(--givewp-spacing-3);
        border: solid 1px var(--givewp-grey-400);

        &:focus {
            border: 1px solid #2684FF;;
            box-shadow: 0 0 0 1px #2684FF;
        }
    }
    .disabled {
        border-radius: 4px;
        border: solid 1px var(--givewp-grey-100);
        background-color: var(--givewp-grey-25);
    }
}

.currencyField {
    input {
        font-size: 1.25rem;
    }
}

.reactSelectContainer {
    input:focus {
        box-shadow: none;
    }
}

