.givewp-donation-form-link,
.givewp-donation-form-modal__open {
    color: var(--givewp-secondary-color, #ffffff) !important;
    background: var(--givewp-primary-color, #2271b1);
    padding: 0.75rem 1.25rem !important;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500 !important;
    text-decoration: none !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
    width: 100%;
}

.components-input-control__label {
    width: 100%;
}

.wp-block-givewp-campaign-form {
    position: relative;

    form[id*='give-form'] #give-gateway-radio-list > li input[type='radio'] {
        display: inline-block;
    }

    iframe {
        pointer-events: none;
        width: 100% !important;
    }
}

.give-change-donation-form-btn {
    svg {
        margin-top: 3px;
    }
}

.givewp-default-form-toggle{
    margin-top: var(--givewp-spacing-4);
}
