.givewp-fields-amount button {
    --give-primary-color: #1E8CBE;
    --give-header-background-color--for-rgb: 30, 140, 190;
    --give-header-stats-progressbar-color: #2bc253;
    --give-primary-font: 'Montserrat';
    list-style: none;
    box-sizing: inherit;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.125rem solid var(--give-primary-color);
    border-radius: 0.5rem;
    background-color: var(--give-primary-color);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    block-size: 100%;
    font-size: clamp(1.5rem, 0.474359rem + 3.20513vw, 2.125rem);
    padding: 0.5rem 0;
    transition-property: background-color, color, filter, box-shadow, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    width: 100%;
    margin-bottom: 0.5rem;
}

.givewp-fields-amount button:hover {
    filter: brightness(1.2);
}

.givewp-fields-amount input[name="amount"] {
    --give-primary-color: #1E8CBE;
    --give-header-background-color--for-rgb: 30, 140, 190;
    --give-header-stats-progressbar-color: #2bc253;
    --give-primary-font: 'Montserrat';
    box-sizing: inherit;
    inline-size: 100%;
    padding-block: 0.275em;
    padding-inline: 0.45em;
    border: 0.125rem solid rgb(66, 66, 66);
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    text-align: right;
    font-family: inherit;
    font-size: clamp(2.625rem, 1.80449rem + 2.5641vw, 3.125rem);
    font-weight: 600;
    line-height: 1.2;
    color: rgb(51, 51, 51);
    outline: 0;
    width: fit-content;
}

.givewp-groups-name {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"] {
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding: 0.5rem 0;
    width: 100%;
    margin-bottom: 0.5rem;
}

button[type="submit"] {
    --give-primary-color: #1E8CBE;
    --give-header-background-image: url("");
    --give-header-background-color--for-rgb: 30, 140, 190;
    --give-header-stats-progressbar-color: #2bc253;
    --give-primary-font: 'Montserrat';
    box-sizing: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border: 0.125rem solid var(--give-primary-color);
    border-radius: 0.5rem;
    background-color: var(--give-primary-color);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: inherit;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.2;
    transition-property: filter, box-shadow, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    inline-size: 100%;
    width: 100%;
    margin: 1rem 0;
}
