.campaignForm {

    .intro {
        font-size: 1rem;
        color: #4b5563;
        align-self: stretch;
        padding: 0 1.25rem 0 0.625rem;
        margin: unset;
    }

    .submitButton {
        border-radius: 0;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.43;
        padding: var(--givewp-spacing-2) var(--givewp-spacing-4);
        text-align: center;
    }

    label {
        font-size: 1rem;
    }

    input,
    select,
    textarea {
        font-size: 1rem;
        line-height: 2;
        display: block;
        width: 100%;
        border: 1px solid #9ca0af;
        border-radius: var(--givewp-spacing-1);
        padding: var(--givewp-spacing-2);
        /*margin: var(--givewp-spacing-2) 0;*/
    }

    select {
        max-width: 100%;
    }

    .description {
        font-size: 0.875rem;
        margin-bottom: 0.4rem;
    }

    .notice {

        /*p {
            margin: unset;
        }*/

        display: flex;
        margin: 1rem 0 -0.2rem 0;
        gap: 0.3rem;
        padding: 0 0.5rem 0 0.5rem;
        background-color: var(--givewp-blue-25);
        border-radius: 4px;
        border: 1px solid var(--givewp-blue-400);
        border-left-width: 4px;
        font-size: 0.875rem;
        font-weight: 500;
        color: #1a0f00;
        /*line-height: 1.25rem;
        height: 2.75rem;
        max-width: 60rem;
        width: 100%;*/

        svg {
            margin: 0.7rem 0.3rem;
            height: 1.25rem;
            width: 1.25rem;
        }
    }
}

.fieldRequired {
    color: var(--givewp-red-500);
}
