.skeletonContainer {
    width: 100%;
    max-width: 50.5rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: sans-serif;
    height: 100vh;
}
