.container {
    margin-top: 3rem;
    padding: 3rem;
}

:global {
    :root {
        --give-primary-color: #69b868;
    }

    .post-type-give_forms #wpbody {
        box-sizing: border-box;

        & > a {
            text-decoration: underline;
        }
    }

    .post-type-give_forms #wpbody-content {
        box-sizing: border-box;
    }

    .post-type-give_forms #wpbody::after {
        all: revert;
    }

    .give-visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    #wpcontent {
        padding: 0;
    }
}

.page {
    box-sizing: border-box;
    color: #333;
    font-family: Open Sans, system-ui, sans-serif;
    font-size: 1rem;

    *,
    ::before,
    ::after {
        box-sizing: inherit;
    }
}

.pageHeader {
    background-color: #fff;
    padding-block: 1em;
    padding-inline: 1.5em;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    & > * {
        flex-shrink: 0;
    }
}

.flexRow {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    margin-top: auto;
}


.flexRow:not(:first-child) {
    flex: 1;
    justify-content: flex-end;
}

.justifyContentEnd {
    flex: 1;
    justify-content: flex-end;
}

.breadcrumb {
    display: flex;
    line-height: 1rem;
    font-size: 0.7rem;
    color: #424242;

    & > span {
        font-weight: bold;
    }

    & > a {
        text-decoration: none;
        color: #696969;
    }

    & > a:hover {
        text-decoration: underline;
    }
}

.pageTitle {
    color: #424242;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

select[name="campaignId"] {
    display: none;
}

.fullWidth {

}

.tabs {
    display: flex;
    gap: 0.25rem;
    background-color: #fff;
    border-bottom: 0.0625rem solid #dbdbdb;

    &:not(.fullWidth) {
        padding: 0 var(--givewp-spacing-6);
    }
}


.tabs [data-reach-tab],
.tabs [role='tab'] {
    position: relative;
    appearance: none;
    padding: 1em;
    border: 0;
    background-color: transparent;
    color: inherit;
    font-size: 0.8rem;
    cursor: pointer;
}

@media screen and (min-width: 48rem) {
    .tabs [data-reach-tab],
    .tabs [role='tab'] {
        font-size: 1rem;
    }
}

.tabs [data-reach-tab]::after,
.tabs [role='tab']:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% - 0.1875em);
    width: calc(100% - 2em);
    height: 0.1875em;
    background-color: transparent;
    transition: background-color 100ms ease-in-out;
}

.tabs [role='tab']:hover,
.tabs [data-reach-tab][aria-selected='true'],
.tabs [role='tab'][aria-selected='true'] {
    font-weight: 600;
}

.tabs [data-reach-tab][aria-selected='true']::after,
.tabs [role='tab'][aria-selected='true']::after {
    background-color: #66bb6a;
}

.archiveDialogContent {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: var(--givewp-spacing-3);
}

.archiveDialogButtons {
    display: flex;
    flex-direction: row;
    padding: var(--givewp-spacing-3);
    justify-content: space-between;
    gap: 10px;

    button {
        cursor: pointer;
        display: flex;
        flex: 1;
        justify-content: center;
        border-radius: 4px;
        font-size: 0.875rem;
        line-height: 1.5;
        padding: var(--givewp-spacing-3) var(--givewp-spacing-6);
        border: none;
    }

    .cancelButton {
        border: 1px solid #9ca0af;
        background-color: #fff;
        color: #1f2937;
    }

    .confirmButton {
        border: 1px solid #d92d0b;
        background-color: #d92d0b;
        color: #fff;
    }
}

.pageContent {
    /*padding: 0 var(--givewp-spacing-6) var(--givewp-spacing-6);*/

    &:not(.fullWidth) {
        padding: var(--givewp-spacing-6) var(--givewp-spacing-6);
    }

    section {
        margin-bottom: var(--givewp-spacing-14);
        position: relative;

        h2 {
            font-size: 1.125rem;
            line-height: 1.56;
            margin: 0 0 var(--givewp-spacing-2);
        }
    }

    .sections {
        .section {
            display: flex;
            background-color: #fff;
            padding: var(--givewp-spacing-4);
            border-radius: var(--givewp-spacing-2);
            margin-bottom: var(--givewp-spacing-4);
            align-content: flex-start;
            flex-direction: row;

            .leftColumn {
                flex: 1;
                padding-right: var(--givewp-spacing-6);
            }

            .rightColumn {
                flex: 2;
            }

            .sectionTitle {
                font-size: 18px;
                font-weight: 600;
                line-height: 1.56;
                color: #060c1a;
                padding: var(--givewp-spacing-2) 0;
            }

            .sectionDescription {
                font-size: 16px;
                color: #4b5563;
            }

            .sectionSubtitle {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                color: #1f2937;
                padding: var(--givewp-spacing-2) 0;
            }

            .sectionField {
                margin-bottom: var(--givewp-spacing-6);
            }

            .sectionFieldDescription {
                font-size: 14px;
                color: #4b5563;
            }

            .errorMsg {
                font-size: 14px;
                padding: var(--givewp-spacing-2) 0;
                color: #ff0000;
            }

            input,
            select,
            textarea {
                font-size: 16px;
                line-height: 2;
                display: block;
                width: 100%;
                border: 1px solid #9ca0af;
                border-radius: var(--givewp-spacing-1);
                padding: var(--givewp-spacing-2);
                margin: var(--givewp-spacing-2) 0;
            }

            select {
                max-width: 100%;
            }
        }
    }

    .warningNotice {
        display: flex;
        margin: 1rem 0 -0.2rem 0;
        gap: 0.3rem;
        padding: 0 0.5rem 0 0.5rem;
        background-color: #fffaf2;
        border-radius: 4px;
        border: 1px solid var(--givewp-orange-400);
        border-left-width: 4px;
        font-size: 0.875rem;
        font-weight: 500;
        color: #1a0f00;

        svg {
            margin: 0.8rem 0.3rem;
            height: 1.25rem;
            width: 1.25rem;
        }
    }
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .loadingContainerContent {
        display: flex;
        background-color: #fff;
        padding: var(--givewp-spacing-6);
        border-radius: var(--givewp-spacing-2);
        margin-bottom: var(--givewp-spacing-4);
        align-items: center;
        flex-direction: column;
    }

    .loadingContainerContentText {
        padding: var(--givewp-spacing-4);
        font-size: 16px;
    }
}

:global(#give-admin-campaigns-root) {
    .editCampaignPageButton,
    .updateCampaignButton {
        display: flex;
        align-content: center;
        border-radius: var(--givewp-rounded-4);
        font-size: 0.875rem;
        line-height: 1.5;
        text-align: center;
        padding: var(--givewp-spacing-2) var(--givewp-spacing-4);

        svg {
            margin: 3px 0 0 8px !important;
        }
    }

    .editCampaignPageButton {
        color: #060c1a;
        background-color: #d1d5db;
        border-color: #d1d5db;
    }


    .campaignButtonDots {
        background-color: #d1d5db;
        border-color: #d1d5db;
        border-radius: var(--givewp-rounded-4);
        line-height: 0;
        padding: var(--givewp-spacing-2);
    }

    .contextMenu {
        position: absolute;
        z-index: 9999;
        padding: var(--givewp-spacing-1);
        top: 50px;
        width: 203px;
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: solid 1px #f3f4f6;
        background-color: #fff;

        .contextMenuItem {
            text-decoration: none;
            gap: 5px;
            display: flex;
            align-items: center;
            padding: var(--givewp-spacing-2);
            font-size: 14px;
            font-weight: 500;
            line-height: 1.43;
            color: #1f2937;

            &:hover {
                background-color: #f3f4f6;
            }
        }

        .archive {
            color: #d92d0b;
        }

        .draft {
            font-weight: bold;
        }
    }
}
