.givewp-donation-form {
    &__steps {
        padding: 0;
        max-width: 552px;
        width: 100%;
        margin: 0 auto;
        border-radius: 6px;
        color: #696969;
        background-color: #fff;
        box-shadow: var(--givewp-shadow-sm);
    }

    &__steps-button-next {
        display: flex;
        justify-content: center;
        gap: var(--givewp-spacing-4);
        background-color: var(--givewp-primary-color);
        color: var(--givewp-grey-5);
        line-height: 1.5;
        font-weight: 600;

        &:after {
            content: "";
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            background-color: inherit;
            background-image: var(--givewp-icon-arrow-right);
            background-position: center;
            background-repeat: no-repeat;
        }

        @supports (background-color: color-mix(in lab, var(--givewp-primary-color) 90%, black)) {
            &:hover {
                background-color: color-mix(in lab, var(--givewp-primary-color) 90%, black);
            }
        }
    }

    &__step {
        &--ascending {
            animation: forwards 0.3s fadeInRight;
        }

        &--descending {
            animation: forwards 0.3s fadeInLeft;
        }
    }
}
