.givewp-donation-form {
  &__steps {
    padding: 0;
    max-width: 552px;
    width: 100%;
    margin: 1rem auto;
    border-radius: 6px;
    color: #696969;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  &__step {
    &--ascending {
      animation: forwards 0.3s fadeInRight;
    }

    &--descending {
      animation: forwards 0.3s fadeInLeft;
    }
  }
}