@import "@fortawesome/fontawesome-free/css/all.css";

@layer base {
  @import "pico";
}

@layer base-components {
  @import "components/gateways";
  @import "components/amount";
  @import "components/donation-summary";
  @import "components/receipt";
  @import "components/pagination";
}

@layer base-elements {
  @import "elements/header";
  @import "elements/form";
  @import "elements/sections";
  @import "elements/multi-step-form";
}

@layer base-overrides {
  @import "base-overrides";
}
