.wp-block-give-donation-form {
	position: relative;

	form[id*='give-form'] #give-gateway-radio-list > li input[type='radio'] {
		display: inline-block;
	}
}

.give-change-donation-form-btn {
	svg {
		margin-top: 3px;
	}
}
