.unlimited, .limited {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5;
}

.limited {
    color: #d98715;
    background-color: #fffaf2;
    border-color: #d98715;
}

.unlimited {
    color: #459948;
    background-color: #f2fff3;
    border-color: #459948;
}