.givewp-design-settings--image-style {

    &__background {
        .givewp-layouts-header {
            --tint-color: rgba(30, 140, 190, 0.4); /* Note: Color needs to be converted to RGB values. */
            --tint: linear-gradient(90deg, var(--tint-color), var(--tint-color));
            background-color: rgb(30, 140, 190);
            background-image: var(--tint, linear-gradient(transparent, transparent)), var(--givewp-design-settings-background-image);
            background-position: 50%;
            background-size: cover;
        }
    }

    &__cover {
        /*
         * Note: This requires that the Header.tsx template wrap the title/description.
         *       The below examples adds the `.givewp-layouts-headerCover` wrapper.
         */
        &.givewp-donation-form {
            transform: translateY(15rem);
        }

        .givewp-layouts-header {
            position: relative;
        }

        .givewp-layouts-headerTextWrapper {
            position: absolute;
            top: -10rem;

            .givewp-layouts-headerTitle {
                margin-bottom: var(--givewp-spacing-4);
            }
        }

        .givewp-layouts-header::before {
            content: "";
            position: absolute;
            display: block;
            top: -75%;
            width: 145%;
            height: 140%;
            z-index: -1;
            --tint-color: rgba(30, 140, 190, 0.4); /* Note: Color needs to be converted to RGB values. */
            --tint: linear-gradient(90deg, var(--tint-color), var(--tint-color));
            background-color: rgb(30, 140, 190);
            background-image: var(--tint, linear-gradient(transparent, transparent)), var(--givewp-design-settings-background-image);
            background-size: cover;
        }
    }

    &__above {
        // Flatten image borders when logo is available.
        &.givewp-design-settings--logo {
            .givewp-layouts-header::after {
                border-radius: 0;
            }
        }

        .givewp-layouts-header {
            margin-top: 320px;
            position: relative;
            border-radius: 0;
        }

        .givewp-layouts-header::after {
            content: "";
            position: absolute;
            top: -320px;
            width: 100%;
            height: 320px;
            background-image: var(--givewp-design-settings-background-image);
            background-position: 50%;
            background-size: cover;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
    }

    &__center {
        .givewp-layouts-goal {
            margin-top: 320px;
            position: relative;
            border-radius: 0;
        }

        .givewp-layouts-goal::after {
            content: "";
            position: absolute;
            top: -320px;
            left: 0;
            width: 100%;
            height: 320px;

            background-image: var(--givewp-design-settings-background-image);
            background-position: 50%;
            background-size: cover;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
    }
}


.givewp-design-settings--image-style__cover {
    &.givewp-design-settings--logo {
        .givewp-layouts-header {
            margin-top: 13rem;
        }

        .givewp-layouts-header::before {
            top: -80%;
        }

        .givewp-layouts-headerTextWrapper {
            top: -10rem;
        }

        //Logo container
        &.givewp-donation-form::after {
            width: 142.32%;
            left: -21.15%;
            top: -3%;
        }
    }
}
