.givewp-design-settings--logo {
    --givewp-logo-container: 5rem;

    &.givewp-donation-form {
        position: relative;
        transform: translateY(var(--givewp-logo-container));

        // This accounts for the space below the button that overflows/hidden.
        button[type=submit] {
            margin-bottom: 4rem;
        }


        &::after {
            content: "";
            position: absolute;
            height: var(--givewp-logo-container);
            top: calc(-.9 * var(--givewp-logo-container));
            width: calc(100% - 16px);
            padding: var(--givewp-spacing-6) var(--givewp-spacing-10);
            background-size: contain;
            background-color: white;
            background-position: left; /* left, center, or right */
            background-origin: content-box;
            background-image: var(--givewp-design-settings-logo);
            border-top-left-radius: .25rem !important;
            border-top-right-radius: .25rem !important;
        }

        .givewp-layouts-header {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }
    }

    &:has(.givewp-donation-form__steps) {
        padding-bottom: var(--givewp-logo-container);
        width: 35rem;
        margin: 0 auto;

        .givewp-donation-form__steps {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-top: none;
            box-shadow: var(--givewp-shadow-md);
            border-bottom: none;
            margin: 0 auto;
        }
    }
}


.givewp-design-settings--logo-position {

    &__left {
        &.givewp-donation-form::after {
            background-position: left; /* left, center, or right */
        }
    }

    &__center {
        &.givewp-donation-form::after {
            background-position: center; /* left, center, or right */
        }
    }

    &__right {
        &.givewp-donation-form::after {
            background-position: right; /* left, center, or right */
        }
    }
}
