.interweave {

    //Donation List Table
    .statusBadge  {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        height: 2rem;
        background-color: var(--give-primary-color);
        border-radius: 0.1875rem;
        color: #fff;
        font-size: 0.8125rem;
        font-weight: 600;
        column-gap: 1rem;
        text-transform: uppercase;

        &--completed {
            background: #69B868
        }

        &--failed {
            background: #D75A4B;
        }

        &--abandoned {
            background: #F4C520;
        }

        &--pending{
            background: #0878B0;
        }
    }

    .idBadge {
        display: inline-flex;
        flex-shrink: 0;
        flex-grow: 0;
        align-items: center;
        background-color: #f3f2ec;
        border: 0.0625rem solid #e0dfd9;
        border-radius: 9999px;
        color: #5f5f5f;
        padding-block: 0.1em;
        padding-inline: 0.5em;
        text-align: center;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .idBadge::before {
        content: '#';
        font-size: 0.615em;
        padding-inline-end: 0.25em;
    }

    .typeBadge {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        font-family: Open Sans;
        background-color: white;
        border: 0;
        border-radius: 0.1875rem;
        box-shadow: inset 0 0 0 1px rgba(203, 203, 203, 1);
        inline-size: -moz-fit-content;
        max-inline-size: fit-content;
        block-size: 2rem;
        margin: 0;
        padding: 0;


        & > * {
            flex: 0 0 auto;
        }

        &__container {
            display:inline-flex;
            align-items: center;
            justify-content: center;
            border-top-left-radius: 0.1875rem;
            border-bottom-left-radius: 0.1875rem;
            padding: 0.375em;


            &--single {
                background: #556E79;
            }

            &--recurring{
                background: linear-gradient(225.34deg, #59AD70 0%, #2EBBBB 101.17%);
            }
        }

        &__badge {
            color: #FFFFFF;
            padding: 0 0.0975rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 22px;
            box-sizing: content-box !important;
        }

        &__label {
            padding: 0.875rem;
            color: #555555;
            font-size: .875rem;
            font-weight: 400;
            line-height: 1rem;
            text-transform: uppercase;
        }
    }
}
