/* stylelint-disable selector-class-pattern */

.give-donor-dashboard-mobile-layout {
    display: flex;
    flex-direction: column;

    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;

    min-height: 800px;
}

.give-donor-dashboard-mobile-layout__tab-menu {
    background: #fbfbfb;
    border-right: 1px solid #e2e6ec;

    .give-donor-dashboard-tab-link {
        font-size: 15px;
        padding: 12px 16px;
        border-left: 4px solid #68bb6c00;
        text-decoration: none !important;
        border-bottom: none !important;
        color: #424242;

        transition: border-left 0.2s ease;

        &.give-donor-dashboard-tab-link--is-active {
            border-left: 4px solid var(--give-donor-dashboard-accent-color);
            background: #fff;
        }
    }
}

.give-donor-dashboard-mobile-layout__tab-content {
    padding: 12px;
}
