:global(.post-type-give_forms #wpbody) {
    padding-left: 0;
}

:global(.post-type-give_forms #wpbody:after) {
    all: unset !important;
}

:global(#wpbody-content) {
    padding-bottom: 0;
}

.root,
.root *,
.root ::before,
.root ::after {
    box-sizing: border-box;
}

.root {
    height: 100%;
    padding-bottom: 6rem;
    background-color: #fff;
    background-image: var(--decor);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 22.875rem 10.3125rem;
    color: #333;
    font-family: 'Open Sans', system-ui, sans-serif;
    transition-property: background-image;
    /* This delay (ideally) reduces the flicker from the first time a new decor image loads */
    transition-delay: 50ms;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.header {
    display: grid;
    gap: 1.5rem;
    padding-top: 1.5rem;
    border-bottom: 0.0625rem solid #eaeaea;
    position: relative;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 64.875rem;
    width: 100%;
    margin: 0 auto;
}

.logo {
    height: 3.75rem;
}

.sourceNotice {
    position: absolute;
    top: 0.75rem;
    color: #556e79;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1.36;
}

@media screen and (min-width: 48rem) {
    .sourceNotice {
        right: 15.625rem;
    }
}

.sourceNotice a {
    color: #69b86b;
    text-decoration: none;
}

.sourceNotice a::after {
    position: relative;
    top: 0.2em;
    display: inline-block;
    content: '';
    height: 1em;
    width: 1em;
    margin-left: 0.3125rem;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.438 6.25h-.626a.312.312 0 0 0-.312.313V8.75H1.25V2.5h2.813a.312.312 0 0 0 .312-.313v-.624a.312.312 0 0 0-.313-.313H.938A.937.937 0 0 0 0 2.188v6.874A.937.937 0 0 0 .938 10h6.875a.937.937 0 0 0 .937-.938v-2.5a.312.312 0 0 0-.313-.312ZM9.53 0h-2.5A.47.47 0 0 0 6.7.8l.698.699-4.76 4.758a.469.469 0 0 0 0 .664l.442.442a.469.469 0 0 0 .665 0l4.758-4.76.697.698A.47.47 0 0 0 10 2.969v-2.5A.469.469 0 0 0 9.531 0Z' fill='%2369b86b'/%3E%3C/svg%3E");
}

.tabs {
    display: flex;
    gap: 2.25rem;
}

.tabs [data-reach-tab],
.tabs [role='tab'] {
    position: relative;
    appearance: none;
    padding: 1em;
    border: 0;
    background-color: transparent;
    color: inherit;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
}

@media screen and (min-width: 48rem) {
    .tabs [data-reach-tab],
    .tabs [role='tab'] {
        font-size: 1rem;
    }
}

.tabs [data-reach-tab]::after,
.tabs [role='tab']:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% - 0.1875em);
    width: calc(100% - 2em);
    height: 0.1875em;
    background-color: transparent;
    transition: background-color 100ms ease-in-out;
}

.tabs [data-reach-tab][aria-selected='true']::after,
.tabs [role='tab'][aria-selected='true']::after {
    background-color: #66bb6a;
}
