.givewp-legend {
    display: flex;
    flex-direction: column;

    > .item {
        display: flex;
        height: 40px;
        font-size: 12px;

        &:nth-of-type(odd) {
            background: #F4F4F4;
        }

        &.inactive {
            opacity: 0.3;
        }

        > .bar {
            width: 8px;
            background: rgb(54, 68, 85);
        }

        > .label {
            flex: 1;
            margin: 14px 8px;
            font-weight: bold;
        }

        > .data {
            margin: 14px 8px;
            width: 76px;
        }

        > .percent {
            margin: 14px 16px 14px 8px;
        }

    }
}