.actionContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        cursor: pointer;

        .paymentMethod {
            display: flex;
            align-items: center;
            gap: .75rem;
        }

        > .buttonLabelContainer, .labelContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            background: none;
            border: none;
            cursor: pointer;

            > span:first-child {
                display: flex;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                color: var(--givewp-grey-900);
                margin-bottom: var(--givewp-spacing-3);

                > svg {
                    margin-left: var(--givewp-spacing-3);
                    cursor: pointer;
                }
            }

            .amount {
                display: block;
                font-size: 2rem;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: normal;
                text-align: left;
                color: var(--givewp-green-400);
            }

            .text {
                font-size: 1rem;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: left;
                color: var(--givewp-grey-900);
            }
        }
    }

    .actionContainer:nth-child(1), .actionContainer:nth-child(2), .actionContainer:nth-child(1) {
        margin-bottom: var(--givewp-spacing-10);
    }

