.givewp-reports-widget-container {
    position: relative;
    height: auto;
    width: 100%;
}

#givewp_reports_widget {
    background: rgb(249, 249, 249);

    .inside {
        margin-top: 0;
        padding: 0;
    }
}

a.givewp-reports-link {
    float: right;
    height: 100%;
    font-size: 14px;
    text-decoration: none !important;
    margin: 0;
}


#dashboard-widgets {
    .givewp-reports-widget-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        min-width: 100%;
        background: rgba(229, 229, 229, 0.45);
        z-index: 999;
    }

    .givewp-reports-widget-overlay-content {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        background: #ffffff;
        width: 20rem;
        padding: 1.5rem;
        box-shadow: 0px 4px 8px rgba(14, 14, 14, 0.15);
        border-radius: 4px;
        font-family: 'SF Pro Text', sans-serif;

        &-title {
            text-align: center;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.5rem;
            color: #0E0E0E;
            padding: 0 1rem;
            margin: 0;
        }

        p {
            flex-grow: 1;
            padding: 0;
            margin: 0;
            font-size: 0.8125rem;
            font-weight: 500;
            color: #404040;
            line-height: 20px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5625rem;
            background: #459948;
            cursor: pointer;
            color: #F2F9FF;
            padding: .5rem 1rem;
            text-decoration: none;
            font-weight: 500;
        }
    }
}
