.givewp-reports-widget-container {
	position: relative;
	height: auto;
	width: 100%;
	overflow: hidden;
	border-radius: 6px;
}

#givewp_reports_widget {
	.inside {
		background: rgb(241, 241, 241);
		margin-top: 0;
	}
}
