.givewp-chart-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;

	> .givewp-chart-title-text {
		font-weight: 600;
		font-size: 15px;
		white-space: nowrap;
	}
}

.givewp-chart-canvas {
	display: flex;
	flex: 1;
	align-items: center;
	background: #f4f4f4;
	border-radius: 5px;
	overflow: hidden;

	canvas {
		position: relative;
	}
}

#givewp-chartjs-tooltip {
	min-width: 106px;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transform: translate(-50%, 0);

	.givewp-tooltip-header {
		background: #666;
		padding: 8px 12px;
		color: #fff;
		font-size: 15px;
		border-radius: 3px 3px 0 0;
	}

	.givewp-tooltip-body {
		padding: 8px 12px;
		color: rgb(228, 228, 228);
		font-size: 12px;
		background: #555;
		border-radius: 0 0 3px 3px;
	}

	.givewp-tooltip-caret {
		height: 14px;
		width: 20px;
		margin: 0 auto;
		transform: translate3d(0, -1px, 0);
		background: #555;
		clip-path: polygon(50% 100%, 0 0, 100% 0);
	}
}
