.banner {
    background-color: var(--givewp-blue-500);
    padding: var(--givewp-spacing-5) var(--givewp-spacing-6);
    color: #fff;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: var(--givewp-spacing-7);

    span {
        font-weight: bold;
        margin-right: var(--givewp-spacing-3);
        padding: var(--givewp-spacing-1) var(--givewp-spacing-2);
        border-radius: 0.4rem;
        color: var(--givewp-blue-500);
        background-color: var(--givewp-blue-25);
    }

    strong {
        margin-left: var(--givewp-spacing-3);
    }
}


.title {
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: var(--givewp-spacing-3);
    display: flex;
    align-items: center;

    svg {
        margin-right: var(--givewp-spacing-2);
    }

    &:not(:first-child)  {
        margin-top: var(--givewp-spacing-5);
    }
}

.info {
    margin-bottom: var(--givewp-spacing-5);
}

.addonsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--givewp-spacing-3);

    .addon {
        display: flex;
        flex-basis: 50%;
        margin-bottom: var(--givewp-spacing-2);
        align-items: center;

        svg {
            margin-right: var(--givewp-spacing-2);
        }
    }
}

.imageContainer {
    display: flex;
    justify-content: center;
    border-top-left-radius: var(--givewp-rounded-4);
    border-top-right-radius: var(--givewp-rounded-4);
    height: 305px;
    margin-top: calc(var(--givewp-spacing-5) * -1);
    margin-left: calc(var(--givewp-spacing-5) * -1);
    margin-right: calc(var(--givewp-spacing-5) * -1);
    padding: var(--givewp-spacing-3);

    background-color: var(--givewp-grey-5);
    border-bottom: 1px solid var(--givewp-grey-50);

    img {
        width: 90%;
        height: auto;
    }
}

.indicator {
    padding: 0;
    margin-top: var(--givewp-spacing-3);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stepIndicator {
    display: block;
    cursor: pointer;
    margin: var(--givewp-spacing-1);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--givewp-grey-50);

    &.active {
        background-color: var(--wp-blue-blue-50);
    }
}

.formName {
    color: #459948;
}
