.donor-item {
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 16px;

    > img {
        object-fit: cover;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        overflow: hidden;
    }

    > .donor-initials {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        overflow: hidden;
        color: #FFFFFF;
        background: #D75A4B;
    }

    > .donor-info {
        flex: 1;
        margin-left: 16px;
    }

    > .donor-totals {
        text-align: right;
    }

    p {
        margin: 0;
    }
}