
.paymentMethod {
  align-items: center;
  display: flex;
  font-size: 1.125rem;
  font-weight: 600;
  gap: var(--givewp-spacing-2);
  line-height: calc(28 / 18);
}

.donationType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.date {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: calc(28 / 18);
  color: var(--givewp-neutral-900);
}

.gatewayCard {
  display: flex;
  flex-direction: column;
  justify-content: var(--givewp-spacing-2);
}

.gatewayLink {
  display: flex;
  align-items: center;
  gap: var(--givewp-spacing-2);
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
}

.badge {
  align-items: center;
  border-radius: var(--givewp-rounded-full);
  border: 1px solid var(--givewp-neutral-900);
  color: var(--givewp-neutral-900);
  display: flex;
  font-size: 0.75rem;
  font-weight: 600;
  gap: var(--givewp-spacing-1);
  justify-content: center;
  line-height: 1.5;
  padding: var(--givewp-spacing-1) var(--givewp-spacing-3);

  &.limited {
    color: #d98715;
    background-color: #fffaf2;
    border-color: #d98715;
  }

  &.unlimited {
    color: #459948;
    background-color: #f2fff3;
    border-color: #459948;
  }
}
