.container {
    align-items: center;
    color: var(--givewp-neutral-900);
    display: flex;
    flex: 1;
    font-size: 0.8125rem;
    font-weight: 600;
    justify-content: space-around;
    margin: 0;
    text-transform: uppercase;

    >span:first-child {
        margin-right: auto;
    }

    & > * {
        margin-inline-start: 0.125rem;
        margin-inline-end: 0.125rem;
    }
}

#currentPage {
    border-radius: 0;
    border-color: rgba(221, 221, 221);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
        min-width: 0;
        // Firefox wants an explicit width.
        width: 1.75rem;
        padding: 0.0125rem;
    }

}

.navDirection {
    align-items: flex-end;
    background: none;
    block-size: 1.5rem;
    border: none;
    color: var(--givewp-neutral-900);
    display: flex;
    font-size: 1.5rem;
    font-weight: 400;
    inline-size: 1.5rem;
    justify-content: center;
    padding: 0;
    text-decoration: none;
    transition-duration: .05s;
    transition-property: border, background, color;
    transition-timing-function: ease-in-out;
}

button[aria-disabled="false"].navDirection {
    cursor: pointer;

    &:hover {
        color: rgba(10, 75, 120);
    }
}

button[aria-disabled="true"].navDirection {
    color: rgba(167, 170, 173);
}

.navElement {
    text-align: center;
    vertical-align: baseline;

    &:is(select) {
        border: 0;
        font-size: 0.875rem;
        line-height: 1.43;
    }
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
