.give-obw-card {
	position: relative;
	padding: 20px;
	background: #fff;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	border: 1px solid #fff;
	border-radius: 8px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	transition: all 0.2s ease-out;

	> svg {
		margin-bottom: 20px;
	}
}
