.grid {
    box-sizing: border-box;
    display: grid;
    gap: 2.75rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    margin: 0;
}

@media screen and (min-width: 48rem) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 64rem) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid > li,
.grid > li > * {
    height: 100%;
}
