.root {
    width: max(57rem, 100%);
    align-items: center;
    color: #333;
}

.root *,
.root ::before,
.root ::after {
    box-sizing: border-box;
}

.title {
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

.description {
    font-size: 1.25rem;
    line-height: 1.5;
}

.learnMoreButton {}

.features {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 0.5rem;
    list-style: none;
}

.feature {
    display: inline-flex;
    column-gap: 0.5em;
    font-size: 1.25rem;
    line-height: 1.65;
}

.featureIcon {
    width: 1em;
    height: 1em;
}
