/* stylelint-disable selector-class-pattern */

.give-donor-dashboard-donation-receipt__table {
	display: flex;
	flex-direction: column;
	border: 1px solid #e2e6ec;
	border-radius: 6px;
	font-size: 14px;
	color: #555;
	margin-bottom: 18px;
	overflow: hidden;

	.give-donor-dashboard-donation-receipt__row {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 16px 20px;

		@media screen and (max-width: 920px) {
			align-items: center !important;
			flex-direction: column;
		}
	}

	.give-donor-dashboard-donation-receipt__status-indicator {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		overflow: hidden;
		color: #888;
		margin-right: 6px;
	}

	.give-donor-dashboard-donation-receipt__detail {
		text-transform: uppercase;
		display: flex;
		align-items: center;

		svg {
			color: #989898;
			margin-right: 10px;
		}
	}

	.give-donor-dashboard-donation-receipt__value {
		text-align: right;
		display: flex;
		align-items: center;
	}

	.give-donor-dashboard-donation-receipt__row--footer {
		background: #fbfbfb;
		border-top: 1px solid #e2e6ec;
		align-items: center;

		.give-donor-dashboard-donation-receipt__detail {
			color: #6b6b6b;
			font-size: 16px;
			font-weight: 700;
		}

		.give-donor-dashboard-donation-receipt__value {
			color: var(--give-donor-dashboard-accent-color);
			font-size: 22px;
			font-weight: 700;
		}
	}
}
