/* stylelint-disable no-duplicate-selectors */

.post-type-give_campaign {

	/* Hide responsive "preview" in header. */
	.block-editor-post-preview__dropdown {
		display: none;
	}

	/* Set custom editor width. */
	.wp-block {
		max-width: 1100px;
	}

	.edit-post-visual-editor.editor-styles-wrapper {
		background-color: #f1f1f1;
	}
}

.wp-block[data-type='give/campaign-progress'] {
	margin: 20px auto 0 !important;
	width: 100%;
	border: 1px solid #ebebeb;
	border-width: 1px 0;
}

.wp-block[data-type='give/campaign-featured-image'] {
	.components-button:not(.editor-post-featured-image__preview):not(.editor-post-featured-image__toggle) {
		display: none;
	}
}

.wp-block[data-type='give/campaign-preview'] {
	background-color: #fff;
	border-radius: 8px;

	box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.04);

	/* The inner wrapper for layout. */
	& > .block-editor-inner-blocks > .block-editor-block-list__layout {

		/* Condenses the layout. */
		.wp-block,
		.block-editor-block-list__block {
			margin-top: 0;
			margin-bottom: 0;
		}

		/* Condenses the layout, accounting for the alignment wrapper. */
		.wp-block[data-align] {
			height: auto;
		}

		/* "Deep" set height through nested elements. */
		.wp-block[data-type='give/campaign-featured-image'] {
			min-height: 250px;

			.editor-post-featured-image,
			.editor-post-featured-image__container,
			.editor-post-featured-image__toggle {
				height: 100%;
			}
		}

		.wp-block[data-type='give/campaign-featured-image'],
		.wp-block[data-type='core/heading'] {
			margin-top: 30px;
		}

		.wp-block[data-type='give/campaign-featured-image'] {
			grid-area: image;
			width: 100%;
			padding: 0 20px;
		}
		.wp-block[data-type='core/heading'] {
			grid-area: heading;
		}
		.wp-block[data-type='core/paragraph'] {
			grid-area: paragraph;
			line-height: 29px;
			margin-right: 20px;
		}
		.wp-block[data-type='core/buttons'] {
			grid-area: buttons;
		}
		.wp-block[data-type='give/campaign-progress'] {
			grid-area: progress;
		}

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			'image heading'
			'image paragraph'
			'image buttons'
			'progress progress';
	}
}
