.post-type-give_campaign {

	/* Hide responsive "preview" in header. */
	.block-editor-post-preview__dropdown {
		display: none;
	}

	/* Hide the default post title input. */
	.edit-post-visual-editor__post-title-wrapper {
		display: none;
	}

	/* Set custom editor width. */
	.wp-block {
		max-width: 1100px;
	}

	.edit-post-visual-editor.editor-styles-wrapper {
		background-color: #f1f1f1;
	}
}

.wp-block[data-type='give/campaign-progress-bar'] {
	margin: 20px auto 0 !important;
	width: 100%;
	border: 1px solid #ebebeb;
	border-width: 1px 0;
	padding: 20px 10px;
}

.wp-block[data-type='give/campaign-editor'] {
	background-color: #fff;
	border-radius: 8px;

	box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.04);

	/* The inner wrapper for layout. */
	& > .block-editor-inner-blocks > .block-editor-block-list__layout {

		/* Condenses the layout. */
		.wp-block,
		.block-editor-block-list__block {
			margin-top: 0;
			margin-bottom: 0;
		}

		/* Condenses the layout, accounting for the alignment wrapper. */
		.wp-block[data-align] {
			height: auto;
		}

		.wp-block[data-type='core/image'],
		.wp-block[data-type='core/heading'] {
			margin-top: 30px;
		}

		.wp-block[data-type='core/image'] {
			grid-area: image;
		}
		.wp-block[data-type='core/heading'] {
			grid-area: heading;
		}
		.wp-block[data-type='core/paragraph'] {
			grid-area: paragraph;
		}
		.wp-block[data-type='core/buttons'] {
			grid-area: buttons;
		}
		.wp-block[data-type='give/campaign-progress-bar'] {
			grid-area: progress;
		}

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			'image heading'
			'image paragraph'
			'image buttons'
			'progress progress';
	}
}

// .wp-block[data-type="give/campaign-editor"] > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block::before {
//     content: "\f464";
//     font-family: 'dashicons';
//     opacity: .5;
//     position: absolute;
//     top: -15px;
//     left: -15px;
// }
