.givewp-elements-donationSummary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    margin-top: 2rem;
    background-color: #f2f2f2;

    & > strong {
        font-size: clamp(1.25rem, 0.8rem + 1.3vw, 1.5rem);
        font-weight: 400;
    }

    &__list {
        list-style-type: none;

        &-item {
            display: flex;
            padding: 1rem 0;
            justify-content: space-between;
            border-block-start: 0.0625rem solid #ccc;

            &:last-child {
                font-weight: bold;
            }
        }
    }
}
