.give-paypal-commerce-cc-field {
	height: 47px;
}

.give-paypal-commerce-single-cc-field-wrap {
	border: 1px solid #ccc;
	background-color: #fdfdfd;
	padding: 10px;
	height: 40px;
	margin: 0 0 15px 0;
}

.give-form .give-paypal-commerce-cc-field.focus,
.give-form .give-paypal-commerce-cc-field:focus {
	background-color: #fff;
}

#give-paypal-commerce-smart-buttons-wrap {
	margin-bottom: 0;
}
