.givewp-event-tickets {

    &__header {
        background-color: color-mix(in lab, var(--givewp-primary-color) 15%, white);
        color: var(--givewp-grey-900);
        column-gap: var(--givewp-spacing-2);
        display: grid;
        grid-template-columns: 3.5rem 1fr;
        grid-template-rows: auto;
        padding: var(--givewp-spacing-3) var(--givewp-spacing-4);
        position: relative;
        z-index: 1;

        &__date {
            align-items: center;
            background-color: var(--givewp-grey-5);
            border-radius: var(--givewp-rounded-4);
            color: var(--givewp-primary-color);
            display: flex;
            flex-direction: column-reverse;
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.4;
            gap: var(--givewp-spacing-1);
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            height: 3.5rem;
            justify-content: center;

            span {
                color: var(--givewp-grey-900);
                font-size: 0.625rem;
                font-weight: 400;
                text-transform: uppercase;
            }
        }

        &__title {
            font-size: 1.125rem;
            line-height: 1.56;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            margin: 0;
        }

        &__full-date {
            color: var(--givewp-grey-700);
            font-size: 0.75rem;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            line-height: 1.5;
            margin: 0;
        }

        &__ended {
            align-items: center;
            display: flex;
            grid-column: 3 / 4;
            grid-row: 1 / 3;

            span {
                background-color: var(--givewp-primary-color);
                border-radius: var(--givewp-rounded-4);
                color: var(--givewp-shades-white);
                font-size: 0.75rem;
                font-weight: 600;
                line-height: 1.5;
                padding: var(--givewp-spacing-1) var(--givewp-spacing-2);
                text-transform: uppercase;
            }
        }
    }

    &__description {
        margin-top: var(--givewp-spacing-5);

        p {
            color: var(--givewp-grey-700);
            font-size: 0.875rem;
            line-height: 1.5;
            margin: 0;
        }
    }

    &__tickets {
        display: flex;
        flex-direction: column;
        gap: var(--givewp-spacing-2);
        margin-top: var(--givewp-spacing-6);

        h4 {
            color: var(--givewp-grey-900);
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5;
            margin: 0;
        }

        &__ticket {
            align-items: center;
            border-radius: var(--givewp-rounded-2);
            border: 1px solid var(--givewp-grey-25);
            display: flex;
            gap: var(--givewp-spacing-4);
            padding: var(--givewp-spacing-4);

            &__description {
                display: flex;
                flex: 1 0 0;
                flex-direction: column;
                gap: var(--givewp-spacing-1);

                h5 {
                    color: var(--givewp-grey-900);
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 1.5;
                    margin: 0;
                }

                p {
                    color: var(--givewp-grey-700);
                    font-size: 0.875rem;
                    line-height: 1.5;
                    margin: 0;
                }
            }

            &__quantity {
                align-items: center;
                display: flex;
                flex-direction: column;
                flex: 0 0 6.25rem;
                gap: var(--givewp-spacing-2);
                justify-content: center;

                &__input {
                    align-items: center;
                    display: flex;
                    gap: var(--givewp-spacing-2);
                    justify-content: center;

                    button {
                        align-items: center;
                        background: none;
                        border: 0;
                        color: var(--givewp-grey-500);
                        display: flex;
                        height: 1.25rem;
                        line-height: 1.25rem;
                        margin: 0;
                        padding: 0;
                        width: 1.25rem;

                        &:hover {
                            cursor: pointer;
                        }

                        svg {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    input {
                        border-radius: var(--givewp-rounded-2) !important;
                        border: 1px solid var(--givewp-grey-700);
                        color: var(--givewp-grey-700) !important;
                        flex: 0 0 2.75rem;
                        font-size: 1rem !important;
                        font-weight: 600 !important;
                        height: 2.25rem;
                        margin: 0;
                        padding: var(--givewp-spacing-3) var(--givewp-spacing-2);
                        text-align: center;
                    }
                }

                &__availability {
                    color: var(--givewp-grey-700);
                    font-size: 0.75rem;
                    line-height: 1.5;
                    margin: 0;
                }

                &__sold-out {
                    background-color: color-mix(in lab, var(--givewp-primary-color) 15%, white);
                    border-radius: var(--givewp-rounded-4);
                    color: var(--givewp-primary-color);
                    font-size: 0.75rem;
                    font-weight: 600;
                    line-height: 1.5;
                    padding: var(--givewp-spacing-1) var(--givewp-spacing-2);
                }
            }
        }
    }
}
