.location-item {
	height: 72px;
	display: flex;
	align-items: center;
	padding: 0 16px;

	& p {
		margin: 0;
	}

	> .flag {
		object-fit: cover;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		overflow: hidden;
	}

	> .info {
		flex: 1;
		margin-left: 16px;
	}

	> .donations {
		text-align: right;
	}
}
