/* stylelint-disable selector-class-pattern */

.give-donor-dashboard__recurring-donations-link {
	display: inline-flex;
	justify-content: flex-end;

	a {
		color: #3398db;
		font-size: 14px;
		text-decoration: none;
		display: flex;
		align-items: center;
		border: none;

		svg {
			margin-right: 6px;
		}
	}
}
