.give-obw-card-input {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
	border: none;
	padding: 0;
	margin: 30px 0 50px;
}

.give-obw-card-input__option {
	position: relative;
	transition: all 0.2s ease-out;
	transform: scale(1) translateY(0);

	label {
		cursor: pointer;
	}

	.card-input-selected {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 1;
	}

	&:hover {
		transform: scale(1.02) translateY(-2px);

		.give-obw-card {
			box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
		}
	}
}

input:active + .give-obw-card-input__option .give-obw-card,
input:focus + .give-obw-card-input__option .give-obw-card {
	// Using a border as a selected state with border-box box-sizing,
	// creates a change in available content space within the box.
	// Instead, a box-shadow maintains width and border-radius.
	box-shadow: 0 0 0 2px #7ec980, 0 0 0 3px #4fa651, 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	transform: scale(1) translateY(0);
}

input[type='checkbox'] {
	position: absolute;
	opacity: 0;
}
