.give-obw-card-input {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;

	border: none;
	padding: 0;
}

.give-obw-card-input__option {
	position: relative;

	.card-input-selected {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 1;
	}

	.give-obw-card {
		&:hover {
			border-color: #888;
		}
	}

	&:focus-within .give-obw-card {
		outline: -webkit-focus-ring-color auto 1px;
	}
}

input:active + .give-obw-card-input__option .give-obw-card,
input:focus + .give-obw-card-input__option .give-obw-card {
	// Using a border as a selected state with border-box box-sizing,
	// creates a change in available content space within the box.
	// Instead, a box-shadow maintains width and border-radius.
	box-shadow: 0 0 0 3px rgb(105, 184, 107);
}

input[type='checkbox'] {
	position: absolute;
	opacity: 0;
}
