.givewp-filter-select__input {
   &:focus {
       outline: none !important;
       box-shadow: none !important;
   }
}

.givewp-filter-input {
    padding: 0.5rem 0.75rem;
    border: 1px solid #9ca0af;
    border-radius: 4px;
    font-size: 0.875rem;
    color: #060c1a;
    outline: none;
    box-shadow: none;
    
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: var(--givewp-neutral-500) !important;
    }
    
    &:hover {
        border-color: var(--givewp-neutral-500) !important;
    }
}