/*--------------------------------------------------------------
# Admin
--------------------------------------------------------------*/

.post-type-give_forms,
.give_forms_page_give-subscriptions {

	.wp-header-end + .notice {
		margin-top: 11px;
	}

	// Main heading.
	.wp-heading-inline,
	#give-subscription-list-h1,
	#give-subscription-details-h1 {
		margin: 0;
		padding: 10px 0;

		// Give icon.
		&:before {
			background: url('../images/give-icon-full-circle.svg');
			width: 30px;
			height: 30px;
			content: ' ';
			display: block;
			float: left;
			margin-right: 12px;
		}

	}

	// Remove padding so admin banner can stretch full width.
	#wpcontent {
		padding: 0;

        .wrap {
            padding-left: 20px;
        }
	}

	// Add padding to #wpbody accept on builder and settings screens.
	#wpbody {
		color: #000;
		position: relative;

		// Create a faux toolbar to position at the top of edit pages.
		&:after {
			content: '';
			background-color: #FFF;
			border-bottom: 1px solid #DBDBDB;
			height: 72px;
			left: 0;
			top: 46px;
			position: absolute;
			width: 100%;
			z-index: -1;

			@media(min-width: 601px) {
				top: 0;
			}
		}

		.wrap:not(.give-settings-page) {
			margin-top: 12px;
		}

		.wp-header-end {
			margin-top: 6px;

			@media(min-width: 601px) {
				margin-top: 15px;
			}
		}
	}

	// Some list tables without the filter container need more margin.
	&.give_forms_page_give-subscriptions
	{

		#wpbody .wp-header-end {
			@media(min-width: 601px) {
				margin-top: 25px;
			}
		}
	}

	// No margin for donor details
	&.give_forms_page_give-donors #wpbody .wp-header-end {
		margin-top: -1px;
	}

	// Hide the original Screen Options tab since we added our own.
	#wpbody #screen-meta-links {
		display: none;
	}

	@media(min-width: 783px) {
		// Style screen options drawer to blend in with background.
		#screen-meta {
			background-color: #FFF;
			border: 0;
			margin: 0;
		}

		// Position screen options in the top of the WPBR admin banner.
		#screen-meta-links {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
		}

	}

}

// The subheader is used on pages like Donations > Add-ons.
.give-subheader {
	background: #FFF;
	margin: 0 0 0 -22px;
	padding: 12px 20px;

	.give-subheader-right-text {
		float: right;
		font-size: 13px;
		line-height: 22px;
		font-style: italic;
		color: #555555;
		margin: 0;
		padding: 0;
	}

	h1 {
		float: left;
		font-size: 15px;
		line-height: 22px;
		color: #555555;
		font-weight: 600;
		margin: 0;
		padding: 0;
	}

	@media(max-width: 700px) {
		text-align: center;

		.give-subheader-right-text,
		h1 {
			float: none;
		}
	}

}
