.give-admin-progress-bar {
  height: 8px;
  position: relative;
  background: #EEE;
  border-radius: 25px;
  overflow: hidden;
  margin: 5px 0 2px;

  > span {
	display: block;
	height: 100%;
      border-radius: 20px;
      background-color: rgb(43, 194, 83);
	position: relative;
	overflow: hidden;
  }
}

.give-admin-goal-achieved {
  > .dashicons {
	color: $orange;
	font-size: 13px;
	height: 16px;
	width: 13px;
	line-height: 18px;
  }
}

#give-form-goal-stats {

  .inside {
	margin:0;
	padding: 15px;
	text-align: center;
  }

  .give-admin-progress-bar {
	margin-bottom: 10px;
  }

  .give-admin-goal-achieved {
	display:block;
	margin-top: 6px;
  }

}
