.give-sale-banners-container {
    position: relative;
    padding: 1.75rem 0 1.5rem 2.75rem;
    box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    /* Box-sizing reset */
    &,
    & *,
    & ::before,
    & ::after {
        box-sizing: border-box;
    }

    font-family: 'Open Sans', system-ui, sans-serif;

    #give-in-plugin-upsells & {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    .give_forms_page_give-payment-history &,
    .give_forms_page_give-donors &,
    .post-type-give_forms.post-new-php &,
    .post-type-give_forms.edit-php & {
        background-color: #fff;
        margin: -10px -20px 30px -20px;
        border-bottom: 1px solid #dbdbdb;
        padding: 30px 20px;
    }

}

.givewp-sale-banner {
    &__content {
        line-height: normal;
        font-style: normal;

        & h2 {
            font-size: 2rem;
            font-weight: 700;
            margin: 0;
            color: #022603;
            line-height: 1;

            & strong {
                color: #459948;
                font-weight: 900;
            }
        }

        & p {
            font-size: 1.25rem;
            font-weight: 500;
        }

        & a {
            display: inline-flex;
            padding: .75rem 1rem;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            background: #459948;
            border-radius: 36px;
            border: none;
            color: var(--shades-white, #FFF);
            font-size: 1.25rem;
            font-weight: 700;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                background: #2D802F;
            }
        }
    }

    &__dismiss {
        position: absolute;
        top: .5rem;
        right: .5rem;
        background: none;
        border: none;
        cursor: pointer;
    }
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .givewp-sale-banner__content {
        & h2 {
            font-size: 1.125rem;
        }

        & p {
            margin: .5rem 0 1rem 0;
            font-size: 0.875rem;
            line-height: 1.75rem;

        }

        & a {
            font-size: 1rem;
        }
    }
}


/* Media query for medium screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .givewp-sale-banner__content {
        & h2 {
            font-size: 1.125rem;
        }

        & p {
            font-size: 1.125rem;
            line-height: 1.5rem;
            margin: .75rem 0 1rem 0;
        }

        & a {
            font-size: 0.875rem;
        }
    }
}
