
/* =Primary button in shortcode tinymce dialog
-------------------------------------------------------------- */

.mce-primary.mce-sc-primary button {
	padding-right: 10px;
	padding-left: 10px;
}

.mce-sc-popup {
	overflow-y: scroll;
	max-height: 100% !important;
	top: 50% !important;
	transform: translate(0, -50%) !important;

	a {
		text-decoration: underline;
	}
	p {
		margin-bottom: 1em;
		&.strong {
			font-weight: 600;
		}
		&.no-margin {
			margin-bottom: 0;
		}
		&.margin-top {
			margin-top: 1em;
		}
	}
	// Crop text which overflow in listbox.
	.mce-listbox button{
		text-overflow: ellipsis;
		overflow: hidden !important;
	}
}

/* =Shortcode button above wp_editor
-------------------------------------------------------------- */

@media screen and (max-width: 782px) {
	.wp-media-buttons button.sc-button span {
		width: 18px !important;
	}
}

.wp-media-buttons {
	button.sc-button {
		outline: none;
		padding-left: 5px;
		margin-right: 0;

		&:active {
			margin-bottom: 5px;
		}
	}
}

button.sc-button {
	&:after {
		position: relative;
		display: inline-block;
		top: -1px;
		content: '';
		width: 0;
		height: 0;
		border-top: 6px solid #777;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		margin: 0 3px 0 6px;
	}

	&.active:after {
		top: -2px;
		border-top: 0;
		border-bottom: 6px solid #32373c;
	}
}

/* =Shortcode button dropdown menu
-------------------------------------------------------------- */

.sc-wrap {
	position: relative;
	display: inline-block;
	margin-right: 5px;
}

div.sc-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 100%;
	max-height: 410px;
	font-size: 14px;
	box-shadow: 0 3px 5px rgba( 0, 0, 0, 0.2 );
	background: #fff;
	border: 1px solid rgba( 0, 0, 0, 0.15 );
	overflow: auto;
	overflow-x: hidden;
	padding: 5px 0;
	margin: -2px 0 0;
	z-index: 1002;
}

div.sc-shortcode {
	display: block;
	white-space: nowrap;
	cursor: pointer;
	padding: 6px 12px;
	margin-bottom: 2px;

	&:hover {
		color: #fff;
	}
}

/* =Shortcode tinymce dialog backdrop
-------------------------------------------------------------- */

#mce-modal-block.mce-reset.mce-fade.mce-in {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
