/**
 * Strip Connect CSS
 * @since: 1.5
 */

.give-stripe-add-account-link_field {
	padding: 0 10px;
}

.give-stripe-connect-message > p {
	overflow: hidden;
	line-height: 30px;
	font-size: 15px;
}

#give-stripe-connect-banner {
	display: flex;
	align-items: center;
	justify-content: space-between;

	p {
		font-size: 16px;
		flex: 1 0 0;
	}

	#give-stripe-connect {
		margin-left: 10px;
	}
}

@media (max-width: 782px) {
	#give-stripe-connect-banner {
		flex-direction: column;
		align-items: flex-start;

		#give-stripe-connect {
			margin-left: 0;
			margin-top: 10px;
		}
	}
}

.give-stripe-connect-message #give-stripe-connect {
	margin-left: 10px;
}

.give-stripe-icon {
	display: inline-block;
	width: 12px;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

/* Temp dismiss button */
.give-stripe-connect-temp-dismiss {
	color: #bfbfbf;
	font-style: italic;
	text-decoration: none;
	font-size: 12px;
	float: right;
	outline: none;
}

a.give-stripe-connect-temp-dismiss:focus,
a.give-stripe-connect-temp-dismiss:active {
	outline: 0;
	box-shadow: none;
}

.give-stripe-connect-temp-dismiss span.dashicons {
	height: 14px;
	font-size: 12px;
	vertical-align: middle;
	width: 14px;
}

.give-stripe-webhook-explanation {
	color: #333;
}

// Hide transaction ID tag (not supported)
.give-settings-emails-tab {
	.give_stripe_transaction_id_tag {
		display: none;
	}

	&.give-settings-new-donation-section {
		.give_stripe_transaction_id_tag {
			display: block;
		}
	}
}

/**
 * Single Donor Page CSS
 */

.stripe-customer-id-label {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.give-stripe-customer-link {
	margin: 0 15px 0 10px;
	font-size: 15px;
	line-height: 24px;
}

.give-stripe-customer-id-input,
.give-stripe-customer-submit-wrap {
	display: none;
}

/* Connected Modal Support */
.give-stripe-connected-modal {
	.give-modal__title {
		font-weight: normal;
	}

	.give-modal__description {
		span {
			display: block;

			&:first-child {
				font-size: 14px;
			}
		}
	}
}

// Stripe Manage Accounts section
.give-stripe-account-manager-wrap .give-forminp-api_key {
	padding: 0 5px 25px;
}

@mixin give-stripe-setting-heading {
	margin: 12px 0 15px;
	font-size: 20px;
	color: #333;
	letter-spacing: 0.6px;
}

#give-stripe-account-manager-description {
	margin-bottom: 25px;

	h2 {
		@include give-stripe-setting-heading;
	}

	.give-stripe-subheading-description {
		font-size: 16px;
		color: #555;
		line-height: 26px;
		margin: 0 0 15px;
	}


}

.give-stripe-setting-heading {
	@include give-stripe-setting-heading;
}

.give-stripe-account-manager-container {
	display: flex;
	flex-direction: column-reverse;

	.main-heading {
		order: 2;
	}

	.give-stripe-connect {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #6772e5;
		color: white;
		padding: 6px 24px;
		border-radius: 5px;
		font-size: 16px;
		text-decoration: none;
		letter-spacing: 0.6px;
		transition: 0.3s ease all;

		.stripe-logo {
			padding: 2px 10px 0 0;
		}

		&:hover {
			background: #3f4ddf;
		}

	}
}

.give-stripe-account-manager-add-section {
	display: grid;
	grid-template-columns: 75px 3fr 1fr;
	grid-template-areas: "stripe-logo-with-circle give-stripe-heading give-setting-tab-body-gateways";
	background: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	margin: 0 0 30px;
	padding: 20px 24px;
	order: 3;


	.give-stripe-heading {
		text-transform: uppercase;
		line-height: 15px;
		letter-spacing: 1px;
		font-weight: normal;
		font-size: 20px;
		color: #4A5568;
		white-space: nowrap;
		float: left;
	}

	.give-setting-tab-body-gateways {
		align-self: center;
		justify-content: center;
		min-width: 235px;
	}

}

.stripe-logo-with-circle {
	border-radius: 50%;
	width: 55px;
	height: 55px;
	line-height: 76px;
	box-shadow: 0 0.75px 3px rgba(0, 0, 0, 0.25);
	text-align: center;
	vertical-align: middle;
	padding: 0;
	float: left;
}


.give-stripe-account-type-manual-modal__body {
	background: #fff;
	padding: 16px;
}

.give-stripe-account-type-manual-modal__frame {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

// --------------------------------
// No Connected accounts screen
// --------------------------------

.no-stripe-account-connected {
	display: flex;
	padding: 85px;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	background-color: #f4f4f4;
	text-align: center;

	.dashicons-info {
		color: #b6c0cb;
		font-size: 93px;
		width: 93px;
		height: 93px;
		overflow: visible;
		margin: 0 0 12px;
	}

	.give-stripe-settings-heading {
		margin: 0 0 6px;
		padding: 0;
	}

	p#give-stripe-connect-invite {
		font-style: italic;
		font-size: 16px;
		color: #555;
		padding: 0;
		margin: 0 0 25px;
	}
}

// --------------------------------
// Connect cards
// --------------------------------

.give-stripe-account-manager-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 32px;
	margin: 15px 0 0;
}


.give-stripe-account-manager-list-item {
	padding: 24px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	order: 1;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
	border: 1px solid #69b86800;
	border-radius: 8px;
	transition: 0.3s ease all;

	&.give-stripe-account-manager-list-item--default-account {
		border: 2px solid #69b868;
	}

	&:hover {
		transform: translate3d(0, -2px, 0);
		box-shadow: 0 2px 8px 0 rgb(0 0 0 / 25%);
	}

}

.give-stripe-label {
	font-size: 14px;
	line-height: 1.4;
	font-weight: 400;
	margin: 0 0 5px;
	color: #4a5568;
	letter-spacing: 0.5px;
	display: block;
}

.give-stripe-account-fieldset {
	margin: 0 0 20px;
}

.give-stripe-connect-data-field {
	font-size: 15px;
	color: #23282d;
	font-weight: 600;
}

.give-stripe-account-default-checkmark {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 24px;
	right: 24px;
}

.give-stripe-account-actions {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	.give-stripe-disconnect-account-btn {
		margin-left: 15px;
		font-size: 16px;
		color: #9EA3A8;

		.dashicons {
			text-decoration: none;
			margin-right: 5px;
		}

		&:hover {
			color: #0073AA;
		}
	}

}

.give-stripe-account-connected {
	background: #69b868;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	padding: 8px 16px;
	margin-top: 3px;
}

// "Default Account" pill
.give-stripe-account-badge {
	background: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
	font-size: 14px;
	padding: 10px 20px;
	border-radius: 24px;
	display: inline-block;
	margin-top: 8px;
	align-self: flex-start;
	color: #23282d;
}

.give-stripe-account-default {
	margin: 20px 0 0 3px;

	.give-stripe-account-set-default {
		font-size: 16px;
		font-weight: 500;
	}
}


.give-stripe-account-edit {
	padding: 5px 0 0 10px;
	font-size: 12px;

	> a {
		margin: 0 10px;
	}

	.give-stripe-account-cancel-name {
		margin-left: 0;
	}
}

.give-stripe-default-account-notice {
	border: 1px solid #F49420;
	background: #FFF4E7;
	margin: 30px 0 0;
	padding: 20px;
	border-radius: 3px;
	color: #333;

	.dashicons {
		font-size: 65px;
		float: left;
		color: #F49420;
		position: relative;
		top: -3px;
		left: -5px;
	}

	&__inner {
		padding-left: 70px;
	}

	p {
		font-size: 16px;
		margin: 0 0 5px;

		&:last-of-type {
			margin-bottom: 0;
		}

	}

}
