/**
 * Customizes the default .nav-tab-wrapper with GiveWP style admin tabs.
 */

.give-nav-tab-wrapper {
	background: $settings-tabs-bg;
	border: none !important;
	padding-top: 0;
	overflow: hidden;

	.nav-tab {
        border: none;
        margin: 0;
        padding: 15px 30px;
        outline: none;
        box-shadow: none;
        background: $settings-tabs-bg;

        &:hover {
            background: $settings-tabs-tg-hover;
        }

        &.nav-tab-active {
            background: $settings-tabs-tg-active;
            box-shadow: inset 0 4px 0 $give-green;
            margin: 0;
        }
    }
}

.give-nav-addons-tab {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    min-height: 54px;
    width: 127px;
    padding: 0 17px;
    background: #F2F9FF;
    text-decoration: none;

    & span {
        color: #F2F9FF;
        background: #0C7FF2;
        padding: 4px 8px;
        border-radius: 4px;
    }
}


@media screen and (max-width: 600px) {
    .give-nav-tab-wrapper {
        position: relative;
        padding-top: 0 !important;

        > a {
            width: 100%;
            box-sizing: border-box;
            margin: 0;
            background-color: #ffffff;
            border: 1px solid #cccccc;

            &:hover {
                border-bottom: 1px solid #ccc;
            }
        }

        div.give-sub-nav-tab-wrapper {
            position: absolute;
            top: 0;
            right: 0;

            #give-show-sub-nav {
                height: 28px;
                width: 30px;
                border-radius: 0;
                margin: 0;

                > span.dashicons {
                    margin: 6px auto 0;
                    display: block;
                }

            }

            nav.give-sub-nav-tab {
                top: 35px;
                right: 0;
                left: auto;

                a {
                    background: #ffffff;

                    &:hover {
                        background: #e5e5e5;
                    }
                }
            }
        }

	}

	.give-mobile-hidden {
		display: none;
	}
}

.give-sub-nav-tab-wrapper {
	position: relative;
	z-index: 999;
	float: left;
	// By default hide setting tab wrapper.
	display: none;

	nav.give-sub-nav-tab {
		border: 1px solid #f1f1f1;
		border-bottom: none;
		position: absolute;
		top: 37px;
		right: 0;

		a {
			float: left;
			background: white;
			padding: 8px 10px;
			clear: both;
			text-decoration: none;
			border-bottom: 1px solid #f1f1f1;
			min-width: 170px;
			color: #555;
			font-size: 14px;
			font-weight:600;
		}

		a:hover {
			background: $settings-tabs-tg-hover;
		}
	}
}

#give-show-sub-nav {
	text-decoration: none;
	padding: 3px 4px;
	border-bottom: 1px solid #ccc;
	line-height: 0;
	background: white;
	border-radius: 4px;
	margin: 15px 0 0 10px;

	> span.dashicons {
		font-size: 16px;
		height: 16px;
		width: 16px;
	}

	&:hover,
	&:active {
		outline: none;
		box-shadow: inset 0px 0px 4px #ddd;
	}

}
