/**
 * Customizes the default .nav-tab-wrapper with GiveWP style admin tabs.
 */

.give-nav-tab-wrapper,
.wrap h2.give-nav-tab-wrapper {
	background: $settings-tabs-bg;
	border: none !important;
	padding-top: 0;
	overflow: hidden;

	.nav-tab {
		border: none;
		margin: 0;
		padding: 15px 30px;
		outline: none;
		box-shadow: none;
		background: $settings-tabs-bg;

		&:hover {
			background: $settings-tabs-tg-hover;
		}

		&.nav-tab-active {
			background: $settings-tabs-tg-active;
			box-shadow: inset 0 4px 0 $give-green;
			margin:0;
		}
	}

}
