$wpbr-space: 20px;
$wpbr-space-half: $wpbr-space * 0.5;
$hintPrefix: "give-shortcode-tooltip--";
$hintFontSize: 12px;
$hintFontFamily: inherit;
$hintVerticalPadding: $wpbr-space-half;
$hintHorizontalPadding: $wpbr-space-half;
$hintSizeSmall: $wpbr-space * 4;
$hintSizeMedium: $wpbr-space * 7;
$hintSizeLarge: $wpbr-space *14;
$hintDefaultColor: #141414;
$hintTransitionDuration: 0;

@import "~hint.css/src/hint.scss";

.give-shortcode-tooltip {
	font-weight: normal;
	cursor: help;

	&:after {
		box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
		text-shadow: none;
	}

	& .dashicons {
		font-size: 16px;
		vertical-align: middle;
		margin-right: 2px;
	}
}
