.givewp-design-settings--image-style {
    &__background {
        .givewp-layouts-header {
            position: relative;
            margin-bottom: 10rem;
            background: none;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: -2rem;
                width: calc(100% + 4rem);
                height: 290px;
                --tint-color: rgba(30, 140, 190, 0.4); /* Note: Color needs to be converted to RGB values. */
                --tint: linear-gradient(90deg, var(--tint-color), var(--tint-color));
                background-color: rgb(30, 140, 190);
                background-image: var(--givewp-design-settings-background-image);
                background-position: 50%;
                background-size: cover;
            }

            .givewp-layouts-headerTitle > h2, .givewp-layouts-headerDescription > p {
                position: relative;
                transform: translateY(5rem);
                color: var(--givewp-shades-white);
                z-index: 999;
            }
        }

        .givewp-layouts-goal {
            transform: translateY(10rem);
        }


        .givewp-donation-form__steps-body {
            padding-top: 0;
        }
    }

    &__cover {
        /*
         * Note: This requires that the Header.tsx template wrap the title/description.
         *       The below examples adds the `.givewp-layouts-headerCover` wrapper.
         */

        position: relative;
        padding: 7em 0;

        .givewp-donation-form__steps {
            overflow: visible;
            transform: translateY(7rem);

            &-body {
                background: var(--givewp-shades-white);
                border-radius: 0.5rem;

                :after {
                    position: absolute;
                    top: -75%;
                    width: 145%;
                    height: 128%;
                    z-index: -1;
                    --tint-color: rgba(30, 140, 190, 0.4); /* Note: Color needs to be converted to RGB values. */
                    --tint: linear-gradient(90deg, var(--tint-color), var(--tint-color));
                    background-color: rgb(30, 140, 190);
                    background-image: var(--tint, linear-gradient(transparent, transparent)), var(--givewp-design-settings-background-image);
                    background-size: cover;
                    background-repeat: no-repeat !important;
                }
            }
        }

        .givewp-layouts-headerTextWrapper {
            position: absolute;
            top: -10rem;
            left: 0;

            .givewp-layouts-headerTitle h2, .givewp-layouts-headerDescription p {
                color: var(--givewp-shades-white);
            }
        }
    }

    &__above {
        .givewp-donation-form__steps-body {
            padding-top: 0;
        }

        // Flatten image borders when logo is available.
        &.givewp-design-settings--logo {
            .givewp-layouts-header::after {
                border-radius: 0;
            }
        }

        .givewp-layouts-header {
            margin-top: 320px;
            position: relative;
            border-radius: 0;
        }

        .givewp-layouts-header > div:first-child {
            padding-top: var(--givewp-spacing-6);
        }

        .givewp-layouts-header::after {
            content: "";
            position: absolute;
            top: -320px;
            left: -4rem;
            min-width: calc(100% + 6rem);
            width: 100%;
            height: 320px;
            background-image: var(--givewp-design-settings-background-image);
            background-position: 50%;
            background-size: cover;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
    }

    &__center {
        .givewp-donation-form__steps-body {
            padding-top: 1.5rem;
        }

        .givewp-layouts-goal {
            margin-top: 350px;
            position: relative;
            border-radius: 0.5rem;
        }

        .givewp-layouts-headerTitle h2,
        .givewp-layouts-headerDescription {
            color: var(--givewp-grey-900);
        }

        .givewp-layouts-goal::after {
            content: "";
            position: absolute;
            top: -320px;
            left: 0;
            width: 100%;
            height: 315px;

            background-image: var(--givewp-design-settings-background-image);
            background-position: 50%;
            background-size: cover;
            border-radius: 0.5rem;
        }
    }
}

.givewp-design-settings--image-style__cover {
    &.givewp-design-settings--logo {
        :has(.givewp-layouts-multiStepForm) {
            .givewp-donation-form__steps-body {
                margin-top: -.5rem;
            }

            .givewp-donation-form__steps-header {
                margin-top: -12.75rem;
            }
        }

        &.givewp-donation-form {
            padding-bottom: 12rem;
        }

        &.givewp-donation-form::after {
            width: 145%;
            left: -22.5%;
            top: -13%;
        }
    }
}

.givewp-layouts-multiStepForm {
    :after {
        display: none;
    }
}
