.givewp-design-settings--logo {
    --givewp-logo-container: 5rem;
    position: relative;
    width: 35rem;
    margin: 0 auto;

    .givewp-donation-form__steps {
        border-top: none;
        border-bottom: none;
        box-shadow: var(--givewp-shadow-md);
        padding-top: 4.3rem;
        background: var(--givewp-shades-white);

        &-header {
            margin-top: -4.25rem;
        }
    }

    .givewp-layouts-header {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            height: var(--givewp-logo-container);
            top: calc(-1.15 * var(--givewp-logo-container));
            left: -7%;
            width: 35.75rem;
            padding: var(--givewp-spacing-6) var(--givewp-spacing-10);
            background-size: contain;
            background-color: white;
            background-position: left; /* left, center, or right */
            background-origin: content-box;
            background-image: var(--givewp-design-settings-logo);
            z-index: 1;
        }
    }
}


.givewp-design-settings--logo-position {
    &__left {
        .givewp-layouts-header:after {
            background-position: left; /* left, center, or right */
        }
    }

    &__center {
        .givewp-layouts-header:after {
            background-position: center; /* left, center, or right */
        }
    }

    &__right {
        .givewp-layouts-header:after {
            background-position: right; /* left, center, or right */
        }
    }
}


.givewp-design-settings--image-style__background {
    &.givewp-design-settings--logo {
        .givewp-donation-form__steps {
            padding-top: 5rem;

            &-header {
                margin-top: -5rem;
            }
        }
    }
}

.givewp-design-settings--image-style__above {
    &.givewp-design-settings--logo {
        .givewp-donation-form__steps {
            padding-top: 2.25rem;

            &-header {
                margin-top: -2.25rem;
            }
        }

        .givewp-layouts-header:after {
            top: -100%;
        }
    }
}
