@import "@fortawesome/fontawesome-free/css/all.css";

@layer base {
    @import "pico";
}

@layer base-elements {
    @import "elements/iframe";
    @import "elements/icons";
    @import "elements/header";
    @import "elements/form";
    @import "elements/sections";
    @import "elements/groups";
    @import "elements/fields";
    @import "elements/multi-step-form";
}

@layer base-components {
    @import "components/gateways";
    @import "components/goal";
    @import "components/amount";
    @import "components/donation-summary";
    @import "components/receipt";
    @import "components/pagination";
    @import "components/billingAddress";
    @import "components/form-errors";
}

@layer base-overrides {
    @import "base-overrides";
}

@layer base-design-settings {
    @import "design-settings/image";
}
