name: PHP Compatibility

on:
    push:
    pull_request:
    workflow_call: # Allows you to use this workflow as part of another workflow
    workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

jobs:
    build:
        uses: impress-org/givewp-github-actions/.github/workflows/php-compatibility.yml@master
        with:
            test_versions: "[ '7.2', '8.0' ]"
