name: Build Plugin Pre-Release

on:
    release:
        types: [ prereleased ]

jobs:
    tests:
        runs-on: ubuntu-18.04
        strategy:
            matrix:
                php: [ 5.6, 7.2 ]
                mysql: [ 'mysql:5.6', 'mysql:8.0' ]
                wordpress: [ '4.9', '5.0', '5.1', '5.2', '5.3', '5.4', '5.5', latest ]

        services:
            mysql56:
                image: mysql:5.6
                env:
                    MYSQL_ROOT_PASSWORD: root
                ports:
                    - 3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

            # This was a total pain to get setup. The default authentication plugin changed in MySQL 8 and is incompatible
            # with WordPress. So it needs to be set back to mysql_native_password. The best way to do this is to use the
            # command option in docker to apply it once the container is set up... but Github Actions does not support this.
            # The workaround is to execute the command in the options, but it is VITAL that it is the LAST option and that any
            # environment variables are added via options. DO NOT ADD THE ENV LINE IN YAML. You've been warned.
            # @see https://github.com/docker-library/mysql/issues/690
            mysql80:
                image: mysql:8.0
                ports:
                    - 3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3 -e MYSQL_ROOT_PASSWORD=N0Tweak!@123! --entrypoint sh mysql:8.0 -c "exec docker-entrypoint.sh mysqld --default-authentication-plugin=mysql_native_password"

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            -   uses: actions/checkout@v2

            -   name: Cache dependencies
                uses: actions/cache@v1
                with:
                    path: ~/.composer/cache/files
                    key: dependencies-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, mysql, mysqli, pdo_mysql, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
                    coverage: none

            -   name: Install composer dependencies
                uses: php-actions/composer@v5
                with:
                    php_version: ${{ matrix.php }}

            -   name: Store MySQL details in environment
                run: |
                    case "$MYSQL_VERSION" in
                      'mysql:5.6')
                        MYSQL_PORT=${{ job.services.mysql56.ports[3306] }}
                        MYSQL_PASS=root
                        ;;
                      'mysql:8.0')
                        MYSQL_PORT=${{ job.services.mysql80.ports[3306] }}
                        MYSQL_PASS=N0Tweak!@123!
                        ;;
                    esac
                    echo "mysql_port=$MYSQL_PORT" >> $GITHUB_ENV
                    echo "mysql_pass=$MYSQL_PASS" >> $GITHUB_ENV
                env:
                    MYSQL_VERSION: ${{ matrix.mysql }}

            -   name: Set Up Tests
                run: bash tests/unit/bin/install.sh wordpress_test root ${{ env.mysql_pass }} 127.0.0.1:${{ env.mysql_port }} ${{ matrix.wordpress }}

            -   name: Run Tests
                run: php -d memory_limit=-1 vendor/bin/phpunit
                env:
                    DB_PORT: ${{ env.mysql_port }}

    build:
        uses: impress-org/givewp-github-actions/.github/workflows/pre-release.yml@master
        with:
            plugin_slug: give
            zip_name: give
