body {
	max-width: 450px;
	min-width: 320px;
	margin: 0;
	padding: 0;
	border: 1px solid #e1e1e1;
	font-family: 'Montserrat', sans-serif;
}


.give-section.introduction{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	text-align: center;

	h2, p{
		margin: 0;
	}

	.headline{
		width: 25%;
		border: 2px solid #2bc253;
		border-radius: 10px;
	}

	img{
		width: 100%;
		margin-bottom: 0;
	}

	> *{
		margin-bottom: 14px;
	}
}

.give-section.form-stats {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	background-color: #F9F9F9;

	.number{
		font-weight: bold;
	}

	> div{
		display: flex;
		flex: 1 1 0%;
		flex-direction: column;
		align-items: center;

		border-left: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;

		padding: 10px;
	}
}

.give-section.progress-bar{
	padding: 19px 10px;
	border-bottom: 1px solid #e1e1e1;
}

/**
 * Override style
 */
.give-embed-form{
	.give_error{
		&:before{
			content: none;
		}
	}

	&.give-form-wrap{
		.give_error:first-child{
			margin-top: 0;
		}
	}

	.give-total-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 17px;
		margin-bottom: 20px;

		div.give-donation-amount{
			&:before{
				content: none;
			}
		}

		span.give-currency-symbol {
			background-color: transparent!important;
			border: 0 !important;
			position: relative;
			z-index: 3;
			padding: 10px 12px !important;
		}

		input[type=tel] {
			position: relative;
			left: -35px;
			border-radius: 6px !important;
			width: 170px !important;
			padding: 25px 20px 25px 42px !important;
			font-weight: bold;
		}

		.give-donation-amount{
			&:before,
			&:after{
				content: none !important;
			}
		}
	}

	.give-donation-levels-wrap{
		display: grid;
		grid-gap: 15px;
		grid-template-columns: repeat(3, 1fr);
		padding: 0 5% !important;

		&:before,
		&:after{
			content: none !important;
		}

		li{
			margin: 0 !important;
		}

		li:last-child{
			grid-column: 1 / span 3;
		}
	}

	.give-donation-level-btn{
		background: white;
		color: black;
		border-radius: 30px;
		padding: 15px 23px;
		width: 100%;

		&:hover{
			border-color: #2bc253;
			color: #2bc253;
		}
	}
}
