body {
	max-width: 450px;
	min-width: 320px;
	margin: 0;
	padding: 0;
	border: 1px solid #e1e1e1;
}


.give-section.introduction{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	text-align: center;

	h2, p{
		margin: 0;
	}

	.headline{
		width: 25%;
		border: 2px solid #8484d4;
		border-radius: 10px;
	}

	img{
		width: 100%;
	}

	> *{
		margin-bottom: 14px;
	}
}

/**
 * Override style
 */
.give-embed-form{
	.give_error{
		&:before{
			content: none;
		}
	}
}
