.summaryTableValues {
    display: flex;
    flex-direction: column;
    gap: var(--givewp-spacing-1);
    margin: 0;

    p {
        margin: 0;

        &:first-child {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5;
            color: #459948;
            text-align: right;
        }

        &:last-child {
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.43;
            color: #4b5563;
        }
    }
}
